[2016-09-26 18:53] willdean commented on #603
I've pushed some work onto #580 which addresses this.

[2016-09-26 18:53] #603 closed

[2016-09-27 07:36] Trapulo commented on #602
@willdean I tried, still all repos are cleared. Descriptions = "Description Discovered in file system. "

Maybe I make something wrong during upgrade?

[2016-09-27 14:02] willdean commented on #602
@Trapulo Thanks very much for trying - could you please try again with this version: https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/455/artifacts which has some changes in that I made last night.

It's not anything you're doing wrong - it needs to just work.

[2016-09-28 15:30] RobertMcCoy commented on #558
[code]

My running theory is it has no default LDAP credentials...so how could it ever verify that a user exists or not if it cannot see information in the first place? But, I'm not a server/network admin, so I have no way to verify if that's truly the issue, as the only thing all of this logging suggests is that there are no users being generated from AD (which makes me think the above)

[2016-09-28 15:40] willdean commented on #558
Thanks very much for this - does this SO thread cast any light:

http://stackoverflow.com/questions/7285503/active-directory-com-exception-an-operations-error-occured-0x80072020/19036826#19036826

Perhaps this is an issue with the user that IIS is using for Bonobo?

[2016-09-29 07:08] willdean commented on #602
@Trapulo Please disregard the link above, I've merged the code into the master branch, so could you please try https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/artifacts instead.  Thanks.

[2016-09-29 07:09] #599 closed

[2016-09-30 17:58] RobertMcCoy commented on #558
Potentially. I believe I have full administrator rights on the server on which the website resides. I will speak with one of our server guys on getting the administrator logon for the server and see if that impacts performance.

[2016-10-04 08:33] CTotophe opened #604 "Cannot work after install it by follow installation tutorial : WIN 10/VS2015"
Hi!

I am trying to run bonobo git server on my win 10. I have already install VS 2015 and IIS tools.
I converted the 5.2.0 zip to an application. But I run http://localhost/Bonobo.Git.Server, I have a blank page with no error.
I have any idea.

Thanks for your help.

[2016-10-04 08:41] willdean commented on #604
@CTotophe It's a bit beyond the developers on the project to be able to help with general IIS setup issues - you'll need to find a basic guide on getting ASP.Net applications running under IIS.

You shouldn't need Visual Studio to get Bonobo running, and that's a very complex tool if you're not familiar with it.

You might find that running `dism /online /enable-feature /featurename:NetFx4Extended

[2016-10-04 08:41] #604 closed

[2016-10-04 11:45] CTotophe commented on #604
@willdean I understand, I think too that the problem is IIS config. I will continue to search.

I know that Bonobo shouldn't need Visual Studio. I would like work visual studio and GIT. Actually, I work with subversion.

Thank @willdean

[2016-10-04 13:36] CTotophe commented on #604
@willdean I understand, I think too that the problem is IIS config. I will continue to search.

I know that Bonobo shouldn't need Visual Studio. I would like work visual studio and GIT. Actually, I work with subversion.

Thank @willdean

[2016-10-06 19:09] CTotophe commented on #604
@willdean I resolved my problem, I reinstall all IIS components.

Thanks :)

[2016-10-06 20:38] willdean commented on #604
Cool!  Thanks for letting us know

[2016-10-07 09:40] Trapulo commented on #602
@willdean mmmm is didn't create Roles and Repos folders under app_data\AdBackend.
Manually creating them, it starts but repo list is empty

[2016-10-07 09:50] willdean commented on #602
@Trapulo - thanks very much for trying this - there must have been some failure early during the update - can you see if there is an exception stack trace in the error log in \app_data?

[2016-10-07 09:59] Trapulo commented on #602
w3wp.exe Error: 0 : Server Error occured and caught in Global.asax - System.Web.HttpException (0x80070006): The remote host closed the connection. The error code is 0x80070006.
   at System.Web.Hosting.IIS7WorkerRequest.RaiseCommunicationError(Int32 result, Boolean throwOnDisconnect)
   at System.Web.Hosting.IIS7WorkerRequest.ExplicitFlush()
   at System.Web.HttpResponse.Flush(Boolean finalFlush,

[2016-10-07 10:15] willdean commented on #602
@Trapulo Thanks for that - that's some kind of error during a Git call - it's not related to this update.  A relevant update exception would have UpdateADBackend somewhere in the stack.

I guess we just need to make the update much more robust, so that it can carry on even if it has problems with a specific role/team/whatever.  Then we could narrow down what's actually breaking in your case.  Than

[2016-10-14 07:35] 68681395 opened #605 "should Bonobo have a Captcha on the login page"
in my cases , i offen deploy bonobo to public to internet, so , it will received a lot of attacks. so I think captcha is helpfull to some body like me.

[2016-10-14 07:37] 68681395 commented on #605
i am add the smart captcha function in my fork, and if you dont like this function , you can disable this captcha function in Global Setting page.

[2016-10-20 19:36] dniesen opened #607 "Changing from Internal Membership to Active Directory loses repo settings"
A previous team installed Bonobo Git and we've taken it over and would prefer to use the Active Directory member service instead of the Internal.  We tried switching to ActiveDirectory but after the change all of the repo settings are lost.  Switching back to Internal member service brings the repo settings back with no problem.

Is there a supported way of switching between the two?

[2016-10-20 20:02] willdean commented on #607
@dniesen Sadly, I don't think this is easy to do, because for reasons unknown to the current developers, when you're using AD, all the database info is stored in a separate home-brew json database, rather than in the Sqlite DB.

I think this is unfortunate for several reasons, yours being one of them.

I'm not aware of a straightforward way to transfer everything, either, thought it wouldn't be a

[2016-10-26 16:22] anyeloamt1 opened #608 "Improve spanish i18n."
On `Global settings` and `Repository creation` screens spanish language isn't complete.

[2016-10-26 17:35] #608 closed

[2016-10-26 19:04] cantabria opened #610 "Images previews are not available"
After update to last build, when I browse a repository, previews  of image files are not available.
Even if the "src" attribute value is set, the <img> tag shows only the value of "alt" attribute (filename).

As I can see, on GET request ('/Bonobo.Git.Server/Repository/Raw?encodedPath=images%2Ficon.png'), the Bonobo.Git.Server returns only an 'HTTP/1.1 302 Found'.

The dowload anchor works correct

[2016-11-01 17:05] benthurley82 opened #611 "API to access bonobo?"
Is there an API to access bonobo programatically? Specifically I'm thinking of using the Jenkins job DSL plugin to automatically create CI jobs when new repos are added. To do this I would need to write a script that monitors for new repos being added.

I suppose if there is no API then we could write a script that looks for repos directly on the filesystem. It looks like github does have such an

[2016-11-10 17:09] djjohnjosephuk opened #612 "404 on browsing to *.git within app"
Browsing to any of the repository URLs ('General URL' from the repository details page) with the .git extension gives a 404. Committing and pushing to that URL from git commands is fine, it's just browsing to the URL within the app that doesn't work.

I've tried adding .git as a file extension within IIS but this did't do anything. The 404 is handled by bonobo rather than IIS so i'm hoping there's

[2016-11-10 17:14] willdean commented on #612
You can't browse to the Git URLs, they're just intended to be for use with the Git http protocol.

I don't think this is considered to be a bug (it doesn't stop you doing anything), but it's probably an opportunity for improvement.

See #449 for some past discussion of this.

[2016-11-10 17:14] #612 closed

[2016-11-16 08:38] Elite-stay opened #614 "Cannot show Chinese on diff of Committing"
Files use ANSI coding.

[2016-11-21 12:07] rogerjak opened #615 "Windows Server 2016 TargetInvokationException"
I can't get Bonobo 5.2 working on WS2016 in IIS. Any ideas?

Exception information:
    Exception type: TargetInvocationException
    Exception message: Exception has been thrown by the target of an invocation.
   at System.RuntimeMethodHandle.InvokeMethod(Object target, Object[] arguments, Signature sig, Boolean constructor)
   at System.Reflection.RuntimeMethodInfo.UnsafeInvokeInternal(Object ob

[2016-11-21 12:15] willdean commented on #615
Oh, the joys of a .NET stack trace in 2016.  Not a single line of Bonobo code in it.

Are you in a position to build Bonobo from source?

[2016-11-21 12:23] rogerjak commented on #615
Trying that now, but in the meantime I get this in Bonobo.Git.Server.Errors.log:
Native library pre-loader is trying to load native SQLite library "Z:\www-root\Bonobo\bin\x64\SQLite.Interop.dll"...

[2016-11-21 12:37] rogerjak commented on #615
Ok built from source (master) and I now get this:

Native library pre-loader is trying to load native SQLite library "Z:\www-root\Bonobo\bin\x64\SQLite.Interop.dll"...
w3wp.exe Error: 0 : Server Error occured and caught in Global.asax - System.Web.HttpCompileException (0x80004005): c:\Windows\Microsoft.NET\Framework64\v4.0.30319\Temporary ASP.NET Files\root\b4aeed19\8fb04544\App_Web_logon.cshtml.a

[2016-11-21 12:54] willdean commented on #615
The SQLite message in the error log is not an error - it's just a component being noisy.

Are you able to run under a debugger, and single-step Bonobo.Git.Server.Startup.Configuration?

[2016-11-21 13:20] rogerjak commented on #615
I tried remote debugging but I can't set breakpoints and when it crashes all I get is disassembly :(

[2016-11-21 14:19] rogerjak commented on #615
Solved it, it was Application_Start in global.asax that didn't get hit.
The cause was some "precompiled-files" lingering in the folder, but strange since is has been working in Server 2012 R2 with the exact same Bonobo-installation before. Anyway, now it works, compiled from source, will see what happens when I upgrade Bonobo with new releases.

[2016-11-21 14:41] willdean commented on #615
Glad you're sorted.

[2016-11-21 14:41] #615 closed

[2016-11-24 13:00] holiiveira opened #616 "Date format"
Is it possible to change the date format that is shown without confirmation?

`MM/dd/yyyy HH:mm:ss to dd/MM/yyyy HH:mm:ss`

![commit_date](https://cloud.githubusercontent.com/assets/4368491/20599347/c17ae56e-b234-11e6-8d7a-f5472965bdbd.PNG)

![iis_format](https://cloud.githubusercontent.com/assets/4368491/20599343/bf1481ae-b234-11e6-8b0a-ee8a9b0b982f.PNG)

[2016-11-24 13:24] willdean commented on #616
What is the date order in the pt-BR culture?

[2016-11-24 15:12] mauricio-sonegatti commented on #616
In pt-BR culture the date order is dd/MM/yyyy HH:mm:ss

[2016-11-24 15:32] willdean commented on #616
For some reason, in commit 04aa67ba8 a couple of date formattings were changed to use `CultureInfo.InstalledUICulture`, which I don't think is correct (presumably it made some problem that someone at the time was having go away, but only really by luck).

Assuming you can't change the default locale for your whole server, then this will need to be fixed in Bonobo.

If you're in a position to try t

[2016-11-24 16:44] holiiveira commented on #616
Thanks for the feedback.
I made a change, including some entries for the pt-BR translation.

Regards

[2016-11-24 17:18] #616 closed

[2016-11-25 13:32] holiiveira opened #620 "Repository directory in network mapping."
In the repositories directory configuration, I'm having trouble using a directory that is mapped to the network, for example: `Z:\repoTest`

I tried configuring my application pool with a user who allowed access to the mapping, but I was not successful.

There may be other settings that I do not know or `Directory.Exists` does not work well with network mapping.

Note: If I use an absolute path, e

[2016-11-25 14:26] mauricio-sonegatti commented on #620
As far as I know... in windows the mapped network drives are linked to the current user, software that run in form of services can´t use that directory.
Same principle may apply to bonobo running from iis, but I digress.

[2016-11-25 15:12] willdean commented on #620
Instead of an explicit IP address, could you live with a UNC path to a named server instead?  \\servername\share\...?

[2016-11-25 15:23] holiiveira commented on #620
Yes, I can use it. It's just that I was curious about not working on a mapped network drive. I thought I might have failed in some configuration.

Thanks for the feedback.

[2016-11-25 18:03] #620 closed

[2016-11-28 19:47] holiiveira opened #621 "Repository permission"
I have the following situation:

Active Directory tree:

[code]

As user 'admin' of the 'gitAdmin' group, I left the option: 'Allow user repository creation' selected.
As a 'desenv' user of the 'gitDesenv' group, I create a new 'repoTest' repository and leave only with administrator permission for the 'desenv' user.

The created repository is not listed for the 'desenv' user.
However, it is access

[2016-11-29 10:07] #621 closed

[2016-11-30 06:05] martinrotter opened #622 "Cannot install"
I followed your install guide to a letter.

Yet, this [shows up](https://snag.gy/UBI9Oj.jpg).

[2016-11-30 09:40] holiiveira commented on #622
This is what worked for me:

Windows Server 2012, IIS 8.5. Should work for other versions too.

1. Go to server manager, click add roles and features
2. In the roles section choose: Web Server
2.1. Under Security sub-section choose everything (I excluded digest, IP restrictions and URL authorization as we don't use them)
2.2. Under Application Development choose .NET Extensibility 4.5, ASP.NET 4.5

[2016-12-01 12:54] lkho commented on #610
this is a routing bug since /Repository/Raw?encodedPath=... does not have the tree/repo ID inside the url, so it redirects to the /Repository/Index.

pr #613 should be fixing such routing bugs and also some image preview problem.

[2016-12-06 11:48] mkaring commented on #342
Was there already anything done in that direction? The LFS support, even if the web part does not support it right now, is something that would come in really handy.

[2016-12-06 12:10] willdean commented on #342
@mkaring I'm not aware of anything being done on it so far.  I'd probably do it if I had a pressing requirement for it on a specific project.  Do you fancy having a go?

[2016-12-06 13:11] mkaring commented on #342
@willdean Okay. I'll give it a shot.

[2016-12-14 13:48] KY4U opened #630 "Tree listing shows only first 5 commit messages"
When browsing a repository that contains more than five folders / files, only the first five listings will show the commit message and commit date.

I'm using the latest code from the master branch.

![image](https://cloud.githubusercontent.com/assets/13239124/21184294/cec93702-c1d9-11e6-8933-1f5f260c2346.png)

[2016-12-19 18:27] sanjoo88 opened #631 "403 error while trying to clone the repository using git bash"
I have installed the latest version of bonobogitserver. Configured everything as instructed. I can create repository from the bonobogitserver UI. But when I am trying to push any changes or clone the repository using GIT bash I am getting 403 error. I am trying to configure it in a azure windows server 2016 on IIS.

![image](https://cloud.githubusercontent.com/assets/18001913/21324201/c821bf52-c64

[2016-12-20 11:18] holiiveira commented on #631
I tested in my environment: Server 2008 R2 and IIS 7.
Latest version of Bonobo. It worked normally.

Make sure it is not some proxy setting.

[2016-12-20 14:10] sanjoo88 commented on #631
Yes I think you are right.. It was because of the proxy setting..

[2016-12-20 14:11] #631 closed

[2016-12-21 02:13] topcss opened #632 "I can't find the Tags"
![folding](https://cloud.githubusercontent.com/assets/2252451/21375058/ef224386-c765-11e6-9535-fde903898b3b.gif)

like this. ;)
In version 5.2.0.0

[2016-12-21 13:46] holiiveira opened #633 "Pagination Commits."
In the latest version, when pagination occurs on the page pages, the page is incorrect. Regardless of the page I choose, it does not change the commits that are appearing, this does not occur in version 5.2.

[2016-12-21 20:27] latop2604 commented on #633
Already fixed in 87a0808

[2016-12-22 09:26] holiiveira commented on #633
Thank you, I had researched if it had already been fixed but had not found it.

[2016-12-22 09:26] #633 closed

[2016-12-25 15:05] shawty commented on #611
I can't comment for Bonobo specifically, but the way I've done this in the past with traditional git deployments is to have a "git hook" use the "jenkins" (Or team city, or which ever CI setup you use) , that pushes the required trigger details tot he CI setup, rather than the CI setup polling the git server for info.

[2016-12-30 00:10] iHateCode commented on #342
I'd love to see LFS supported even if it's just on the backend

[2016-12-30 04:03] svermeulen commented on #342
I still might be submitting a pull request with it at some point.  I have a working implementation

[2016-12-30 10:52] mkaring commented on #342
@svermeulen Do you have that implementation uploaded anywhere? I started mine from scratch.

[2017-01-02 11:22] vladimir123 commented on #345
Hello!
I have troubles with my Bonobo version... I want to use Windows authentication, but when I changed web.config, and go to localhost/Git I can see only blank page....

web.config
`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Cu

[2017-01-15 01:00] bastienlemaitre opened #635 "Bonobo Git Server"
Hi !
I'm using Jenkins with Bonobo Git Server, and received:
`Building in workspace C:\Program Files (x86)\*****

Fetching changes from the remote Git repository

Fetching upstream changes from http://blemaitre@artemis/Bonobo.Git.Server/**************.git

ERROR: Error fetching remote repo 'origin'
hudson.plugins.git.GitException: Failed to fetch from http://blemaitre@artemis/Bonobo.Git.Server/***

[2017-01-16 04:02] alexkuznetsov commented on #635
Hello @bastienlemaitre!
I use Jenkins with Bonobo Git server in last year (don't rememver a version) and it works fine!
In the settings for the repository I kept full credentials - login and password, the only way for this to work.

[2017-01-16 09:02] bastienlemaitre commented on #635
How can i do that ?

[2017-01-16 18:27] bastienlemaitre commented on #635
I've tried to put credentials into the url, into the credentials manager. But nothing append, same error..
Any solutions ?

[2017-01-17 04:30] alexkuznetsov commented on #635
That type of authentication do you use with Bonobo Git Server?  \
In may case, i used the forms authentication and it worked.
Can you normally clone repository by url like this:
`http;//userName:password@bonobo-git-server/YouGitRepository.git`
?

[2017-01-17 07:15] bastienlemaitre commented on #635
I'm using Active Directory Authentication with Bonobo Git Server and Jenkins too.

[2017-01-18 03:24] alexkuznetsov commented on #635
I had not work with that type, can't suggest.
So that about my question about cloning? Is it works, when you use credentials in clone url?
And - that is most important, is it works on jenkins server, the way then you clone by url with you credentials?

[2017-01-20 03:38] TomLan opened #636 "In Repository/Clone.cshtml, CheckBoxListFor Error"
When I visit Repository page and click Clone page,which always shows 500 Server Error.
Then I found out in Clone.cshtml, CheckBoxListFor shows 'error'

http://imgur.com/a/YU0Ix

[2017-01-20 09:09] willdean commented on #636
@TomLan - Not sure quite what version of the code you have there, and I don't see a 500 error on that page myself.

However - there were some odd characters in that file which I've now removed, and it was worked on recently, so it may be that you'll be OK if you take the latest version from GitHub.

If not, then to diagnose a 500 error we'd need some information from Bonobo.Git.Server.Errors.log w

[2017-01-23 01:11] TomLan commented on #636
It' worked now. Thank you!

[2017-01-23 01:11] #636 closed

[2017-01-25 13:00] larshg commented on #602
Hey @willdean

I just tried to update to the newest master and found out that we are aquiring the domain name by asuming its the same as what is after the @ in the mail address. However this is atleast no the case here, where the AD server is set up running a local domain name of drs.lan - but also handles the danrobotics.dk name. Unfortunately we can't create a PrincipalContext using the last nam

[2017-01-25 13:15] larshg commented on #602
I just noticed that teams are added twice, because when upgrading there are just assigned a new guid instead of fetching the one from AD. But I'm out of time for now to do something about it.

[2017-01-27 13:52] #607 closed

[2017-01-27 13:58] willdean commented on #602
@Trapulo Would you be available to test this again using the artifacts from PR #637 (You can get the build from here: https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/494 )

@larshg Has done a bunch of work on the import which might make your situation work again, and we're really struggling to test this widely.

[2017-01-27 13:59] willdean commented on #614
@Elite-stay Could you please attach a file which demonstrates this problem?

[2017-01-27 14:49] willdean commented on #630
Sorry to say that this doesn't repro here.

Those messages / dates should come from an AJAX request to http://[server]/Repository/Tree/[repo guid] - if you just do an ordinary browser GET on that URL you get the page without the details, then the page itself requests it again, and the AJAX request is served up with the details in it.  (Not my idea...)

Would you mind having a look at the AJAX requ

[2017-01-27 14:52] willdean commented on #597
I think you should just be able to run this on the server which is running Bonobo, and then it will affect actions which take place on that server.    If you've tried this and it didn't work, please come back and reopen this.

[2017-01-27 14:52] #597 closed

[2017-01-27 17:02] Trapulo commented on #602
Sorry, I deleted old setup 5.x.. :(

[2017-01-27 17:58] KY4U commented on #630
I was able to reproduce on my end.  When browsing a repo, a couple commit messages are displayed, then the dev tools show the following error:

_2261c144-afc8-4b7a-96cd-fd73350fbfea?encodedPath=AerialViewer%2FAerialViewer:484 Uncaught TypeError: Cannot read property 'CommitMessage' of undefined
    at HTMLTableRowElement.<anonymous> (2261c144-afc8-4b7a-96cd-fd73350fbfea?encodedPath=AerialViewer%2F

[2017-01-27 19:44] willdean commented on #630
For some reason which I'm not able to see at the moment just by looking at the code, it must be serving up a different number of files in the summary information which draws the table to when it serves up the detail.

Would you be able to share any more information which could help here - ideally the repository (could be just the .git directory I think, no actual files), or the JSON which is retur

[2017-01-28 18:23] snz2 opened #638 "git webpage first loading slow"
I have question.
why webpage first loading slow? first loading is  5second time
second loading is normal time.

my bonobo git system is IIS on windows server
cpu is multi core and ram is best
bonobo git version is 5.2

regards

[2017-01-28 19:21] latop2604 commented on #638
You should try to enable iis preloadmode and set application pool start mode to AlwaysRunning.
See

One of the startup operations is to synchronize repository list. It scan the repos directory to find new ones to add to the database.

[2017-01-28 19:25] latop2604 commented on #632
This is a v6 feature

[2017-01-29 09:57] snz2 commented on #638
thanks reply.

I'm Already setting is on.
but still same slow.
normally, repositry sync is asyc with web page load?
why not web page load first?

[2017-01-29 10:07] willdean commented on #638
Slow first-page load on ASP.NET applications is common, which is why there are various 'warming-up' options available in IIS.

Some versions of Bonobo are also very busy on the database, and you may find that 6.0 is much more efficient that 5.2 in this regard.

I'm going to close this because I don't think there's a general perf problem and I don't think anyone is going to work on a "5s to first p

[2017-01-29 10:07] #638 closed

[2017-01-29 10:54] willdean commented on #630
Having repro'd something which looks very like this, I realise that it's not showing a truncated list of messages, it's showing the messages which belong with the level above in the file hierarchy.

I have just committed a fix for this in 656e58b - once this has built, would you be able to try it?

[2017-01-29 11:09] KY4U commented on #630
I have noticed that the commit message shown in the folder / file listing was not always the correct message.  You may be on to something when you said it belonged to the level above.  I look forward to testing this code change.

[2017-01-29 11:22] willdean commented on #610
I couldn't merge #613 as-is right now, but I took the fix for this specific issue and committed it in 0c3ae5d.

[2017-01-29 11:22] #610 closed

[2017-01-29 11:40] willdean commented on #553
I'm not clear that this is a Bonobo problem

[2017-01-29 11:40] #553 closed

[2017-01-29 11:40] #544 closed

[2017-01-29 11:41] #489 closed

[2017-01-29 11:48] willdean commented on #635
@bastienlemaitre - Are you using Bonobo 5.2 or 6.0?  There have been lots of improvements to Bonobo's auth code between 5.2 and 6.0.

If you do upgrade to 6.0 make sure you keep a backup of your complete 5.2 installation in case there are problems with the migration.  (And you do have problems with the migration, please come back to us, because we're looking for help testing the AD migration)

[2017-01-29 12:03] willdean commented on #630
@KY4U I am just making a public fool of myself by committing things onto Master which break the tests...  When I've finished with this then you should be able to try it...

[2017-01-29 12:21] #575 closed

[2017-01-29 13:05] willdean commented on #622
@holiiveira's comment is almost certainly on the right lines - here's similar info from SO:

http://stackoverflow.com/questions/9794985/iis-this-configuration-section-cannot-be-used-at-this-path-configuration-lock

I'm going to close this - reopen it if you're still having problems.

[2017-01-29 13:05] #622 closed

[2017-01-29 13:06] willdean commented on #598
Seems to be abandoned.

[2017-01-29 13:06] #598 closed

[2017-01-29 15:53] #586 closed

[2017-01-30 07:40] larshg commented on #562
@mr-miles do you have multiple servers as well with different DNS names? And then a trust between these servers?

[2017-01-30 13:51] KY4U commented on #630
It appears that I'm getting the correct commit messages (thank you), however, there is some serious lag time during the second jquery request for that information.

![image](https://cloud.githubusercontent.com/assets/13239124/22425197/f7e5d434-e6c7-11e6-86b9-d00d65ec386e.png)

![image](https://cloud.githubusercontent.com/assets/13239124/22425219/1152e8ee-e6c8-11e6-92cb-24073918d030.png)

![image](

[2017-01-30 14:04] willdean commented on #630
I think it's the length of time which that operation can take which lead to someone in the past splitting it into the separate page request followed by an AJAX request to get the details.

I don't fully understand `GetTreeModelsWithDetails`, but I can believe it has some sort of n^2-ish behaviour, perhaps if you have a directory with a large entries of files that is the child of a directory with a

[2017-01-30 14:39] KY4U commented on #630
I thought that to be the case but here are some stats:

- 4 subdirs and 3 files: 5 seconds (60 commits in repo)
- 11 subdirs and 20 files: 6 seconds (60 commits in repo)
- 0 subirs and 20 files: 1.5 seconds (60 commits in repo)
- 9 subdirs and 60 files: 1.5 seconds  (3 commits in repo)
- 1 subdir and 1 file: 6 seconds (660 commits in repo)
- 4 subdirs and 4 files: 9.5 seconds (660 commits in repo)

[2017-01-30 15:07] willdean commented on #630
@KY4U Those are hardly large repos/directories...

I think the only thing to do would be to run a profiler or at least add some StopWatch prints to GetTreeModelsWithDetails to see where the time's going.

I don't ever see anything more than a couple of seconds delay here.

[2017-01-30 16:14] RedX2501 commented on #614
Well, ansi does not contain any character points that map to chinese. So you probably created the file using a chinese codepage in (lets assume) notepad.

Now Bonobo is probably running on a server which defaults to an US codepage. Since the plain text document has no encoding information it will try to open it as a plain text file and you will see garbled text.

You have two options:

1. Use UTF-

[2017-01-30 16:14] #614 closed

[2017-01-30 16:18] KY4U commented on #630
I'll poke around a bit with the code to see if I can narrow down the issue.  The main hurdle seems to be cleared.  The commit messages are displaying correctly, albeit somewhat slowly at times.  That could easily be something on our end.

[2017-01-30 17:15] willdean commented on #630
Time for an SSD...

[2017-01-30 17:15] #630 closed

[2017-01-31 09:19] #602 closed

[2017-01-31 09:20] willdean opened #640 "Unblocking 6.0"
There's already been some discussion about when 6.0's coming out - we're really stalled at the moment for the ability to actually get consistent test/feedback on the AD stuff - @larshg is, I think, the only active developer who has a real AD setup - obviously that lets him test on that, but doesn't help with any problems that other people might have.

My suggestion is that we merge whatever comes

[2017-02-01 02:50] jakubgarfield commented on #640
I reckon you guys go ahead with 6.0 and just deploy it and see how it goes.

I'll try to write up and add access to the bonobogitserver.com and demo.bonobogitserver.com by the end of the week.

[2017-02-01 15:08] rfmsimoes commented on #640
hello everyone,

I'm new using this git server.
It seems something light and powerful.

However I would like to know your opinion about some topics:

1 - Why user (without admin rights) when look into the list os users belong to a team and press the "back button" is redirect into the list of all team (Teams/Index) intead to be redirect to the previous page?

If tou try to redirect someone to the l

[2017-02-01 15:16] willdean commented on #640
@rfmsimoes - Thanks for the feedback, but it's in the wrong place - please don't file issues as comments on an unrelated issue.

Instead, create new issues, one for each bug / comment, and we'll look at them separately.

This might be interesting / useful https://guides.github.com/features/issues/

[2017-02-01 15:22] rfmsimoes opened #641 "Suggestion of minor changes"
hello everyone,

I'm new using this git server.
It seems something light and powerful.

However I would like to know your opinion about some topics:

1 - Why user (without admin rights) when look into the list os users belong to a team and press the "back button" is redirect into the list of all team (Teams/Index) intead to be redirect to the previous page?

If tou try to redirect someone to the l

[2017-02-01 15:42] willdean commented on #641
@rfmsimoes - Thanks for moving this - it would still be better as one issue per topic, but don't worry for now.

1.  I can't repro this - could you provide a URL for the page you're on where the back button doesn't work properly?

3. I guess we think that a user's name is something he can control.  In 6.0 the user's name is not his identity (that's a guid), so the name is just cosmetic really.

Re

[2017-02-01 16:31] rfmsimoes commented on #641
@willdean  thanks for your reply :)

I understand your point of view about the roles.
You are right that clearly will create a hudge complexity and some disagreement  =)
For a light and simple server maybe it is best not complicate to much

About the other items.
I will try to explain a little bit better.
But again, it is just one personal opinion and nothing else.  =)

Item1:
![image](https://clo

[2017-02-02 14:16] husseinjahan opened #642 "404 error when project name has dot(.) in blob"
when we want to see our file (Blob action method in Repository Controller) if project name or other folder in path has dot in their name; we get 404 error.

Path has not dot in the name:
![Ok](http://armandar.com/images/ok.png)

Path has dot in the name:
![Not Ok](http://armandar.com/images/notok.png)

[2017-02-02 14:27] willdean commented on #642
What version of Bonobo are you running?  If it's 5.2 or lower, can you try taking the latest from GitHub (take a backup first)

[2017-02-02 15:29] husseinjahan commented on #642
thank you @willdean , problem solved by installing latest version. but now blame has the same problem!

[2017-02-02 15:48] husseinjahan commented on #642
I changed blob view and change URL for showing blame.

I changed this:
`<a href="@Url.Action("Blame", new { id=ViewBag.ID, encodedName = PathEncoder.Encode(Model.TreeName), encodedPath = PathEncoder.Encode(Model.Path, allowSlash: true)})"><i class="fa fa-comments"></i> @Resources.Repository_Tree_Blame</a>`

to this:
`<a href="@Url.Action("Blame", new { id=ViewBag.ID, encodedPath = PathEncoder.Enco

[2017-02-02 16:07] willdean commented on #642
Does that work for branches other than master - I think you might have broken something else.  Can you post a URL which isn't working?

'PathEncoder' doesn't suppress dots, and maybe that's the real fix.

[2017-02-02 16:17] husseinjahan commented on #642
this url return 404:
http://mydomain.com/Repository/880ee2c3-60b3-4d22-87ca-94dd703f54c4/master/Blame/Echap.Utility/AuthHelpers.cs

[2017-02-03 21:33] jakubgarfield commented on #640
@willdean I added [New Release](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/Bonobo.Git.Server/Properties/AssemblyInfo.cs) section to the projects README and also updated the website [readme](https://github.com/jakubgarfield/Bonobo-Git-Server) and added you as a contributor. Let me know if there is something missing.

Next step is to investigate how to share access to the [demo](

[2017-02-03 21:46] jakubgarfield commented on #640
Cool, I set up continuous deployments to demo.bonobogitserver.com from master branch – so one thing we don't have to worry about – unless someone changes admin password :/.

[2017-02-06 10:07] willdean commented on #642
@husseinjahan I've looked into this a bit more, and the problem doesn't repro here *unless* I turn off `runAllManagedModulesForAllRequests` in web.config.

Can you check that you have `<modules runAllManagedModulesForAllRequests="true">` in web.config.

[2017-02-06 10:19] husseinjahan commented on #642
@willdean, I've looked in my web.config and `runAllManagedModulesForAllRequests` was true. I don't think the problem is this :(

When I changed  `runAllManagedModulesForAllRequests` to `false`, Even following address also returns an error:
http://git.armandar.com/Repository/5fd46c97-e268-4679-9125-82ac566e4973/master/Tree/Echap.Utility

[2017-02-06 10:28] willdean commented on #642
@husseinjahan Thanks for trying that.

Although I don't really understand how it would cause your problem, you are correct that there is a problem with the Blame page, and I have just pushed some revisions to that a minute ago - when they're built you could try them.

[2017-02-06 23:30] bendavidbp opened #643 "Extreme Difficulties in IIS"
Hi Jakub,

I've been having an infuriating time attempting to get Bonobo to work, so I thought I'd reach out to you here.  The situation: We have two programmers on two network machines running Windows 7, we are also running two Windows Server 2012 R2/IIS VM's on the network - one "development" machine and one "deployment" machine for the purpose of developing an internal web-app.  I am attempting

[2017-02-06 23:57] willdean commented on #643
@bendavidbp You cannot escape me by moving from SO to GitHub :-)

Before you do anything else with the git client, make sure:

1. You can get Bonobo up in a web browser on your server machine (I think you can)
2. You can get Bonobo up in a web browser on a remote machine (I am not sure you've got this working).

If you're not getting '2' working, then there is no hope of setting up a git remote, a

[2017-02-07 00:00] bendavidbp commented on #643
*Laughing*  Now that's the first time THAT's happened.  Lol.  I leave work in two minutes and will be coming back first thing tomorrow to get this figured out...thanks for the help so far.  I think it may have something to do with the bindings.  The IP I was using was bound to another folder in IIS, which would explain why the .git "file" wasn't found.  But I just tried to bind the Bonobo.Git.Serv

[2017-02-07 00:17] willdean commented on #643
@bendavidbp Sounds like you're getting there - like I say, treat it as getting a web application to work with a web browser first (local and remote), and only once you've got to that point then try it with git.

If you have specific IPs already bound to other apps, you might be able to just set the default binding to point to Bonobo?

[2017-02-07 16:45] bendavidbp commented on #643
Hi Will,

No problem, I didn't think you were stalking or anything, it was actually kind of a fun surprise.  I'm going to keep this thread updated as I go in case anyone else has the same difficulties.  I had bound the IP address of the server to a sub-folder of the wwwroot directory - we were intending on placing the website we're developing in that folder, but it can still be accessed even if th

[2017-02-07 17:20] bendavidbp commented on #643
Awesome, it's working!  Just cloned the repo on the deployment machine onto the production machine.  Thanks for all of your help, Will Dean, that tip about using the browser really did the trick for me - once I got the 404 error and remembered that the URL was actually pointed to a sub-directory the breadcrumbs lead back to what was bound where.

Thanks again, I will update Slashdot as well and ac

[2017-02-07 17:20] bendavidbp commented on #643
Sorry, meant Stackoverflow.

[2017-02-07 17:33] willdean commented on #643
Glad it's working - if you're running Bonobo 5.2 then you should try the not-quite-released 6.0 which you can get from the latest built at AppVeyor.  It has loads of new stuff, and lots of bugfixes, and the only reason we're holding of releasing it is some stuff to do with upgrades for people with less common configs.

I'll close this now, but it's here if anyone finds it useful in future.

[2017-02-07 17:33] #643 closed

[2017-02-10 08:39] larshg commented on #641
@rfmsimoes I just tested it and it checks if a username is valid/used or not - so its only cosmetic and there can only be a one unique username in the DB.

[2017-02-10 10:27] larshg commented on #587
@Trapulo Can you try out #644 to see if you can upgrade without loosing repos detail. Ofc. make sure to backup everything :)

[2017-02-10 11:02] willdean commented on #587
@larshg I don't think @Trapulo still has his original 5.2 install upgrade with, sadly.

[2017-02-10 11:05] larshg commented on #587
Ah. Well, then maybe just test that the configuration is still working :D

[2017-02-10 13:48] Trapulo commented on #587
Yes, I lost old 5.x env. I don't understand: do I need to try the new build (currently I run 6.0.0.452)

[2017-02-11 22:46] #642 closed

[2017-02-13 14:51] mkaring commented on #342
@svermeulen Sorry for the long delay. Not much happend on this from my end. I did setup the extended communication for git-lfs but did not yet implement the storage for the additional files. I was thinking adding some additional configuration values to store the LFS files embedded in the parent repository or in a external directory. Dunno if a per-repository configuration for that is required. I d

[2017-02-13 15:32] svermeulen commented on #342
I was hoping to have time to make a proper pull request, but haven't so far.  So I think I'll just dump my implementation somewhere and post the link here in case the work is of use to anyway

[2017-02-14 10:01] holiiveira commented on #490
Taking advantage of the topic, there could be a possibility to enable a record for the operations log a repository (example: when deleted, record who and when information was deleted)?

[2017-02-14 17:05] rfmsimoes commented on #641
@larshg

I have a different point of view about the username....but it is ok for me if you thought on that as a cosmetic thing. =)

About the back button ... Glad we are in agreement =)

[2017-02-23 21:07] jzizmor opened #645 "issue using windows authentication with internal membership service"
following [these instructions](https://bonobogitserver.com/windows-authentication/), I changed the AuthenticationProvider property to Windows. On the App_Data folder my Windows login account has full rights to the folder. I restarted my machine.
When I go to http://localhost/Bonobo.Git.Server, I get a JavaScript popup to log in. Trying:

- DOMAIN\username
- username@DOMAIN
- username

all do not w

[2017-02-23 21:16] willdean commented on #645
@jzizmor I'm guessing you tried version 5.2?

Would you mind trying the latest build, which you can get from here:

https://ci.appveyor.com/api/buildjobs/pgdxbyict2crn599/artifacts/bonobo-git-server-7113364-9f22196f1766ad2e66dca3e81deff155578b25a7.zip

[2017-02-23 21:56] jzizmor commented on #558
I'm trying for the same setup as @mrloddo , do either you or @RedX2501 know how to edit the users in the Bonobo database?

[2017-02-23 22:15] willdean commented on #645
@larshg Do you know how this setup is supposed to work:  https://bonobogitserver.com/windows-authentication

Is the idea that it uses Windows auth for Git operations but internal forms-based auth for web-based access?

There is more than one issue here where people are struggling with this setup, and as I'm not really clear what it's supposed to be and why it exists, I'm not sure what to do about

[2017-02-24 15:36] jzizmor commented on #645
Sure, I’m away from my computer with the server on it right now. I’ll either do it later today or Monday depending. Thanks for the replay though.

From: Will Dean [mailto:notifications@github.com]
Sent: Thursday, February 23, 2017 4:16 PM
To: jakubgarfield/Bonobo-Git-Server
Cc: Jacob Zizmor; Mention
Subject: Re: [jakubgarfield/Bonobo-Git-Server] issue using windows authentication with internal mem

[2017-02-27 15:20] jzizmor commented on #645
@willdean , i got the windows auth working at the end of the day on Fri. when i left, i updated my computer with windows update (i'm running this on my pc to explore bonobo before deploying). when i tried going to the webpage again this morning, it still authenticated me as an admin as I could see a tab for users/teams, but there are no contents. when I go to my profile page, it says "Item wasn't

[2017-02-27 17:44] willdean commented on #645
@jzizmor Sorry, I'm not sure about what the sequence of operations was any how/why you might have lost your uses.

If you use AD membership, then the users will be fetched from AD over LDAP - you will not need (nor be able to) manage them locally.

If you have an Active Directory containing all your possible users, and you can add groups to that directory to mark specific users as working with Bon

[2017-02-27 21:24] jzizmor commented on #645
@willdean I created a new server and attached my LDAP server. I noticed that in ~/App_Data/ADBackend there are folders for teams,roles, and users. I assume this is where I need to put the LDAP accepted user names for each role and team (eg admin). The folders are blank however. How do I add the information and in what file format?

[2017-02-27 22:16] willdean commented on #645
@jzizmor You don't need to add users or teams yourself if you're linked to an AD server.  It will populate itself, as long as you have the groups set up correctly - see here:  https://bonobogitserver.com/ad-membership/

[2017-02-27 23:59] bendavidbp opened #646 "Bonobo Git Not Reading Command Line Initialized Repositories"
I've tried a few ways to bring some newly created repositories into the Bonobo.Git.Server/App_Data/Repositories folder and none seem to work.

At first I simply copied a repo folder from another directory.  Bonobo didn't recognize anything was added to the Repositories directory.  I then attempted to create a git repository from the command line inside the Bonobo.Git.Server folder and Bonobo didn'

[2017-02-28 08:29] willdean commented on #646
@bendavidbp The situation is as follows:

* Bonobo <=5.2 only scans the repo directory for new repos when it starts up - so your manual creations do work, they just haven't been picked-up by Bonobo yet.  Perhaps you could do an `iisreset` from the command line after adding new repos, if that's compatible with other uses of the server
* Bonobo >=6.0 (you can get this from the AppVeyor artifacts) ad

[2017-02-28 14:11] jzizmor commented on #645
@willdean I have it attached to an LDAP server that does not have any groups. We currently use it for authentication with an SVN server, each user is given a team/rights within the SVN server. Is an AD server separate from an LDAP server?

[2017-02-28 14:22] willdean commented on #645
@jzizmor I am no expert in either AD or LDAP, but an AD server uses LDAP, and it might be possible to make Bonobo work with other types of LDAP server, but it does rely on the groups to populate the user lists.  I don't think anyone's going to be able to help you much with this, though.

Unfortunately (and I don't defend this or even understand it), Bonobo uses a completely different database syst

[2017-02-28 14:23] jzizmor commented on #645
@willdean Ok, I think I understand this a little more. There's some more investigating I have to do but I think it is on my end. Thank you for your help through this.

[2017-02-28 18:53] bendavidbp commented on #646
Thanks, Will Dean!  I came in this morning and they were sitting there after I logged back in.  Guess I should've applied the "Did you restart your computer?" practice.

Thanks for the link to the 6.0 builds.  I'm not entirely sure if it's a good idea for me to get into leading edge builds at this point, I'd like to get the hang of 5.2, but am seriously considering it.

Thanks again!

[2017-02-28 18:53] #646 closed

[2017-02-28 18:59] willdean commented on #646
@bendavidbp If I were you I'd go to 6.0 now, as it has loads of new features/bugfixes, and we're a hairs-breadth off releasing it.  One of the most complex things internally about 6.0 is the database migration from 5.2, so if you go straight to 6.0 now then you'll never have your data go through that.

[2017-02-28 19:00] bendavidbp commented on #646
Sounds good, Will.  If I do so will the same installation/documentation instructions work for 6.0 as did for 5.2 - and is there any need to "Uninstall" 5.2 (I guess I would just delete the directory?).

[2017-02-28 19:27] bendavidbp commented on #646
I just gutted the folder and re-gutted it with 6.0 - seems to be working!  Thanks again for the info today, I'll see how things workout with 6.0.

Kind Regards,
Ben David

[2017-02-28 19:40] bendavidbp commented on #646
Oh, before it worked I needed to re-do the permissions on the App_Data folder (I'm saying this in case anyone reads this and is in the same situation).

[2017-03-01 08:31] mkaring commented on #342
@svermeulen Hey... did your dump your implementation already somewhere? I'd really like to have a look at it.

[2017-03-01 19:28] jakubgarfield opened #647 "Add environment variable to prevent changing settings in demo mode"
Some people like to change admin password for demo.bonobogitserver.com and also change header and footer to vulgar messages.

That messes it up for people that would like to see the demo in action. Unfortunately this happens way too often and I have to manually delete the database.

The environment variable needs to be configurable in Azure Website.

<img width="839" alt="screen shot 2017-03-02 at

[2017-03-01 19:49] willdean commented on #647
Can this just be a setting in web.config?

[2017-03-01 19:54] jakubgarfield commented on #647
The web.config won't get overridden when doing Azure deployment (via the git integration), right? If that's the case it would be a perfect solution.

Disallow changing admin password and app settings would be sooo helpful.

[2017-03-01 20:16] willdean commented on #647
@jakubgarfield Good question - I don't know.  I suspect we could have a web.config.azure which just added the 'Demo' setting.   (I use those web.config modifiers all the time with one-click-deploy, but I'll find out about Azure git deploy)

[2017-03-01 20:19] willdean commented on #647
@jakubgarfield See here:  https://weblogs.asp.net/srkirkland/git-deployment-to-an-azure-website-keeping-configuration-secrets

It looks like you can add an AppSettings entry via the Azure portal - this will get added/overwritten to web.config when you deploy.

Could you add one and then let me know the name/value, and I'll do the code to make that effective.

[2017-03-01 20:33] jakubgarfield commented on #647
@willdean just added the demoModeActive with a value of true (but it is very easy to change if you find a better name).

[2017-03-01 20:50] willdean commented on #647
@jakubgarfield What stuff do we need to forbid in demo mode?

* Changing anything on Settings/Index page
* Changing admin password
* Creating users?  (With abusive names)
* Creating repositories? (With abusive names)

It seems to me that given a sufficiently bored and cretinous teenager, almost anything can be used for abuse.

Should we perhaps have a session mode where nothing persists beyond a s

[2017-03-01 20:55] jakubgarfield commented on #647
Settings and users password (the admin/admin) is causing the most pain – that happens all the time.

Abusive user names and repositories are not a major issue (I've seen it just once). I wouldn't invest too much time into implementation.

A better solution for that might be purging the AppData folder (database and repos) regularly – which I'm not sure how to do at the moment – maybe a WebJob?

[2017-03-01 21:08] willdean commented on #647
@jakubgarfield Would you mind having a look at #648 please and see if it looks like it does what you want.

[2017-03-01 21:47] #647 closed

[2017-03-01 22:17] jakubgarfield commented on #647
@willdean brilliant – works like a charm, thank you!

[2017-03-03 22:23] babakjahangiri opened #649 "Visual Studio 2015 Update 3 Error : Found invalid hex digit in length"
When I decide to published the first fresh and default project to my server  i got this error
: "Found invalid hex digit in length"

Server Machine : Windows Server 2008 R ,Client Side :  Visual Studio 2005 U3 , default & empty web solution

I tried different origin link such as below but error still there ...
http://user:password@mydomain.com/myrepo.git
http://user@mydomain.com/myrepo.git

I chec

[2017-03-03 22:37] willdean commented on #649
Can you try this version, please and see it fixes your problem: https://ci.appveyor.com/api/buildjobs/1xlle33tpiq2xha5/artifacts/bonobo-git-server-7265243-ffbbb5e8093028ebe5842e8a5a73ac21ce12b612.zip

[2017-03-04 10:42] babakjahangiri commented on #649
Thank you for your replay willdean , I install this one , it seems to be work until the host machine request me credential so I make a user and grant access for whole holder of the web site , but it still ask for credential . I input my user name such as this  : HostMachineName\USERNAME    & Password

the log file error is :

`Native library pre-loader is trying to load native SQLite library "C:\H

[2017-03-04 10:51] willdean commented on #649
That message is not an error - it's just something the SQLLite library writes to the log file.

I'm afraid I'm not clear if you're having problems using a Git client or if you're having problems going to Bonobo with a web-browser.

If you can start a browser *ON YOUR BONOBO SERVER*, you should be able to go to http://<my server>/home/diagnostics and get a diagnostics page which might help me help

[2017-03-04 11:58] babakjahangiri commented on #649
Actually my problem is not on bonboo with a web-browser
My problem appear when I want to publish my files through Visual Studio 2015 u3  to the server , files are not copied and the windows Security message box is showing to me and ask me enter credential for access to web site .

I don't know which username and password should I type , I tried Internal Membership password , I make a user on my se

[2017-03-04 12:06] willdean commented on #649
If you've made a user in Bonobo using the Bonobo web interface called "MyUserName", with a password "Password", then when you get asked for credentials by Visual studio, you should just enter MyUserName and Password - you should not do anything like `HostMachineName\USERNAME`.

You should tell VS that your URL is something like `http://mydomain.com/myrepo.git` - don't bother with the URLs which ha

[2017-03-04 13:38] babakjahangiri commented on #649
Thank you for your comment ,My Problem has solved
My Problem was in IIS   Authentication , When I got the error I had enabled the basic Authentication in IIS .

Could you please tell me whats is different  between below url which are mentioned in web interface of Bonobo Git server  :

http://username@mydomain.com/myproject.git
and
http://mydomain.com/myproject.git

[2017-03-04 14:44] willdean commented on #649
The top one is for situations where you want to be able to connect to the same repository but with different user credentials.

Personally I've never needed to use one - I always use the second kind.

[2017-03-04 14:44] #649 closed

[2017-03-09 12:56] jotabe-net commented on #590
Working example. If you introduce this information:
Link Regex: `H-\d{1,4}`
Link Url: `http://myissuetracker.com/issue/{0}`

Whenever the text incluse if finds `H-` followed by between 1 and 4 digits, it will generate a link for it. For example.

`Fixes H-123`
would generate the link:
`http://myissuetracker.com/issue/H-123`

[2017-03-10 04:39] Dolphinsimon opened #653 "More settings in user permissions."
![image](https://cloud.githubusercontent.com/assets/4425053/23782278/0d2c540a-058e-11e7-8fc9-737c6cd54625.png)
Just like the Gitblit does. How do you think about that?

[2017-03-10 04:41] Dolphinsimon commented on #653
More pics.
![image](https://cloud.githubusercontent.com/assets/4425053/23782371/dbe09644-058e-11e7-81b2-d8fa26ff9483.png)

[2017-03-10 08:37] willdean commented on #653
Is this permissions for a user on each repository?   Looks like a good way to do it.

I'm not sure we know enough about the Git activity to have such fine-grained control, but there's definitely scope for improving the way it is right now.

[2017-03-12 11:51] Dolphinsimon commented on #653
Yes, it is for a user on each repository.
Gitblit is here https://github.com/gitblit/gitblit
I think we can learn some skills from it. This feature is very useful.

[2017-03-16 01:08] Cherrg commented on #169
Hi there, i know this is an old question, but it costs nothing to ask :)

jakubgarfield:

Maybe i found 2 usable approaches to implement this feature with (hopefully) less work to do:

1. Someone implemented this feature in java to show how it can be done (https://github.com/junoyoon/git-online-commit-sample).
There are 6 small classes you could possibly port to c#. (The project uses jgit library.

[2017-03-16 01:18] Cherrg opened #654 "hooks for all repositories"
Hi there,
is there some way to create git hooks for every repository automatically?
e.g. after repository creation create pre-commit / post-commit hook file with content:
/path/to/extra/script/post-commit.sh [RepoName] [GroupName]

[2017-03-16 08:09] StEvUgnIn commented on #169
I gave up and I left the server in the same state.

I don't manage servers these days.

Thank you for clues.

[2017-03-16 08:31] willdean commented on #654
There's no way to do this at the moment.  I can see that if you have some kind of policy-enforcing hooks it would be good to have them automatically applied to every new repo.

[2017-03-19 15:19] tweber-cs opened #655 "Add roslyn"
Hi,

are there any objections on adding roslyn to Bonobo?

This blog post from Microsoft goes into detail about advantages, disadvantages and the necessary steps:
https://blogs.msdn.microsoft.com/webdev/2014/05/12/enabling-the-net-compiler-platform-roslyn-in-asp-net-applications/

- [Update to Roslyn 2.0.1](https://www.nuget.org/packages/Microsoft.Net.Compilers/2.0.1)
- Add [CodeDOM Providers for

[2017-03-19 15:33] willdean commented on #655
Does this hold any advantage over, say, just requiring VS2017?

I would like us to get 6.0 out before we make a change like this anyway, but personally I don't have any problem with moving the language standard up a bit .

That article is quite old - there have been two versions of VS since then - how does a change like this relate to changing VS version?

[2017-03-19 16:12] tweber-cs commented on #655
If we required VS 2017 the views still wouldn't be able to handle C#6 and C#7

CodeDOM 1.0.3 would replace the old one ASP.NET MVC 5 is using,
The referenced roslyn compiler would allow C# language feature in the views
1.x => C#6
2.x => C#7

Based on the blog post the startup-time / runtime compilation would improve caused by the new codedom.

[2017-03-19 16:34] willdean commented on #655
Oh right - I think we should do it then, as soon as we get 6.0 released

[2017-03-21 23:42] wrhighfield opened #656 "AD Integration not honoring the account disabled flag for a user"
When refreshing domain users the code should honor the Account Disabled flag and remove existing users from the ADBackend users folder so they are not visible in permissions lists.  Right now the code seems only to remove users if they are no longer in AD (deleted).  However it is not typical that a company would delete a user from AD rather they would just disable the account.

Thoughts?

[2017-03-22 08:21] willdean commented on #656
That's an interesting point.  I fear that if we did delete users based on them being merely disabled in AD, people could reasonably make exactly the opposite argument; that they had only temporarily disabled the AD account and now all that user's permissions info in Bonobo has been discarded.

What we really need is a 'disabled' flag on users, which could mirror the AD behaviour.

[2017-03-23 04:03] MaizaLin opened #657 "Use visual studio 2017 to clone/pull/push will cause error."
Bonobo-Git-Server is worked fine with Tortoise Git client and visual studio 2015, but when I work with  visual studio 2017 it not work ...

Here is vs2017 error message:

Git failed with a fatal error.
fatal: http://xxxxxx/xxxProjects.git/info/refs not valid: is this a git repository?

Here is the error server log:

w3wp.exe Error: 0 : Error occured and caught in Global.asax - System.ArgumentOutOf

[2017-03-23 12:07] holiiveira commented on #657
I did some testing and I had no problem.

Which version of Visual Studio are you using?
Which version of Bonobo?

I tested using Bonobo 6.0.0 and Visual Studio 15.0.0+ 26228.9

[2017-03-23 14:07] MaizaLin commented on #657
Oh, thanks!!!

And I'm using Bonobo 5.2.0 and Visual Studio 15.0.0+ 26228.9.

As I know the latest version of Bonobo is 5.2.0 ..... (https://bonobogitserver.com/)

Did I missed something ....???

So could you please give me a link for Bonobo 6.0.0  ?   : P

[2017-03-23 18:56] parappsys commented on #587
Trapulo, would you be able to point me in the right direction with AD integration? I've configured the groups in AD and entered the AD settings in web.config, and I have the IIS app pool for Bonobo running as a domain user that is able to query LDAP, but I can't log in with any Admin group user. Regular users are able to log in, though. The worst part is that with AD integration enabled, I can't l

[2017-03-23 19:15] willdean commented on #587
@parappsys Please, please use 6.0 - the only reason it's a 'beta' is that we're struggling to find people to test the AD integration.

Assuming you're able to create groups in your AD, add yourself to a group called, for example, GitAdmins and then in web.config make sure you have a line like:

[code]

That will specify that every member of AD group "GitAdmins" is given the role "Administator" in

[2017-03-23 19:20] parappsys commented on #587
@willdean , here's what I have:
<add key="ActiveDirectoryRoleMapping" value="Administrator=GitAdmins" />

My domain account is a member of the GitAdmins group, as is one other account. Neither of those can successfully log in, but users in the GitUsers group can log in. I think I saw another ticket with someone mentioning this.

I've DLed 6.0 and will overwrite the current install to see if this r

[2017-03-23 20:17] larshg commented on #587
Are the admins also in the membergroupname AD group?

[2017-03-23 20:30] willdean commented on #587
@parappsys Lars makes a really good point there - the admins need to be in *both* groups.

[2017-03-23 20:38] holiiveira commented on #657
Not yet officially released. You can make a project fork to test the new features.

Follow this issue: #587

[2017-03-23 21:08] larshg commented on #657
You can also dl an artifact from the appveyor build ie. this one is the latest merge to master: https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/513/artifacts

[2017-03-24 01:32] MaizaLin commented on #657
Thanks all and have a good day. : )

[2017-03-24 01:37] #657 closed

[2017-03-24 09:17] Trapulo commented on #587
Mi config is
    <add key="ActiveDirectoryDefaultDomain" value="myaddomain.local" />
    <add key="ActiveDirectoryMemberGroupName" value="Git Users" />
    <add key="ActiveDirectoryTeamMapping" value="Developers=Git Users" />
    <add key="ActiveDirectoryRoleMapping" value="Administrator=Git Admins" />

Is not important to run IIS app pool as domain user (in fact I discourage this: use the default

[2017-03-29 16:42] jannemec opened #659 "Repository URL does not work"
Hi, I installed clear installation on W2012R2 IIS server (http://intranet/), creation of repository is without problem, the url on the repository http://intranet/Bonobo.Git.Server/Repository/intranet works correctly, but any attempt to go to url "General url" : "http://intranet/Bonobo.Git.Server/intranet.git" shows error 404 and in the IIS log there is row
2017-03-29 16:23:39 192.168.10.136 GET /B

[2017-03-29 16:44] willdean commented on #659
You should not browse to the xxxxxx.git URL - it's just for use with Git clients.

[2017-03-29 16:45] holiiveira commented on #659
This URL is for use on Git clients, not accessed via browser.

[2017-03-30 07:54] willdean commented on #640
Done, it's up.  Let the shouting begin...

[2017-03-30 07:54] #640 closed

[2017-03-30 16:20] huchim commented on #659
I'm having the same problem:

Cloning into 'de'...
fatal: unable to access 'http://10.66.8.115/CEFAG.git/': The requested URL returned error: 403

I copy the app into wwwrooot (i tried to with wwwroot\Bonobo\ "http://10.66.8.115/bonobo/CEFAG.git/")

Bonobo versión 6.0
IIS 7.5

[2017-03-30 16:25] willdean commented on #659
@huchim That's not the same problem - the OP is browsing to the Git URL and getting a 404 - you're using a Git client and getting a 403 error which is some kind of permissions problem.

Can you get to any of the Bonobo pages with a browser?

[2017-03-30 16:42] huchim commented on #659
Ops! That's true :smile:

I can access any pages in the browser (including http://10.66.8.115/Repository/Detail/25e99306-2e6b-44e0-b5ca-da2f928063de) ...

[2017-03-30 17:09] holiiveira commented on #659
Make sure it is not some proxy setting.

[2017-03-30 17:09] willdean commented on #659
Do you have any kind of cached credentials at the client?

Try running `set GIT_TRACE_CURL=true` at the command line before the `git clone` and have a good look through the resulting trace to see if you can see what's happening.

[2017-03-30 18:12] huchim commented on #659
Thanks @willdean, after using the variable `GIT_TRACE_CURL` I could see that the problem as as @holiiveira said me.

Thank you so much guys!

I used the variable `NO_PROXY=10.66.8.115` in order to bypass my proxy.

[2017-03-30 23:16] Stalis opened #663 "Cannot exit from profile in web interface in v6.0.0"
Admins have an exit button. but it's don't work, and developers haven't this button.
IIS 10, Windows Server 2016. Authentication with AD, but with internal authentication this bug repeats. This don't use for every day, but make some rage, when I want to change from admin user to dev user :)

[2017-03-31 05:17] jannemec commented on #659
Well, I tried the web gui client and pushed the repository with following result:
fatal: http://intranet/Bonobo.Git.Server/intranet.git/info/refs not valid: is this a git repository?
Pushing to http://intranet/Bonobo.Git.Server/intranet.git

and server log shows
2017-03-31 05:16:24 192.168.10.136 GET /Bonobo.Git.Server/intranet.git/info/refs service=git-receive-pack 80 - 192.168.8.48 git/2.11.0.wi

[2017-03-31 07:36] willdean commented on #659
@jannemec Do you really have a repository called 'intranet'?

I'm not really clear all the different things you've tried, but I'd suggest the following:

* Make sure you're using Bonobo 6.0
* Use the web interface to create a new repository
* On the repository's page in the Bonobo web interface, there's a 'Git URL' with a copy button next to it
* Start a command line and enter `set GIT_TRACE_CURL=

[2017-03-31 07:37] willdean commented on #663
Just to be clear, it's a 'log off' button you want?

[2017-04-03 07:31] jannemec commented on #659
@willdean yea I do have - I tried to reinstall bonobo git server - after some time (I hade to manualy download the the repository (I renamed to otk) and cloned it but for each push I get error 500 and on the server is  log message
2017-04-03 07:27:35 192.168.10.136 GET /Bonobo.Git.Server/otk.git/info/refs service=git-receive-pack 80 OTK\u935 192.168.8.48 git/2.11.0.windows.1 - 500 0 64 15

[2017-04-03 12:22] jannemec commented on #659
BTW cloning of repository shows following message
$ git clone http://intranet/Bonobo.Git.Server/otk.git
Cloning into 'otk'...
warning: You appear to have cloned an empty repository.
and downloaded empty repository returns zip that cannot be opened - zip error

[2017-04-03 14:53] willdean commented on #659
@jannemec If you're running Bonobo 6.0, you can start a browser *on the server* and go to http://<server>/home/diagnostics - this will give you/us some diagnostic information including a recent part of the Bonobo error log, which might help see what's going on.

You should also follow my instructions about `set GIT_TRACE_CURL=true` to you can see what's happening on the client.

[2017-04-03 16:59] jannemec commented on #659
Web.Config AppSettings
--AppSettings.webpages:Enabled: 'false'
--AppSettings.ClientValidationEnabled: 'true'
--AppSettings.UnobtrusiveJavaScriptEnabled: 'true'
--AppSettings.UserConfiguration: '~\App_Data\config.xml'
--AppSettings.DefaultRepositoriesDirectory: '~\App_Data\Repositories'
--AppSettings.GitPath: '~\App_Data\Git\git.exe'
--AppSettings.GitHomePath: '~\App_Data'
--AppSettings.RecoveryDat

[2017-04-03 17:49] larshg commented on #659
this warning is only a .... warning - and is expected, so it seems that you successfully cloned the empty repository? Does the folder contiain a .git folder (normally hidden) ?

About downloading a empty repository, it works fine here - using winrar to browse the zip file.

Are there any special characters in the username or password? Because it seems it fails to split the 64based encoded string w

[2017-04-03 18:09] willdean commented on #659
@jannemec - Thanks for posting that - as @larshg says, there is something wrong with the way your client is trying to authenticate.

[2017-04-03 18:12] larshg commented on #663
When using windows authentication you shouldn't have any logoff button visible - not as admin nor user.

Using cookie authentication enables the logoff button and works fine for both admins and users - at least with what I just tested.

Please be very clear about (AD,Internal)Membership and (Windows/cookie)authentication :)

[2017-04-03 18:14] willdean opened #664 "GitAuthorizeAttribute throws exception if auth header is malformed"
`GitAuthorizeAttribute.IsUserAuthorized` assumes that the auth header will contain a value which has username/password separated by a colon.

When a broken client (or proxy, perhaps) passes in an auth header which *doesn't* contain a colon, a `String.Substring` call fails with an argument exception.

This would never happen with a properly formed token, but it seems to me we should check for a col

[2017-04-03 18:21] larshg commented on #664
Indeed if the `value.IndexOf(':')` in `value.Substring(0, value.IndexOf(':'))` returns -1 the substring part will throw an arugmentoutofboundexception.

So a simple check for existence of : .

Also if : is used in username or password we should also be able to handle this? or do we block this during creation?

[2017-04-03 18:33] parappsys commented on #587
I changed the app pool to use the AP Identity and added the GitAdmin group to the membership of GitUsers. I also directly added my name after that didn't work with no change.

My config is like this:
`   <add key="MembershipService" value="ActiveDirectory" />
    <add key="ActiveDirectoryBackendPath" value="~\App_Data\ADBackend" />
    <add key="ActiveDirectoryMemberGroupName" value="GitUsers" />

[2017-04-03 18:48] willdean commented on #587
@parappsys It looks as though there may be a problem during the import of the AD users which is stopping them all being added.

Can you look at the end of the log file in app_data and see if there are any exception messages?  (Don't worry about sqlite messages, they're not errors)

[2017-04-03 19:14] parappsys commented on #587
The only error seemed to be caused by me uncommenting the GitTeam line but not having an AD group for it. Created one and started with a clean install, but I'm still just seeing the top 2 user accounts again. This time there is not a log file in app_data, though.

[2017-04-03 19:39] willdean commented on #587
@larshg Any ideas?  I thought we'd got rid of all the silent failures in the AD import, so I'm not sure what's happening here.

[2017-04-03 20:09] parappsys commented on #587
I recreated the site and just left my domain account in GitAdmins. GitAdmins is also a member of GitUsers. When I log in, I have the same empty account, no error log, and the Users directory is completely empty.

[2017-04-03 20:24] willdean commented on #587
It is the admin user which should be a member of GitUsers and GitAdmins.  You shouldn't make GitAdmins a member of GitUsers.  (I didn't even know you could make a group a member of another group...)

[2017-04-03 20:31] parappsys commented on #587
Started fresh, only my account in GitUsers and GitAdmins (directly via my account). I log in and can see the ADBackend directly get created. There's no error log, and when I go into the ADBackend\Users directory, I only see the first account in the GitUsers AD group. My account is completely skipped. Does the account that initially logs in via the web interface required to have local rights on the

[2017-04-03 20:38] willdean commented on #587
If there is only your account in GitUsers and GitAdmins, where is the other account which gets added coming from?

I'm not an AD expert by any means, but I wouldn't expect any of the users to need rights on the server.

All the users in the GitUsers group should be added, yes, though if there is only your account in GitUsers and GitAdmins, obviously you would only expect to see one account.

[2017-04-03 20:42] parappsys commented on #587
I should have been more clear. I am the only account in the GitAdmin and GitUsers group. The single user that populates the Users directory comes from the GitUsers group. There are 5 accounts in there, but only the first one is added.

I added the Developer Admin domain account to the GitAdmins group, and after restarting the site I can see the admin role features. The Users page shows 2 usernames

[2017-04-03 20:55] willdean commented on #587
@parappsys I think the domain\username stuff might be significant - there have been endless games involved with AD domain names which I have not been directly involved with and don't fully understand.   @larshg is the nearest thing we have to anyone who understands AD and has a test setup of some kind.

I'm sorry we're struggling to help you here, but there is basically no test story for AD other

[2017-04-04 07:16] jannemec commented on #659
@larshg  I confirm downloaded zip can be opened by winrar.
And you are right (at least I hope so) the problem is with authentication. I am using on windows 10 git 2.12.2 from git-scm.com - 64bit version
When I allowed anonymous push,, I was able to push repository to server
I can live with anonymous push (its intranet site), but I have no idea why the authentication failed.

[2017-04-04 07:22] larshg commented on #659
Are you just using git bash?

[2017-04-04 07:24] jannemec commented on #659
And BTW, thank you all very much for this product and support.

[2017-04-04 07:25] jannemec commented on #659
@larshg yes i use git bash, I tried even gui and git from Netbeans environment - all same result, From git bash there was prompt for username and password - and authentication error for 1. attempt, error 500 for second attempt.

[2017-04-04 09:10] larshg commented on #659
@jannemec does it fail if you use the default admin user?

How is the IIS setup with authentication?

Alternatively can you try clone bonobo and run it in debug yourself? It will launch a standard site where you can try create a repository at see if you can clone / push to this? And maybe set a breakpoint [here](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/Bonobo.Git.Server/Attri

[2017-04-04 14:13] parappsys commented on #587
When I log in with the Dev Admin account that has admin rights and head to the user page, there aren't any options to add a user manually.

![image](https://cloud.githubusercontent.com/assets/20976424/24660677/26205b84-191e-11e7-86c3-706b2478e1f7.png)

Is it possible to create the json files in Users manually?

I have a full domain just lying around with a spare server, so I'm happy to test out up

[2017-04-04 14:37] willdean commented on #587
Unfortunately when using AD membership, Bonobo completely replaces its own (SQLite-based) membership storage with the json-based AD import.  I've never been able to find out why this was done like that, but a side-effect is that only the AD import is able to create users.

I understand your privacy concerns, but could you show us exactly what one of your users looks like in AD - change the names/d

[2017-04-05 12:28] araqieldev opened #665 "Active Directory : Team mapping error"
Hi,

I use Active Directory membership service. When I configure the team mapping in version 6.0 for Bonobo Git Server, I have this call stack

[code]

I think provide from separator. In version 5.2, I separate the team by ";". I try "," or ";" with or without blank space between teams, but I have a crash.

My configuration for the Active Directory :
[code]

People have the same error ?
Thanks,

[2017-04-05 13:27] holiiveira commented on #665
As far as I know, you can use ',' or ';'. Look here: [#L22](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/f2f217dd24b2f86a173131786b802540ca0ba8f3/Bonobo.Git.Server/Configuration/ActiveDirectorySettings.cs#L22). I can not test this now.

[2017-04-05 19:45] KY4U opened #666 "500 error after logging in"
I sync to master branch of Bonobo.  No issues prior to sync on 03/21/17.  Synced today and tried to log in with internal username / pw (no Active Directory).  I was able to enter username / pw, but received 500 error message after submitting the form.

I'm not sure if the last entry in the error log is relevant (it would be nice to have those datetime stamped), but here it is.

`w3wp.exe Error: 0

[2017-04-05 19:50] willdean commented on #666
HttpAntiForgeryException often occurs because you've reused a page in the browser (e.g. a login page) after the server has restarted, or you've used the back-button to go back to a form you've previously submitted.

Try restarting the browser and see what happens.

[2017-04-05 19:57] KY4U commented on #666
Same error on different computer with different browser.

[2017-04-05 20:42] willdean commented on #666
Can you please try the released 6.0 version off the website, to rule out build issues.

[2017-04-05 21:06] KY4U commented on #666
No issues logging into release 6.0 version from website.

[2017-04-05 21:32] KY4U commented on #666
I'm getting the same error on my production slot while no error on my dev slot.  This is probably configuration issue on my end.  I'll dig into this further and post an update at that time.

[2017-04-05 21:44] KY4U commented on #666
There seemed to be a conflict between my root web.config and the web.config in the Bonobo application.  I was able to make the update and resolve the issue.

I apologize for any inconvenience.

Closing ticket.

[2017-04-05 21:44] #666 closed

[2017-04-06 07:28] willdean commented on #665
@araqieldev Thanks for reporting this - if you change the team mapping to

[code]

Does the error go away?

[2017-04-06 07:39] willdean commented on #665
Are there any earlier messages in the log about problems creating / importing the groups from AD?

[2017-04-06 12:13] holiiveira opened #667 "Form for registration of groups."
I have been working with Bonobo for some months, I have several repositories and several analysts working, so far without problems.
Today the responsibility for creating repositories is in the hands of analysts, one problem I am facing is the separation of repositories by groups once this field is opened.
A centralized registration of groups in the hand of an administrator user would solve this pr

[2017-04-06 13:20] araqieldev commented on #665
Hi @willdean,
If I put one team, no error appears.
But it i put two or more teams, this crash the web application.

The log not showing any error other than the NullReferenceException :/

[2017-04-06 13:42] willdean commented on #665
@araqieldev Thanks - we clearly need more logging in the AD import (we need more logging everywhere).

[2017-04-06 14:30] larshg commented on #667
I think its a great idea and I thought about it also. Then when creating repositories a dropdown (ie. with search field / filtering) is presented to select the appropriate group?

Unfortunately I don't have the time nor the experience in creating the views, to accomplish this :(

[2017-04-06 14:36] holiiveira commented on #667
That's it. I also have no experience to contribute :(

[2017-04-06 14:53] araqieldev commented on #665
If I have time, I try a new install with the VS debugger.

[2017-04-06 17:47] larshg commented on #665
`    <add key="ActiveDirectoryTeamMapping" value="Devs=GitRobotDevs, Cads=GitCadDevs" />` I have the following setup for groups and it works fine with master (6.0) - can you try swap the groups around to test all 3 groups?

[2017-04-07 06:25] araqieldev commented on #665
I test one by one and it works.
So, I test with all teams and it works !
[code]
I don't know why yesterday this configuration not work. Thanks for you help.

[2017-04-07 06:25] #665 closed

[2017-04-09 10:08] aPSopt opened #668 "Windows authentication with internal membership service failed"
For details see [http://stackoverflow.com/questions/43293352/bonobo-git-server-authentication-failed-why](http://stackoverflow.com/questions/43293352/bonobo-git-server-authentication-failed-why)
I download and install Bonobo Git Server (6.0.0.532). I add the App_Data folder permissions and I have IIS authentication settings as described in the installation notes - [https://bonobogitserver.com/inst

[2017-04-10 09:29] Kempe opened #669 "Git failed with fata error (URL returns 502) with Visual Studio 2017"
When trying to sync my project with local bonobo git server (right now v6.0, but the same happens with 5.2) I get an error saying:
Error encountered while pushing to the remote repository: Git failed with a fatal error.
fatal: unable to access 'http://user@server/Bonobo.Git.Server/Test.git/': The requested URL returned error: 502
Pushing to http://user@server/Bonobo.Git.Server/Test.git

But, with

[2017-04-10 09:36] willdean commented on #669
There's no way to help with this sort of problem without more information, I'm afraid.

You'll need to dig into what the error is on the server (Bonobo logs exceptions to app_data), and also try from a command line client with Curl debugging turned on (easy to look up how to do this).

[2017-04-10 10:00] Kempe commented on #669
Thanks for pointing to curl! It shows that it used a http proxy setting defined in windows environment settings! After removing everything works as expected!
Thank you very much for quick response!
Cool Project, by the way....

[2017-04-10 10:00] #669 closed

[2017-04-10 16:36] holiiveira commented on #667
I've been working on this functionality. However, I do not know much about C# (entity framework, fluent ...). At the moment I have CRUD for Groups, the moment I create a repository, the Group is being persisted together (a previously registered group), I do not know where I might be going wrong. Look [here](https://github.com/holiiveira/Bonobo-Git-Server/commit/73c5be54e4d71a877819a92cd42c027df4b7

[2017-04-11 13:41] brianhv commented on #668
I'm also experiencing this behavior.

I initially attempted to upgrade from 3.4, and cloning failed. Thinking it was an issue with the upgrade, I then installed 6.0 in a fresh directory and just enabled Windows authentication (via web.config, not via IIS authentication). Cloning still failed no matter how I specified the username.

I went one step further and tried with a completely stock 6.0, wit

[2017-04-11 15:38] brianhv commented on #668
This appears to have similarities to #567, which is somewhat old but unfortunately lacking a solution.

[2017-04-11 15:54] willdean commented on #668
@brianhv Assuming you're using a normal sort of command line Git client, when you do:

`git clone <git repo>`, do you get asked for credentials?  Or does some credentials helper supply them without asking you?

If it's the latter, could you try disabling that (it's probably configured in your global .gitconfig file in your home directory) and see what happens?

[2017-04-11 16:27] brianhv commented on #668
I do get asked for credentials. I've tried providing the username as `brianhv` (as I do through the web), and as `domain\brianhv` (the way the user is displayed in the web interface). The result in both cases has been the terse `fatal:  Authentication failed` message as shown in @aPSopt's stackoverflow post.

At this point I've downgraded back to 3.4 and it's working for now. And it turns out that

[2017-04-11 16:35] willdean commented on #668
@brianhv I'm afraid I've lost track of what does and doesn't work for you now.   Earlier you said a clean install of 6.0 didn't work at all using default settings, but now you're saying it does work, is that right?  What was the difference between the two situations?

The git client doesn't use the same auth code as the web interface (for example, Git doesn't use cookies), so it's entirely possibl

[2017-04-11 16:46] brianhv commented on #668
It's totally fair to have lost track. It's been a confusing couple of days.

Yesterday, 6.0 never let me clone. Today it does, but only as a non-Windows user account. What changed between yesterday and today? Who knows. I did it again and it worked.

The server is not public-facing. I'd still rather upgrade, but I should be ok for now.

Here's the summary at the moment.

**WIth Cookies authenticat

[2017-04-11 17:20] willdean commented on #668
@brianhv You have spurred me into sorting out the crapulous logging in Bonobo - this won't of itself fix your problem, but should help.

When there is a build with some more logging in (a sort of provisional 6.1), I will ask you to try that.

[2017-04-11 19:36] willdean commented on #668
@aPSopt, @brianhv Would you mind trying the new version from here:

https://ci.appveyor.com/api/buildjobs/6rbxsli3pbpomljf/artifacts/bonobo-git-server-8005633-c48499cda83b14b8d58b80b5c84ee117b8a1d0be.zip

This has two main changes:

* Lots of new logging into app_data/logs which might help us help you
* A reversion of a change to the way Git URLs are authenticated with Windows auth.

[2017-04-11 21:32] brianhv commented on #668
With this build, the bad news is that my git client is still saying that authentication failed. The good news is that a lot of other things seem to be correct.

When Windows authentication is enabled and I try to clone with my Cookies account, it fails. This is different than in the released 6.0, and I believe the correct behavior.

When I attempt to clone with my Windows user with an *incorrect*

[2017-04-11 21:48] willdean commented on #668
@brianhv Thanks for testing.    The bit that I 'fixed' and annotated with the new logging stuff was the initial authentication which applies to all Git accesses, irrespective of anything to do with the repository.   So it looks likes it's approved you as a user, but then denied you access to the specific repo.

I'll annotate that next.

I have never been able to understand the use case for Windows

[2017-04-11 22:05] brianhv commented on #668
I have a small number of users (fiveish) and pretty much all of our development tools use the same credentials. So the internal membership database maintenance is minimal, and just flipping a config file setting seemed like a really easy way use those credentials for this as well.

I did notice the recommendation to use the Active Directory Membership Service in the docs. The first thing that stop

[2017-04-11 22:14] willdean commented on #668
@brianhv Thanks for that - I hope we can make it work for you...  I have just pushed some more logging to that branch, so there'll be a new version to try shortly.

I agree the documentation isn't great, although I think do think brevity is a great quality in documentation!I think some of it was written by people for whom English is not their first language, so if you want to have a go at improvin

[2017-04-11 22:36] willdean commented on #668
There's another new version at https://ci.appveyor.com/api/buildjobs/06h12cix3cl9lehm/artifacts/bonobo-git-server-8009128-465a33c9209d31938938658eead82c6a68ea21f5.zip

I suspect the changes I made earlier today to the auth were probably wrong, and I will need to revert them and then try and work through the original route with you - when using Windows Auth with Internal membership, I don't think y

[2017-04-12 00:07] brianhv commented on #668
When a user first logs in to Bonobo with Windows credentials, Bonobo automatically creates a user of the form `APPLICATIONS/brianhv`. That's the user to which I've been giving repository access, and that's what was working in 3.4. I do not have a separate `brianhv` user. In addition, when my `AuthenticationProvider` is `Windows`, there's no option in the UI to create a new user.

I'll try that bui

[2017-04-12 00:14] brianhv commented on #668
These log messages look interesting.

[2017-04-12 14:12] Trapulo commented on #635
I tried this some months ago and it didn't work. Same env: bonobo 6.0, AD integration enabled.

[2017-04-12 15:39] willdean commented on #668
@brianhv There's another new version at https://ci.appveyor.com/api/buildjobs/hgnqi0lp9fny8k4v/artifacts/bonobo-git-server-8022989-e0a7c9d038a9e99674a161c3caa195f610d41f99.zip

This has gone back to the 6.0 behaviour (so may be 'worse' in some respects, but I should never have moved away from this before getting to the bottom of what's happening) but adds a load more logging.

It would be great if

[2017-04-12 15:44] AlaskanDruid opened #672 "Fresh Install / Auto redirect error"
Fresh install on Windows 2008 R2, IIS 7.5.

Bonobo is permanent redirect loop. No errors except loop error.

Anyone had luck on installing and working for windows 2008 R2/IIS 7.5

[2017-04-12 15:51] brianhv commented on #668
[code]

[2017-04-12 15:58] willdean commented on #668
@brianhv Thanks - what happens if you go to a web page?  It should try to create that user.

[2017-04-12 16:02] brianhv commented on #668
Yes, the user exists and is able to log into the web interface.

[2017-04-12 16:03] willdean commented on #668
@brianhv Is the user in the EF database (i.e. visible in the web interface) called "brianhv" or "APPLICATIONS\brianhv"?

[2017-04-12 16:04] brianhv commented on #668
`APPLICATIONS\brianhv`

[2017-04-12 16:06] willdean commented on #668
Is it definitely "APPLICATIONS\brianhv" and not "applications\brianhv"?

[2017-04-12 16:07] brianhv commented on #668
Apologies, it is indeed lowercase.

[2017-04-12 16:33] brianhv commented on #668
Got a little debugging session going myself here. The program flow is getting into `GitAuthorizeAttribute.ValidateUser(username, password)` with correct information. That method successfully grabs the user object from the database. However, `ComparePassword` returns false because `GetSaltedHash(password, salt) == hash` is false.

[2017-04-12 16:37] willdean commented on #668
@brianhv Yes, spot-on.   If you look at the history of GitAuthorizeAttribute.cs you'll see that code to authorise Windows users directly (without going to the membership provider) has been put in and taken out about three times.

I put it back in yesterday, and then took it out again today, but clearly the EF membership provider *cannot* authorise the user, because it doesn't have the password.

W

[2017-04-12 16:56] willdean commented on #668
@brianhv The incredible yo-yoing auth code is back in GitAuthAttr - if you watch #671 you can wait for the AppVeyor build to finish and then take the binary artifact, or pull that branch directly if you're in source code mode and you don't want to wait for AppVeyor

I think the missing link might have been that the WinAuth code I added yesterday wasn't building the claims ID properly, which is why

[2017-04-12 17:05] brianhv commented on #668
Thanks! I'll keep an eye on it.

I see why this is a challenge. I'm going to muse on this for a moment, and you're welcome to ignore me.

My goal isn't to use the internal membership provider as such. My goal is to authenticate with Windows credentials, and to control access with the internal system.

There are a few different concerns that need to be handled:
- How do we expect authentication to

[2017-04-12 17:07] larshg commented on #668
Hey all, sorry for not responding before now, but been busy with other stuff :-)

Indeed it seems that I haven't tested this scenario properly.

Out of curiosity when should we use the authentication classes and should these be used instead ie. move the validateUser and perhaps refrase it to authenticateUser?

When the user is authenticated, we can then use the membership provider to get info abou

[2017-04-12 17:15] willdean commented on #668
@brianhv It is very complicated and it has evolved in an odd way - "I wouldn't start here" definitely applies.

There isn't a clear separation between authorisation and authentication (Bonobo is not unique in this regard!) - and as you say, 'membership' spans both.   What's particularly confusing (and unhelpful to my mind) is that when you enable AD membership, you get an entirely different backen

[2017-04-12 18:32] brianhv commented on #668
I installed the new AppVeyor build, and cloned successfully with a Windows user!

Your "I wouldn't start here" advice and explanation make sense. Thanks for humoring my musing!

[2017-04-12 18:36] willdean commented on #668
@brianhv Thanks very much for testing that.

I am tempted to push a 6.1 release, both to get this fix and to get the logging which has been very helpful.

What do you think @larshg?

[2017-04-12 18:40] larshg commented on #668
Sure - its better that it works, even though it could use a proper overhaul - but that will properly not happen sometime soon :-P

[2017-04-12 18:54] larshg commented on #672
How is your settings in IIS - only anonymous should be enabled. I have experienced looping if other settings was applied.

Changing of authentication should be set in the webconfig.

[2017-04-12 19:19] #490 closed

[2017-04-12 19:41] lipe1966 opened #675 "IIS 7.5 to many redirects"
After updating the aplication the web site does not open anymore.
I've checked the Permissions, Authentications and etc.
The only clue that I've got was on the conversion to Application that if i click the Test button I receive a message of "Invalid Application Path"

I am using Windows Server 2008 R2 with IIS7.5

[2017-04-12 19:46] willdean commented on #675
"conversion to Application that if i click the Test button" - I don't think I understand that bit - can you expand?  What version were you running before?

Make sure you've got .NET 4.6 on your server.

[2017-04-12 19:49] lipe1966 commented on #675
I am using .NET 4.6
when on the GUI if I click with the right button on the mouse to Convert to Application, it opens a window and there we have a button called "Test Settings", If I click it i receive the message bellow

![image](https://cloud.githubusercontent.com/assets/8996760/24976430/cd44ac12-1f9f-11e7-9ac9-81c3b7e37e56.png)

[2017-04-12 19:53] willdean commented on #675
Have a look at this:  http://stackoverflow.com/questions/5794063/invalid-application-path

There are about 100 million ways for IIS to be configured so it won't run a web application, and I'm afraid it's beyond the very limited resources of the Bonobo team to work through them all with everyone, sorry.

[2017-04-12 20:17] lipe1966 commented on #675
How can I get the prior version of 6.0? That used to work

[2017-04-12 20:25] willdean commented on #675
There are some old versions here:

https://github.com/jakubgarfield/Bonobo-Git-Server-Web/tree/master/content/resources/releases

[2017-04-12 20:25] #675 closed

[2017-04-12 21:43] #664 closed

[2017-04-13 13:53] aPSopt commented on #668
Hmm, as I understand something fixed?

But I installed the bonobo 6.1 release and the authentication with internal membership service still failed. The trouble described in the initial post not changed.

[2017-04-13 13:57] larshg commented on #668
Please post the printouts from the log file for us to have something to work with.
Are you using windows authentication with internal membership?

[2017-04-13 14:01] aPSopt commented on #668
Where logs placed? I found following:
1)  App_Data\Bonobo.Git.Server.Errors.log

2) App_Data\Logs\log-20170413.txt

[2017-04-13 14:03] larshg commented on #668
Are you using a credential helper? If you do can you try disable it temporarily? Are you using got bash or another client?

[2017-04-13 14:05] aPSopt commented on #668
I am using tortoisegit. How to disable it credential helper?

[2017-04-13 14:07] willdean commented on #668
@aPSopt The fix in 6.1 is for people using "Windows Authentication" with "internal membership".  This is not the default configuration, so if you have not change web.config, then you won't be using "Windows Authentication".

"Windows Authentication" is *not* the same thing as "I am trying to use Bononbo with a Windows client"

[2017-04-13 14:09] larshg commented on #668
Are you presented for a username/password dialogue?
Can you try clone using got bash?

[2017-04-13 14:16] aPSopt commented on #668
**@willdean** it is defaul configuration as I see. I following by the installation manual and finally in the default 6.1 web.config turned on following options:

And I note that it not works now.

**larshg** yes, the same trouble present on cmd usage too. But I find how to disable tortoisegit credential helper and bug disappears.
Ok, its good.
But how to work with default configuration on the tort

[2017-04-13 14:19] larshg commented on #668
Try update to newest credential helper?

[2017-04-13 14:40] aPSopt commented on #668
**larshg** thx, now it works

[2017-04-13 14:42] larshg commented on #668
Great to hear :-)

[2017-04-13 14:45] willdean commented on #668
Thanks @larshg !

[2017-04-13 14:45] #668 closed

[2017-04-13 16:44] gaelj commented on #596
it's the default URL that you guys defined....

[2017-04-13 20:19] willdean commented on #596
@gaelj The URL is an IIS setup thing.   Don't wade into pointlessly insulting people who might be trying to offer free help.

[2017-04-18 08:28] larshg commented on #645
@jzizmor  can you please try the new 6.1?

[2017-04-18 08:29] larshg commented on #567
@alexchandel can you please try 6.1?

[2017-04-18 08:32] larshg commented on #587
@parappsys Are you able to debug this and maybe come with suggestions to what is causing this? Alternatively I'll try to add some more logging with the new framework @willdean added, to get more info to work with.

[2017-04-18 08:33] larshg commented on #587
@parappsys Maybe create a new proper issue aswell - I'll close this as the topic is about releasing of 6.0 which has already happend.

[2017-04-18 08:33] #587 closed

[2017-04-18 08:34] larshg commented on #558
@mrloddo, @sedotakj and @RobertMcCoy can you please try the new 6.1 and report back again?

[2017-04-18 08:35] larshg commented on #562
@mr-miles have you tried the recent releases?

[2017-04-18 08:47] larshg commented on #574
@simoneb and @suntsu42 is it the links to the git repositories? The base URL can be set by adding `GitServerPath` to the webconfig ie `<add key="GitServerPath" value="https://myserverpath/"/>` ?

[2017-04-18 08:57] larshg commented on #439
@ecocquerez Do you still have this problem - can you try the latest 6.1?

[2017-04-18 08:59] larshg commented on #419
@OneLogicalMyth Can you try the lastest 6.1 release?

[2017-04-18 09:02] larshg commented on #377
@devaraja666 there has been some updates on multiple domains - if you can add all users to the same membergroup (if there is a trust between domains?) then it should work? Can you test 6.1?

I'm no expert in AD multidomain, so maybe I'm off track here.

[2017-04-18 09:03] larshg commented on #368
@stupiduglyfool is this solved with the latest 6.1?

[2017-04-18 09:10] larshg commented on #635
@Trapulo and @bastienlemaitre can you please try with the new 6.1 - there are additional logging when a user authenticates against AD etc. Maybe this can give some insight in the failure?

[2017-04-18 09:17] stupiduglyfool commented on #368
@larshg Sorry for slow response, I will take a look at some point this week and let you know!

[2017-04-18 10:15] larshg commented on #368
@stupiduglyfool no worries :) - thanks for responding :)

[2017-04-18 13:00] sadeghrz opened #676 "This page can’t be displayed"
hi i can run Bonobo on my pc but when i try to run it on server IIS tell me "This page can’t be displayed".
browser redirect to this page: http://localhost:1234/Home/Error?aspxerrorpath=/Home/Error
and got the "This page can’t be displayed" error.
try everything even change the windows and nothing changed.

i can host another mvc app as same version like Bonobo.

[2017-04-18 13:03] larshg commented on #676
Is there anything in the logs? - you can try disable custom errors `    <customErrors mode="On" defaultRedirect="Home/Error" />` - and maybe get a hint about what is going wrong?

[2017-04-18 13:05] willdean commented on #676
As well as @larshg suggestions, start by running the browser on machine which is running IIS.

[2017-04-18 13:42] sadeghrz commented on #676
ooo shit i'am donig ...
change server windows just for custome error turn on.....
 .netFramework 4.6 needed for fix

thank you!

[2017-04-18 13:44] #676 closed

[2017-04-18 14:30] wardialer commented on #672
Same problem here, with Windows Server 2008 R2/IIS 7.5

[2017-04-18 14:37] larshg commented on #672
Van you post hos tour setup info is in both ISS and Bonobo config?

[2017-04-18 14:40] AlaskanDruid commented on #672
This is the only app on the server. IIS is set to anonymous only.

The only thing in the web.config file that mentions authentication is the following:

<add key="AuthenticationProvider" value="Cookies" />

[2017-04-18 14:41] AlaskanDruid commented on #672
Oh that's funny, git removed code from a comment... I'll try again:

<add key="AuthenticationProvider" value="Cookies" />

[2017-04-18 14:41] AlaskanDruid commented on #672
Sorry I can't post code. Github hates code for some reason.

[2017-04-18 14:42] willdean commented on #672
You need to make it as code - I've done it for you

[2017-04-18 14:44] willdean commented on #672
If you run the developer tools on your browser, you might be able to see what the redirect loop consists of, and if there are any messages in the 301/302 response.

[2017-04-18 15:04] AlaskanDruid commented on #672
Developer Tools for Chrome:

Found lots of 302s, then a ERR_TOO_MANY_REDIRECTS

[2017-04-18 15:06] willdean commented on #672
You need to look at the URL of the redirect and look at the actual response.

It is a really big push to hope that the very small Bonobo team can help with the almost infinite number of ways in which IIS can be configured to fail to serve a site, so you need to offer 110% of all the assistance you can to us if you're to have any hope of us helping you.

[2017-04-18 15:54] AlaskanDruid commented on #672
Thank you for the reply.

I have provided 110% assistance thus far.

The first 3 url responses were status 200 OK (below)

`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABNEAAABECAAAAACKI/xBAAAAAnRSTlMAAHaTzTgAAAoOSURBVHgB7J1bdqS4FkSDu7gPTYSh2AOATw1Pn6kBVA2FieiTrlesq6po8lgt0pj02b06E58HlRhXOCQBBcdxHMdxHOfDMeA7BfcIOI4VwISDKQhvK0O4H9iAobeFZSx8WIK0dqz4ztQRg1XdECNfX/CTGUDmNjJDP6MzuMnKKsQ0Y+Amyxnirurmx1

[2017-04-18 16:01] willdean commented on #672
I'm guessing they were screenshots?

To going to http://<Server url>/home/diagnostics and see what you get.

You MUST DO THIS ON THE SERVER - you can't request that URL remotely.

[2017-04-19 23:17] RobertMcCoy commented on #558
I won't be able to sadly, as I am no longer with the company in which I was trying to set this up on, and therefore don't have access to the AD setup there.

[2017-04-20 13:20] buvatu commented on #433
Hi @larssb
It seems you already resolve this issue.
Currently I'm facing this issue too.
I tried to configure the IIS and Bonobo many times carefully.
But the Bonobo did not start after all.

Here is my system:
Windows 7 - IIS 7.5 (Default)
Bonobo version 6.1.0
.NET framework 4.5.2 (I think it's OK)

Prerequisites
Install IIS - OK
Install ASP.NET MVC 4 - OK
Register MVC framework with IIS - OK

In

[2017-04-20 13:55] willdean commented on #433
@buvatu This issue was about a problem with 'Active Directory' - before you try to do that you should make sure Bonobo works with its default configuration.

[2017-04-20 14:05] larshg commented on #433
You need to upgrade to .net 4.6 at least !

[2017-04-20 14:10] willdean commented on #558
@RobertMcCoy No worries - thanks for the help previously - good luck in the new job...

[2017-04-20 17:07] liquidgithub commented on #672
Having the exact same problem and when trying the URL you provided with my info filled in I still get the 302 error.
I did not have this issue when on 5.2 but since trying out 6.1 I haven't gotten it to work.

[2017-04-20 17:26] willdean commented on #672
@liquidgithub Is there a log file being written in app_data\logs ?  Is there anything useful in there?

[2017-04-20 17:48] liquidgithub commented on #672
@willdean There isn't even a logs folder. Nothing useful just the 302 error. Oh and the 3 images that alaskandruid posted are just the images files that chrome uses for the no internet connection browser game.

[2017-04-20 18:52] willdean commented on #672
It's going to be hard to debug this by guessing, really - clearly it's not really starting at all if there's nothing logged.

Make sure you have .NET 4.6 installed, registered with IIS and that your IIS App Pool is set to use it.

[2017-04-20 18:57] liquidgithub commented on #672
@willdean .NET 4.6? I have .NET 4.5 installed and ASP.NET 4.5 there is not 4.6 in my Features list.

[2017-04-20 19:02] willdean commented on #672
@liquidgithub Sorry, I think we are dependent on 4.6 now, as it was required for some other dependency.  I will update the prerequisites list on the bonobo.com site.

You will need to install 4.6

[2017-04-20 19:07] liquidgithub commented on #672
@willdean Yeah thanks this fixed the problem.
I guess this will fix the problem for @AlaskanDruid as well.

[2017-04-20 19:10] willdean commented on #672
@liquidgithub Thanks for letting us know - I have updated the pre-requisites page on the website.  It was a bit of a mistake that we took this new dependency so casually and didn't update everything appropriately, sorry about that.

[2017-04-20 19:42] larshg commented on #632
This feature is implemented, so closing this.

[2017-04-20 19:42] #632 closed

[2017-04-21 13:50] liquidgithub opened #679 "Error while updating to 6.1 from 5.2"
I finally got 6.1 working yesterday and today I tried adding my App_Data from my 5.2 installation folder. I updated the old Web.Config file to have everything from the 6.1 one in it. And after that I tried going to the web client. See attached files for errors.

[log-20170421.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/947236/log-20170421.txt)
[Bonobo.Git.Server.Errors.log.txt](h

[2017-04-21 13:58] liquidgithub commented on #679
Nvm stupid me apparently I forgot to change the permissions after putting in the new App_Data folder.

[2017-04-21 13:58] #679 closed

[2017-04-21 14:59] devaraja666 commented on #377
Hi @larshg I tried the new version, i can see now the users information for the accounts in the forest that are in the MemberGroup, but now i cant add group that have space in teh name, in previous versions the group name could have spaces, but now if the group name have spaces the site wont load, it only shows a white background.

This is my configuration:
`    <add key="AuthenticationProvider" v

[2017-04-21 15:47] larshg commented on #377
Hi

Thanks for the response.

I'll try to investigate where the group names with spaces doesn't work :-)

[2017-04-21 15:49] willdean commented on #377
New logging looks good ;-)

[2017-04-21 19:01] AlaskanDruid commented on #672
That was it! I followed the instructions @ https://github.com/jakubgarfield/Bonobo-Git-Server  It mentioned 4.5, so I installed that (and got the infinite loop). Once 4.6 was installed, I now get a login page! May want to update that page as well ;)

TY for your help.

[2017-04-21 21:00] willdean commented on #672
@AlaskanDruid Thanks for letting us know - glad it's working.

I have fixed that page now - I hadn't realised the wrong info was in two places.

[2017-04-21 21:00] #672 closed

[2017-04-22 13:02] larshg commented on #377
@devaraja666 I just tested with a group name with spaces and it find that group without problems. Can you double check the spelling of the names etc?

I'll try add some more logging to the /home/Diagnostics page to see if we can query some useful info.

[2017-04-22 13:11] willdean commented on #377
@larshg If there's any way to get the AD servers to list all the groups (I guess that's the sort of thing you were thinking of adding to the home/diag page), then could we also dump all that to the log file if there's a problem finding a group?  So the log file says "I couldn't find your group but here are all the ones I could find"

[2017-04-22 13:23] larshg commented on #377
Yes, I was thinking about doing something like that. I'll see what I can do :)

[2017-04-22 14:21] larshg commented on #377
@devaraja666 Can you try out the artifact from this build when it is done:
https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/564/artifacts

And navigate to /home/dianostics and verify that you can find the group names that you want to use.

[2017-04-22 14:45] willdean commented on #377
@devaraja666 To go to /home/diagnostics you have to be running a browser on the same machine as is serving Bonobo...

[2017-04-24 13:38] devaraja666 commented on #377
@larshg I found the problem, i had 2 users in the "Group Developers" that where not part of the "Git" group. a soon i adeed the user to the git group the site load correctly.

This does not happened in the previoues version, that i why i did not notices it, after doing alot of testing, creating new group, i added a user that was not included in the "ActiveDirectoryMemberGroup" Git, to a "TeamMappi

[2017-04-25 08:13] larshg commented on #377
Thanks for reporting back - I'll try to investigate and figure out how to properly handle it :)

[2017-04-25 13:34] bluewalk opened #681 "Could not load type 'System.IdentityModel.Tokens.TokenValidationParameters'"
Hi,

I tried enabling ADFS according to the instructions found at https://bonobogitserver.com/federation-authentication/. All is well, untill I hit F5:
![2017-04-25 15_30_57-could not load type system identitymodel tokens tokenvalidationparameters from](https://cloud.githubusercontent.com/assets/6522477/25387762/3d4564d0-29cc-11e7-92a8-f6a612351da1.png)

Running latest version 6.1.0 although the b

[2017-04-25 13:47] willdean commented on #681
@bluewalk Thanks for this.  I think the `system.identitymodel` namespace/libraries were part of some evil alien plot to reduce happiness among Earthlings.

We'll have a look at what's happening.

[2017-04-25 14:36] bluewalk commented on #681
I'm pretty sure thats what's happening, I know they're very, and I mean very, version specific combined with Owin.
Looking forward to the solution :)

[2017-04-25 14:40] willdean commented on #681
@bluewalk Yes, I've just had the misery of doing a jwt nuget update on another project.  Eventually I just backed the whole darn thing out because it was more hassle than I could bear.

[2017-04-25 14:42] buvatu commented on #433
Thank you so much @larshg
I follow the instruction of main page and it did not work at all.
After upgrade my .NET 4.6, everything works like a charm.
Thanks again.

[2017-04-26 19:19] ingdotrodriguezbarrios opened #682 "Método no encontrado: '!!0[] System.Array.Empty()'."
I have a problem before, installing Bonobo on IIS 8, Windows Server 2012.

This is, stack trace

[MissingMethodException: Método no encontrado: '!!0[] System.Array.Empty()'.]
   Bonobo.Git.Server.App_Start.BundleConfig.RegisterBundles(BundleCollection bundles) +0
   Bonobo.Git.Server.MvcApplication.Application_Start() +104

[HttpException (0x80004005): Método no encontrado: '!!0[] System.Array.Emp

[2017-04-27 10:18] faina09 opened #683 "AD not found if run on a machine in a different Domain"
I run Bonobo 5.0.0 on a machine belonging to a Domain A, but the users are on a different domain B.
When I upgraded to Bonobo 6.0 (same issue with Bonobo 6.1) I got this error:

`w3wp.exe Error: 0 : 04/27/2017 10:37:21: ADBackend Exception: System.ArgumentException: Could not find principal group: XXXXXX
   at Bonobo.Git.Server.Helpers.ADHelper.GetPrincipalGroup(String name, GroupPrincipal& group)

[2017-04-27 10:28] willdean commented on #683
@faina09 Thanks for this - would you mind running the version from here:

https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/566/artifacts

And then have a look at the detail log file (in app_data\logs) and see if it makes it clear what has been searched and where.

Thanks

[2017-04-27 10:52] faina09 commented on #683
Thank you; I tryed and got this log:

`2017-04-27 12:46:33.895 +02:00 [Information] Bonobo starting
2017-04-27 12:46:34.306 +02:00 [Warning] Null GroupPrincipal in domain: "serverdomain.uniud.it", user: "AINF-D2D"
2017-04-27 12:46:34.372 +02:00 [Information] Searching all groups in : serverdomain.uniud.it
(... list of all the group in the domain of the server ...)
`

It's because I need to search

[2017-04-27 11:21] larshg commented on #683
Can you try go to the Home/diagnostics page and forward the info to me?

[2017-04-27 11:30] larshg commented on #682
I really seems that it is still missing the .net 4.6 on the server?

http://stackoverflow.com/questions/31253747/method-not-found-0-system-array-empty-asapp-bundleconfig-registerbundl

I really doubt that there is much we can do from here though.

[2017-04-27 11:31] faina09 commented on #683
I send you the full output, with unmodified domains and groups, and the
web.config file (the commented-out CSIT-SI group does work)

Stefano Cotterli

On Thu, Apr 27, 2017 at 1:22 PM, Lars <notifications@github.com> wrote:

Web.Config AppSettings
--AppSettings.webpages:Enabled: 'false'
--AppSettings.ClientValidationEnabled: 'true'
--AppSettings.UnobtrusiveJavaScriptEnabled: 'true'
--AppSettings.Us

[2017-04-27 13:24] larshg commented on #683
Hmm, so somehow the two subdomains are not part of the same forest. So we need to look deeper for a more general solution.

Temporary we can reimplement the setting to specify one to multiple AD servers manually to contact in a certain order, if there are no domain specified with the logon details / git credentials....

[2017-04-28 15:58] ayanbhowmick opened #684 "Repository tree binding issue"
Hello

When we bind repository tree i am facing a problem. In your sample code the tree is binding first and after commitemessage and commitedate binding.
But the problem is if the tree content lots of record then the commitemessage and commitedate binding too much late.
I need to bind tree data with commitemesage in first load.

Code is following below
==================
This the function for det

[2017-05-02 05:48] bluewalk commented on #681
Just checked out the source and fiddled around with it, downgrading JWT solves the problem:

[code]

As per https://github.com/IdentityServer/IdentityServer3/issues/3017

[2017-05-02 07:22] willdean commented on #681
@bluewalk Thanks for this about the 4.x/5.0 issue - we'll downgrade the jwt library and release a new version.  It does seem lots of people have been caught by this - it's really poor that nuget offers an upgrade to an incompatible version, but I guess it fits well with the whole core shambles.

I don't know much about ADFS, but I know we changed the specific claims which Bonobo uses to make the m

[2017-05-02 07:26] bluewalk commented on #681
I'm available for ADFS testing for sure!
Yes, from ADFS you will get roles as well (which will basically be AD groups). After login these need to be matched with the ones given in web.config and assign the corresponding roles.
I will need to get into the code and the flow to see where this process can take place. If you can point me in the right direction I can have a look as well :-)

[2017-05-02 17:31] storaid opened #685 "Adding team causes System.NullReferenceException in 6.1.0..."
previous version v5.2 is working fine for team...
but new version is not good...
I got the following error:
[Error] Exception caught in Global.asax1
System.NullReferenceException: Object reference not set to an instance of an object.
   at Bonobo.Git.Server.Data.ADTeamRepository.<>c__DisplayClass6_0.<GetTeams>b__1(UserModel y)
   at System.Linq.Enumerable.Any[TSource](IEnumerable`1 source, Func`2

[2017-05-02 18:35] willdean commented on #685
Thanks for reporting this - would you mind installing the version from here:

https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/566/artifacts

and then please look in the new log files in app_data\logs and see if there's anything there which points us closer to the problem?

[2017-05-03 00:10] storaid commented on #685
hello, still got the same error:

   at Bonobo.Git.Server.Data.ADTeamRepository.<>c__DisplayClass6_0.<GetTeams>b__1(UserModel y)
   at System.Linq.Enumerable.Any[TSource](IEnumerable`1 source, Func`2 predicate)
   at System.Linq.Enumerable.WhereEnumerableIterator`1.MoveNext()
   at System.Collections.Generic.List`1..ctor(IEnumerable`1 collection)
   at System.Linq.Enumerable.ToList[TSource](IEnume

[2017-05-03 05:35] larshg commented on #685
Can you verify that all users that are in either gitDevelopers or GitAdmins is also in GitUsers?

[2017-05-03 06:36] larshg commented on #685
Can try out (this)[https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/567/artifacts] when its complete?

That should handle the error - but it is also using a new way to get info from AD - which would be nice if you could test this too!

Remember backup of your repositories etc.

[2017-05-03 06:37] larshg commented on #683
@faina09 Can you try (this)[https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/567/artifacts] build when its complete.

There I'm trying to use the global catalogs that should be able to query any subdomains etc. and post the logs from this run?

[2017-05-03 08:26] faina09 commented on #683
@larshg tnx, this is the log:

[log.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/972769/log.txt)

[2017-05-03 09:04] storaid commented on #685
"Can try out this when its complete?"
this build has resolved my problem...
now is working fine for team function...
thx very much for your help...
2017-05-03 16:57:37.038 +08:00 [Information] Bonobo starting
2017-05-03 16:57:39.210 +08:00 [Information] Searching in 2 global catalogs
2017-05-03 16:57:39.226 +08:00 [Information] Searching for user in globalcatalog "DC1.STORAID.LOCAL" in domain "STO

[2017-05-03 10:29] faina09 commented on #683
It seems does not look form my domain. As the version before commit f2f217d is working on my environment I think Bonobo should use the key="ActiveDirectoryDefaultDomain" if it exists in web.config to look for the specified domain

[2017-05-03 13:21] larshg commented on #683
Yes, as for now it could be fine to be able to manually add domains to contact. I'll try to add it again in some way, when I have time.

[2017-05-03 13:33] willdean commented on #683
@larshg I unexpectedly have a few minutes free this afternoon, do you want me to have a go at some kind of fall-back-to-web.config-domain?

[2017-05-03 13:34] larshg commented on #683
Sure - if you feel up for it 👍

[2017-05-05 06:33] larshg commented on #683
@faina09 Yet another [build](https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/569/artifacts) where the old option is working again :)

[2017-05-05 08:45] faina09 commented on #683
thank you, I just downloaded it and will try this morning

[2017-05-05 11:01] faina09 commented on #683
seems to have same messages and still cannot find the DC

[2017-05-05 11:36] larshg commented on #683
@faina09 Thanks for keep trying out our attempts - I have made a new change, so it should work - download it from [here](https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/570/artifacts) when its ready :D

[2017-05-07 04:55] mrloddo opened #687 "Non-admin user can modify info in User page and in Team page"
Hi all,
I've already tested a recent version of Bonobo Server. Now the AD login works fine using Windows auth and internal membership.
I found now a non-admin user is able to change, delete all users and team info. The account is able to elevate itself to administrator role.

Marco

[2017-05-07 19:24] willdean commented on #687
@mrloddo Thanks for this - are you saying that the account could delete all users before you elevated it, or that somehow you elevated it first?

Could you perhaps give us a set of steps to reproduce this, starting with when you created the user in the internal membership system?

[2017-05-08 14:47] mastrat opened #688 "Runtime Error after configuring Active Directory Membership Service"
Hi everyone,
I'm trying to set up a git for testing purposes. I followed the installation instructions and tried configuring Bonobo for using our AD. After configuration I run into in a runtime error:
`Server Error in '/Bonobo.Git.Server' Application.
Runtime Error
  Description: An exception occurred while processing your request. Additionally, another exception occurred while executing the custo

[2017-05-08 15:57] larshg commented on #688
Hi

Can you post what i says in the logs folder?

You can also try to navigate to /Home/diagnostics on a browser on the server for more info.

The defaultdomain option is not active in the current master - but you can try [this](https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/570/artifacts) artifact.

[2017-05-08 16:51] willdean commented on #688
@mastrat Take @larshg advice, but also make sure you can get it working *without* AD login first - that's much more complex than the default configuration - make sure that works first.

[2017-05-09 06:54] faina09 commented on #683
it seems unchanged, but I have css errors, message is:

[2017-05-09 07:27] larshg commented on #683
That sounds odd. Have you set up the default domain in the config file like in the previous version?

[2017-05-09 07:45] faina09 commented on #683
Yes I did.
The ADBackend\Users directory is not populated; the code seems to check for the domain only during login?

[2017-05-09 08:02] mastrat commented on #688
Thanks for your reply.
@larshg I can't browse to /home/Diagnostics or localhost/diagnostics etc. Should there anything listen on that URL? Can the verbose level of logging be changed? Cause the log does only contain information of Bonobo starting:
[code]
I tried the artifact you provided and I run into the same problem. Applied Web.config to the actual installation - same here.
@willdean It works

[2017-05-09 09:49] larshg commented on #683
You where right @faina09  - I have updated [again](https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/572/artifacts) :)

[2017-05-09 09:58] faina09 commented on #683
Yesss! Not it works. I'll do some tests before put it in production. Thank you!
I remember that the fix works if the key="ActiveDirectoryDefaultDomain" exists in web.config

[2017-05-09 09:58] #683 closed

[2017-05-09 14:17] larshg commented on #688
@mastrat can you try turn off custom errors in the webconfig and post what exception is shown?

[2017-05-09 14:31] larshg commented on #684
@ayanbhowmick Can you try make a PR with the suggested changes, then it might be easier to see what changes you would like to have?

[2017-05-09 15:15] mastrat commented on #688
Of course it was a typo in the Web.config. Thanks for the hint of turning off custom errors. So I realised the comment close tag at the end of the line

Seems to work like expected now. Sorry for bothering you guys with such a stupid mistake.

[2017-05-09 15:15] #688 closed

[2017-05-09 15:23] #685 closed

[2017-05-09 15:24] larshg commented on #687
I have verified this - a user which should not have admin privileges, does in fact have these. I'll try narrow it down where and why this happens.

[2017-05-09 15:28] willdean commented on #681
@bluewalk When you have a moment (and when it's finished building), would you mind checking if the artifacts from the test build in PR #689 load up the Jwt library OK for you?

I'm going to look at the roles issue separately.

[2017-05-09 15:47] willdean commented on #681
@bluewalk Would you mind having a look through #368 (sorry, there's a lot of it).

There's a user there who got a complete ADFS setup working, and described what he/she set up to do it (he/she has some additional rules around group membership which may solve your admin issue.

If you're happy that's a useful set of instructions, then perhaps you'd help us get them into the documentation properly?

[2017-05-09 16:01] bluewalk commented on #681
@willdean Yes the Jwt library loads up normally now. Will have a look at #368 and once I have it working I will be happy to help adding it to the documentation.

[2017-05-09 17:56] larshg commented on #682
@ingdotrodriguezbarrios have you solved this issue?

[2017-05-09 19:55] willdean commented on #641
I don't think we should provide a 'back' button at all - that's the browser's job.

[2017-05-10 01:08] ingdotrodriguezbarrios commented on #682
Yes. i did it, i installed TFS, it come with .net4.6.2, i restarted my server, before Bonobo worked.

Thanks a lot!

[2017-05-10 05:49] bluewalk commented on #681
@willdean Okay got it working. The documentation at https://bonobogitserver.com/federation-authentication/ should be altered, first the `How to configure Bonobo Git Server?` should move to the top and then the contents for `How to configure ADFS?` need to contain the following:

1. Open AD FS Management
2. Click `Add Relying Party Trust`
3. Choose `Claims aware` and click `Start`
4. Choose `Enter

[2017-05-10 05:59] #682 closed

[2017-05-10 09:36] larshg commented on #687
The error occurs only on first login - since the user is not found in the database when the claims is queried [here](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/Bonobo.Git.Server/Owin/WindowsAuthenticationHandler.cs#L50) - the user is looked up on the AD server and a new ClaimsIdentity is [created](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/Bonobo.Git.Server/

[2017-05-10 09:55] larshg commented on #558
Closing as the original issue should be fixed in recent PRs.

[2017-05-10 10:02] larshg commented on #562
Closing this due to no response. If the users from the second domain is added to the first domains usergroup - it should be possible that the users is found in the global catalogs. But I'm far from certain about this.

[2017-05-10 10:02] #562 closed

[2017-05-10 11:24] willdean commented on #687
@larshg Awesome detective work (and links to the lines in the code!)

* The double role addition just looks like a simple mistake when we went from string literals to using the Definitions.Role.xxx constants.

* Is the heart of the issue that the user must be temporarily an administrator so that they can add themselves?   I understand your investigation enough to see how they're being set as admin

[2017-05-10 11:42] larshg commented on #687
Because if you want to use Windows authentication and and internal DB - you will not enable the AD part, ie. `RoleNameToGroupNameMapping` etc. [These](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/Bonobo.Git.Server/web.config#L29-L35) lines would be commented.

[2017-05-10 11:53] willdean commented on #687
Ok, right I get it - that makes sense.

Interestingly, `AccountController.ADCreateUser` calls `ADHelper.GetUserPrincipal` which potentially relies on `ActiveDirectoryDefaultDomain` which is, as you've said, commented-out in this scenario.

Just a suggestion here, but perhaps the real fix is to try to bring WinAuth+InternalMembership a little bit closer to full-AD and use more of those web.config s

[2017-05-10 13:16] larshg commented on #687
Well, if we add the "last few lines" then the option of internal db is non-existing? Then you can't change who is admins etc. without having to bug a admin in the cooperation, which might be tiresome.

I guess the ActiveDirectoryDefaultDomain, should also be a part that can be used with windows authentication, to correctly contact the appropriate server, if there is multiple domains etc.

[2017-05-10 13:24] willdean commented on #687
@larshg Yes, good point.

So, if we make the following two changes:

1. Don't give anybody an admin role at [this](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/Bonobo.Git.Server/Owin/WindowsAuthenticationHandler.cs#L89-L90) point.

Then

2. If at [this](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/Bonobo.Git.Server/Controllers/AccountController.cs#L204) point we

[2017-05-10 13:31] larshg commented on #687
Yes, I think that is our options. Alternatively we can decide it by querying the database where the roles are just added, and depending on the claims,  the database is updated acordingly in ADCreateUser.

So writing on phone so it might be a little short, but hope you get my point :-) ?

[2017-05-10 13:32] willdean commented on #687
@larshg Yup - I'm just going to put in a PR - hopefully you can review / test with your AD setup

[2017-05-11 14:02] neo9903 opened #692 "workingdirectory of git is wrong, if path of repositories is changed."
Hi all,

i think have discovered i problem. (version 6.1)

The default configuration is
C:\inetpub\wwwroot\Bonobo.Git.Server -> root Directory no write rights
C:\inetpub\wwwroot\Bonobo.Git.Server\App_Data  -> write rights
C:\inetpub\wwwroot\Bonobo.Git.Server\App_Data\Repositories -> write rights

i have changed the repository path to something like this:

E:\data\git\repositories -> write rights
b

[2017-05-11 14:15] willdean commented on #692
Thanks for this - for reasons I don't understand (but it's been like it a long time), the working directory of the Git.exe is set like this:

[code]

This call to `Path.GetDirectoryName` will chop one level off the path, but only if it doesn't end with a trailing backslash.

You might find that setting your repo path to E:\data\git\repositories\ does the trick?  Of course, this might cause some ot

[2017-05-11 14:49] neo9903 commented on #692
Thanks for the response.
 I think this would solve the problem. I will try it, when i have access to this machine.
But this configuration error is really hard to find. I think this should be noted or changed/fixed.
thx

[2017-05-11 15:16] willdean commented on #692
The working directory is odd, I agree - I don't know why I've never had a problem with it, because I have it set to e:\git on a machine here and I don't think the server has access to e:\

What operation did you find was failing?

[2017-05-11 16:10] neo9903 commented on #692
I only tried to clone the git repo using the url.
It failed with error 500.

I was really hard to find, because at first it worked after setting up the server and changing the repo Path.
I think it failed as soon the application restarted the first time due to the idleTimeout oft the iis (20min).

[2017-05-14 07:49] willdean commented on #687
Fixed in #691

[2017-05-14 07:49] #687 closed

[2017-05-14 21:09] willdean commented on #681
@bluewalk Many thanks for this - I have put into into the Federation Auth page on the website, but I have not yet updated the website.

Would you mind having a look at the page [here](https://github.com/jakubgarfield/Bonobo-Git-Server-Web/blob/master/content/federation-authentication.md)

If there's anything you want to change there, I think you may be able to do an edit directly in GH and have it

[2017-05-15 07:21] bluewalk commented on #681
@willdean I have created a pull request, there was just one incorrect statement which I've removed. Other than that it looks great!

[2017-05-15 07:24] willdean commented on #681
@bluewalk That's great - thanks - I've just merged that, and it will get published when we release 6.2.

Many thanks for your help with this - I'm going to close this issue now.

[2017-05-15 07:24] #681 closed

[2017-05-15 07:33] willdean opened #693 "6.2 Release?"
@larshg I'm thinking of doing a 6.2 release - this would fix the ADFS regression #681, and the various AD issues you've been working on.

What do you think?   I've had a go at updating changelog.md

[2017-05-15 10:01] larshg commented on #693
Yes, lets do that. As there are currently no critical PRs that should be merged first. I have however something to the documentation [here](https://github.com/jakubgarfield/Bonobo-Git-Server-Web/pull/2).

Can you merge that one?

But go ahead with a 6.2 release.

[2017-05-15 10:42] willdean commented on #693
Done

[2017-05-15 10:42] #693 closed

[2017-05-15 12:01] SebastienAndreo opened #694 "Missing Installation Step on the online Version"
In the prequesites the following step

  * Don't forget to register .NET framework with your IIS
        * Run `%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_regiis.exe -ir` with administrator privileges

is missing on the page https://bonobogitserver.com/prerequisites/

[2017-05-15 12:52] willdean commented on #694
@SebastienAndreo Thanks for this - do we know if this step is actually still necessary on any current machine / .NET framework?  I haven't had to do this for years myself.

I absolutely agree the instructions should be consistent, though.

[2017-05-17 10:59] jotatoledo opened #695 "Support - Configure commits parsing"
Hi,

I would like to configure `Link Regex` and `Link Url` so that my commits have a link to an issue tracking system.

For example:

If I make the following commit:

[code]

I would like to parse it into:

[code]

I have looked for some documentation about this 2 configuration options, but I haven't found anything.
Is it possible to achieve what I described? Any help would be appreciated!

[2017-05-17 11:05] willdean commented on #695
The RegEx should be a .NET regex - for your example it can be `#(\d+)` to match a decimal number with a '#` on the front.

The URL you want to complete should contain `{0}` if you want to insert the whole match or {1} to insert the first group from the RegEx (i.e. the 5891 in your example) - so something like `https://some-issue-tracking-system.com/project_name/issues/{1}`

Try that and see how yo

[2017-05-20 23:01] willdean commented on #695
@jotatoledo  Did this help?

[2017-05-22 10:52] Trapulo opened #696 "6.2 is built as 6.0"
The 6.2 release has bonobo.git.server.dll compiled as "6.0" version

[2017-05-22 10:55] willdean commented on #696
@Trapulo - can you say where you're seeing this version number?    I keep updating assemblyinfo files but clearly I'm missing something.

[2017-05-22 12:24] Trapulo commented on #696
I downloaded the build from https://bonobogitserver.com/ : it reports 6.0 in Web frontend, so I checked the .dll file from windows explorer, and it results as the 6.0 version.

[2017-05-22 12:28] willdean commented on #696
@Trapulo You're quite right, thanks for pointing this out.  I will have a look into what's going on and release a new version when I've worked out where that comes from.

[2017-05-22 14:45] willdean commented on #696
@Trapulo I've released 6.2.1 with this corrected (I hope!) - thanks for letting us know.

[2017-05-22 14:45] #696 closed

[2017-05-23 05:56] J-Farmer opened #697 "Issues setting up Bonobo on Win 10"
Hello All,

I have followed the installation instructions listed at [](https://bonobogitserver.com/install/) precisely, and I still am getting the HTTP Error 403.14 - Forbidden when trying to connect. I have also registered my .NET Framework with my IIS. I am using the Default Application Pool in IIS, which is a 4.0 .NET framework and the pipeline is Integrated. I'm at a loss here, and any help wo

[2017-05-23 06:23] willdean commented on #697
@J-Farmer It's really difficult for us to help with IIS problems, because there are so many possible causes.  However, there may be something useful here: #456, or there maybe something useful in one of these:

https://stackoverflow.com/questions/1741439/asp-mvc-in-iis-7-results-in-http-error-403-14-forbidden
https://stackoverflow.com/questions/15323190/http-error-403-14-forbidden-iis-error-for-as

[2017-05-23 10:00] jotatoledo commented on #695
hey @willdean, sorry for the delay. I havent been able to try your suggestion. I will reply as soon as I do 😄

[2017-05-23 13:00] J-Farmer commented on #697
Issue Resolved: I went into Turn Windows Features on/off and activated ASP.NET under IIS->World Wide Web Services -> Application Development Features. I can now view the login screen for Bonobo.

[2017-05-23 13:22] #697 closed

[2017-05-23 15:51] JohnnyElvis opened #698 "[6.0.0.584] non admin users can edit own login name and other details"
unfortunately non admin users are able to edit their own login name other user details. edit password only restriction would be great! :)

Authentification setup:
    <add key="AuthenticationProvider" value="Cookies" />
    <add key="MembershipService" value="Internal" />

[2017-05-23 16:32] willdean commented on #698
Does it matter if they edit their own username?

[2017-05-23 17:23] JohnnyElvis commented on #698
Well, if you want to remain in control it does. If one developer goes nutts it could be annoying to chase her/his account down...

[2017-05-24 05:03] sadeghrz opened #699 "some files not uploaded to repository"
hi,
some files and folders like bin folder or ApplicationInsights.config file not uploaded to remote repository.
any filter have?

[2017-05-24 07:39] willdean commented on #699
There isn't any filtering like this in Bonobo.

[2017-05-24 07:45] sadeghrz commented on #699
but i have an asp.net mvc app , i push it to bonobo from visual studio team explorer , bin folder and some other files not pushed, can i add files directly to repository?

[2017-05-24 07:51] willdean commented on #699
@sadeghrz That sounds like something the Visual Studio Team Explorer Git client is doing - you can use any Git client with Bonobo, and you may find another one which suits you better.  You need to check if VS has created a .gitignore file which is excluding the things you want, because that will affect every client.

I'm going to close this because I don't think it's a Bonobo problem, and there ar

[2017-05-24 07:51] #699 closed

[2017-05-26 02:23] fcharlie opened #700 "Port Bonobo to dotnet core(AspNetCore)"
I used `dotnet core` to write a cross-platform git smart HTTP server, the development process is very simple, using `await/async.`  I suggest that Bonobo be fully ported to `dotnet core`, using `await/async` and `AspNetCore`, so that it can better support cross-platform and provide services to more people.

https://github.com/fcharlie/Angelo

[2017-05-26 07:02] willdean commented on #700
@fcharlie I have certainly thought about this.  Here are my current thoughts:

* A lot of people seem to use the AD support in Bonobo, which would be difficult/impossible in .NET Core at the moment, and may never be supported off Windows.
* We would want to wait for Core 2.0 which is not released yet (And VS2017.3 Preview is unusably unstable for me)
* I haven't checked what other dependencies we

[2017-06-01 18:19] Decker97 commented on #284
So, to create the branch with Git I need to RDP to the server (Windows 2012) and use command prompt to create the branch in the main repo?
I can then access this branch in VS 2015.

[2017-06-01 18:51] willdean commented on #284
@Decker97 Normally you would create a branch on your local repository and then push it to a remote like Bonobo (or GitHub, or whatever).  You don't have to RDP onto the Bonobo machine.

[2017-06-07 12:09] wilsonehusin commented on #694
I can confirm that it is still needed, otherwise the .NET4 application pool will not show up. Even when creating my own .NET4 pool, it would not work like the one generated by the command above. I might be missing something but running 1 command line is definitely easier than fishing the application for buttons.

[2017-06-16 16:18] alainassaf opened #701 "Upgrade from 5.2 to 6.2.1 all repo's disappear"
Just completed an upgrade from 5.2 to 6.2.1. It's not clear from the change log, but are no repos for the 5.2 version compatible with 6.2.1? Do I have to recreate everything? Was there a way to export the repo info from 5.2 prior to an upgrade? I've still got my app_data folder backed up and I can see the repo's under \Bonobi.Git.Server\App_data\ADBackend\Repos.

Thanks,
Alain

[2017-06-16 16:27] willdean commented on #701
I think you'll have to set the ownership and details up again for AD, sorry - it should discover all the repos in the file system, though.

They're only json files and it might be possible to come up with some kind of converter/importer.

[2017-06-16 16:32] alainassaf commented on #701
I also don't seem to have admin permission any longer. I've set the ActiveDirectoryRoleMapping key to the AD group I used before (which I'm a member of). I can't create new repositories. I get this:

Unauthorized

You don't have permission for the selected action or page.

________________________________
From: Will Dean <notifications@github.com>
Sent: Friday, June 16, 2017 12:27 PM
To: jakubgarf

[2017-06-16 16:37] alainassaf commented on #701
I think the issue may be because of different domains. Our local AD domain is blabla.local, but our email accounts (due to ADFS) are me@blabla.org. When I check the teams and drill down to my account, it's looking for me@blabla.org. All AD groups are in blabla.local.

[2017-06-16 16:40] willdean commented on #701
@alainassaf There could well be domain problems (we've struggled with that) - could you have a look in app_data\logs at today's log and see if it contains anything useful which could help us.

[2017-06-16 16:44] alainassaf commented on #701
Here's the log file.
[log-20170616.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/1081414/log-20170616.txt)

[2017-06-16 16:49] willdean commented on #701
@alainassaf I'm not the AD expert, but could you try playing with the ActiveDirectoryDefaultDomain option in web.config - perhaps try:

`<add key="ActiveDirectoryDefaultDomain" value="blabla.local" />`

[2017-06-16 17:01] alainassaf commented on #701
That's what it is set to right now. I also tried blabla.org. I tried Internet Explorer (instead of Chrome) and it appears to be working. The only issue now is the buttons are missing and the layout is not quite right. Not sure how I can show this to you. Let me try a screen shot and attach it.
![6 2 1_layout](https://user-images.githubusercontent.com/25592289/27236671-e4605fa0-5293-11e7-8652-04001

[2017-06-16 17:59] alainassaf commented on #701
I'm going to close this issue as the repo's appear now. Unfortunately, I'll have to rollback and try a parallel upgrade in the future. They way it is now, is not usable for my company.

[2017-06-16 17:59] #701 closed

[2017-06-16 18:15] willdean commented on #701
@alainassaf I'm sorry you've had trouble - I can't really help with the AD stuff personally, and we find it impossible to test properly as no two people have the same combination of servers and domain names.

I can't see why the browser would make a difference, so I suspect there is more than one problem going on.  If @larshg is around he might be able to suggest something to try.

[2017-06-16 18:20] alainassaf commented on #701
I appreciate it. I know you're all doing this on your spare time and are not getting paid. So thank you for trying to keep this tool moving forward.

[2017-06-20 21:46] spivack1212 opened #704 "Passwords With percent sign causes Authentication Error in GitAuthorizeAttribute"
If a user's password contains a percent sign, the `GitAuthorizeAttribute.IsUserAuthorized()` method will incorrectly decode the password which always results in an Authentication failure.  This is due to the use of `Uri.UnescapeDataString()` to extract the password out of the decoded auth header value.

For example, `Password%4299` would be decoded to `PasswordB99` before the authentication attemp

[2017-06-20 22:02] willdean commented on #704
Thanks for this - I think you're right and there's no reason for those `UnescapeDataString` calls at all - the whole token is base-64 encoded anyway, so there would be no need for further escaping, and as far as I can tell it isn't part of the HTTP spec to URI-encode name/password before building the base-64 string.

The calls got added before my time, and as part of a large modification by someon

[2017-06-27 12:41] Nu11u5 opened #707 "Anonymous repositories are hidden to authenticated users unless they are a contributor"
I understand that at the moment anonymous (unauthenticated) users cannot browse Bonobo.  This is a different issue.

Authenticated users cannot see anonymous repositories in the Index unless they are set as a contributor/admin/team.  Attempting to browse the Repository Details URL directly returns "Unauthorized".

My expectation is that anonymous repositories are shown in the Index to all authenti

[2017-06-27 13:41] willdean commented on #707
Thanks for this - it's a good point.  At the moment the repo's `AnonymousAccess` flag is only tested when checking *anonymous* users for permission to access a repo.  Once a user is named then we no longer test that flag.

I agree that doesn't make much sense, particularly as they can just pull the data anyway via Git, so it's not like it's a security issue.

I don't think it will be very difficul

[2017-06-29 15:51] Nu11u5 commented on #701
@alainassaf Your IE issue is due to Compatability Mode being enabled by default for the Intranet Zone.  This can be changed in the IE settings.  It looks like there is an HTML meta tag that can be added to the page source to override this behavior as well.  Might be worth a making a separate bug report.

[2017-06-29 21:54] GetTeched commented on #342
:+1:

[2017-07-03 17:30] rogerjak opened #709 "Global commit list"
It would be nice to be able to see a commit list, but for all repos at once.

[2017-07-05 06:13] Dolphinsimon opened #711 "Change default branch for a repository."
Every repository has a default branch - master branch.
I can't change this setting now. Will it possible that I can set my own default branch in the future version? Thx!

[2017-07-05 08:46] jeffgaroutte commented on #667
Have you considered an autocomplete field instead of a drop down?  It might be a little cleaner and if the 'enforce centralized group administration" is disabled, it will help prevent a group named "public repositorys" when "public repositories" already exists...it might help prevent that even if it is turned on.

[2017-07-06 18:42] cally725 opened #712 "Git Server 6.2.1 on Windows Server 2016 / IIS 10 Active Directory Admin issue"
Hi,

I was using GIT Server 5.0.1 without any problem on the same server and try to upgrade to GIT Server 6.2.1 now I can logon using Active Directory but it does not display my name and does not see me as Admin. So I cannot Create a new Repo.

I have the following configuration:

    <add key="AuthenticationProvider" value="Cookies" />

    <add key="ImportWindowsAuthUsersAsAdmin" value="false" /

[2017-07-07 13:54] willdean commented on #712
There is definitely some problem with admins on some AD config in the current version which we have not been able to get to the bottom of.

Could you please got to <bonobo server>/home/diagnostics (you need to do that on the server itself, you can't do it remotely) and post the results here.

You could also have a look in app_data\logs at the latest log and see if there's anything helpful in there

[2017-07-10 13:52] cally725 commented on #712
I have a Windows installation so the /home/diagnostics directory does not exist. Here is the log file in App_Data

[log-20170710.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/1135702/log-20170710.txt)

[2017-07-10 15:12] willdean commented on #712
Thanks for the log.  http://<your server/home/diagnostics is a page of info that is generated dynamically - it's not a directory.

[2017-07-10 15:15] cally725 commented on #712
Ha ok thanks for the info!!

Here is the log info:
[HomeDiagnostic.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/1136002/HomeDiagnostic.txt)

[2017-07-10 15:19] willdean commented on #712
@cally725 Would you mind trying the version from here:

https://ci.appveyor.com/api/buildjobs/p50rt74umb0lxdu7/artifacts/bonobo-git-server-9362483-f7601420526ad05e548a32bb5c9b3389dd6bd2cf.zip

[2017-07-10 15:20] willdean commented on #712
@cally725 Also make sure you do have some users that are in the group SPMOCDI01_Git_Users - the admins need to be in that group AND the admin group.

[2017-07-10 15:26] cally725 commented on #712
Ok I will try the new server.

I am pretty sure that the SPMOCDI01 user and admin setup is good because if I use the GIT server 5.01 it is working fine

[2017-07-10 15:31] cally725 commented on #712
Ok just installed your new server, with same result, here is the home diag info
[HomeDiag.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/1136055/HomeDiag.txt)

[2017-07-10 15:31] willdean commented on #712
@cally725 OK - the logs show that there are a bunch of failures trying to talk to some domain servers (e.g SPBGDCL02.exfo.com) - there is different behaviour to earlier versions around searching for multiple domain servers, and this seems to cause people some problems - you may find that new version is helpful.

There have been many changes since 5.01 both in terms of code and of personnel, and no

[2017-07-10 15:33] cally725 commented on #712
Sure I'am available to help with the debugging :-)

[2017-07-10 15:34] cally725 commented on #712
I will put back the version 5.01 and send you the home diag info

[2017-07-10 15:38] willdean commented on #712
@cally725 There's no diagnostic info in 5.01, nor much useful logging

[2017-07-10 15:38] cally725 commented on #712
Oupsss with the version 5.01 the /home/diagnoistics page does not seems to be available. Neither the App_Data\logs directory ?

[2017-07-10 15:39] cally725 commented on #712
Ha OK :-(

[2017-07-10 15:42] willdean commented on #712
@cally725 I've just pushed a change to PR #706 (which is where that new version you just tried comes from) when that's finished building you'll be able to try the result of that build which might help.

[2017-07-10 15:43] cally725 commented on #712
Ok Thanks let me know...

[2017-07-10 17:52] willdean commented on #712
Sorry for the delay, it's now at  https://ci.appveyor.com/api/buildjobs/6ugl6qoampu240y0/artifacts/bonobo-git-server-9615063-6bfc5aea74bb47f3cdc60f0ac517fc275e1a100d.zip

[2017-07-10 17:57] cally725 commented on #712
Ok let me try.,..

[2017-07-10 18:15] cally725 commented on #712
Ok just try it, same behavior, here is the /home/diag log

[HomeDiag.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/1136596/HomeDiag.txt)

[2017-07-10 18:28] larshg commented on #712
Maybe de ned search for userprinciple with the upn name if available - and not just the 'IdentityType.SamAccountName' ?

Because it currently it doesn't find the users on the supplied domain?

@cally725 do you know if the users shouldn't have the 'samaccountname'?

[2017-07-10 18:32] cally725 commented on #712
More info on my groups, in case it can help:

[GroupNames.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/1136648/GroupNames.txt)

[2017-07-10 18:57] cally725 commented on #712
and I am chrall1

[2017-07-10 19:13] larshg commented on #712
Somehow de look for christian.ally etc?

[2017-07-10 19:15] cally725 commented on #712
Yes I know and it should probably look for christian.ally@exfo.com to get chrall1 mapping ?

[2017-07-10 19:17] larshg commented on #712
Yes, ør just look for chrall1 which I think is your samaccountname :-)

[2017-07-10 19:22] cally725 commented on #712
The AD server config must be good because it is working fine with Git Server 5.01 and it is not working with Git Server 6.2.1.606 ? So there seems to be something in the GIT server that is not working for AD ?

[2017-07-10 19:24] larshg commented on #712
Yes, there is a bug. I have asked @willdean to do some chances. We will have to wait for him.

[2017-07-10 19:26] cally725 commented on #712
Yes sure... no problem!

[2017-07-10 20:02] willdean commented on #712
@cally725 It's building now on #706

[2017-07-10 20:23] willdean commented on #712
@cally725 Please try the version at https://ci.appveyor.com/api/buildjobs/sstb0kpxw7qb5jvo/artifacts/bonobo-git-server-9617784-1fa5821d3a637beceb31d3fb03660cea080497e1.zip

[2017-07-10 20:38] cally725 commented on #712
Ok just try it, same behavior, here is the /home/diag log

[HomeDiag.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/1137004/HomeDiag.txt)

[2017-07-10 21:06] larshg commented on #712
@cally725 can you set the logging to verbose for serenity log in webconfig and run again?

[2017-07-10 21:07] cally725 commented on #712
do you mean this ?
 <add key="serilog:minimum-level" value="Verbose" />

[2017-07-10 21:08] cally725 commented on #712
<add key="serilog:minimum-level" value="Verbose" />

[2017-07-10 21:08] cally725 commented on #712
" <add key="serilog:minimum-level" value="Verbose" />"

[2017-07-10 21:11] larshg commented on #712
Yes

[2017-07-10 21:12] cally725 commented on #712
New log file with Verbose on
[HomeDiag.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/1137093/HomeDiag.txt)

[2017-07-10 21:14] willdean commented on #712
@larshg When it's doing the new get-by-UPN, should it pass in the full name (e.g. `alex.gagne@exfo.com`) rather than the stripped name `alex.gagne` ?

[2017-07-10 21:16] cally725 commented on #712
It is also weird that my name christian.ally@exfo.com does not appear in the list of trial ?

[2017-07-10 21:17] larshg commented on #712
I would believe both should work, but normally it is the complete form. However de ask for it in update user. Not sure if it is stripped somehow...

[2017-07-10 21:26] willdean commented on #712
@larshg I've just pushed a change to use the full name when doing a UPN lookup

[2017-07-10 21:28] larshg commented on #712
@cally725 the dianostic only tales a limited part of the full log. If you look in this tour name should be there :-)

[2017-07-10 21:30] cally725 commented on #712
Indeed :-)

[2017-07-10 21:30] larshg commented on #712
@willdean cool -  lets ser if this makes it work ;-)

[2017-07-10 21:34] cally725 commented on #712
I need to leave for the day, I will try it tomorrow morning...

[2017-07-10 21:41] willdean commented on #712
@cally725 No prob - thanks for your help - new version is at https://ci.appveyor.com/api/buildjobs/5qq0y27dxi2273qk/artifacts/bonobo-git-server-9619407-9ba0ec9eea7dd155a66cfa034fa1a62587ff9940.zip when you're ready.

[2017-07-11 13:29] cally725 commented on #712
Ho! Ho! I think we have a Winner :-)

Version 6.2.1.608 is working now.

Here is the log file

[HomDiag.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/1138982/HomDiag.txt)

Thanks you so much!!

[2017-07-11 13:35] larshg commented on #712
@cally725 thats great to heat! Thanks for helping with tests.

[2017-07-11 13:37] cally725 commented on #712
Should I use this debug version on my production site or should I wait for a new official version ?

[2017-07-11 14:01] Nu11u5 opened #713 "Show README in browser if present at any directory level of a repo"
Feature Request:

Right now README files are only displayed at the root level of a repository.  For repos that are desired to have browsable documentation it would be nice to be able to show README files that are included at any directory level.

This would be even more useful once submodule support is added.

[2017-07-11 14:06] Nu11u5 opened #714 "Browsing to a binary file tries to display as text in the blob preview"
If you include a binary file in your repo and browse to it in Bonobo the server will try to parse and return the entire file contents as text in the preview.

[2017-07-11 14:15] willdean commented on #714
I think it's a little more complex than that - there are a bunch of rules for trying to display binaries as something else (e.g. images), though I don't know much about that.  What sort of file was it?

[2017-07-11 14:22] Nu11u5 commented on #714
It's a windows executable I'm including as a tool.

[2017-07-11 18:51] willsoares opened #715 "Merge bugs the commits timeline"
When someone needs to merge, the commits order turns wrong.
Example:

1. Merge remote-tracking branch 'origin/master' (11/07/2017 15:40:00)(This one includes commit n#3 and n#4)
2. Commit n#3 (11/07/2017 14:09:49)
3. Commit n#4 (11/07/2017 15:39:27)
4. Commit n#2 (11/07/2017 13:30:56) (normal)
5. Commit n#1 (11/07/2017 12:13:43) (normal)

[2017-07-11 19:19] willdean commented on #715
Thanks for the report, but I'm not clear what you're seeing.  Are you complaining about something that's displayed on a particular page of the Bonobo web application?

[2017-07-12 08:03] #713 closed

[2017-07-12 08:04] willdean commented on #714
@Nu11u5 - the logic for deciding whether or not to display files as 'text' has been broken - I will merge a fix for this shortly - thanks for letting us know.

[2017-07-12 08:12] #700 closed

[2017-07-12 08:14] willdean commented on #709
Thanks for the suggestion, but I'm not personally enthusiastic about this - it could be incredibly slow if you had more than a tiny number of repos.

Out of interest, what's the use case?

[2017-07-12 08:15] willdean commented on #712
@cally725 The 'debug' version should be fine - it's been built using the same process as an 'official' version, and it's not a lot different to 6.2.1.

I am trying to see if we can get anyone else to try this set of changes too before we merge them.

[2017-07-12 11:42] willsoares commented on #715
I'm sorry if i wasnt clear.
I think the commits order on the commits screen of a project is wrong. Correct me if I'm wrong.

![bug](https://user-images.githubusercontent.com/9052213/28116017-966b3816-66dd-11e7-9992-d957d7cecb8d.PNG)

[2017-07-12 11:43] willsoares commented on #715
I'm sorry if i wasnt clear.
I think the commits order on the commits screen of a project is wrong. Correct me if I'm wrong.
![bug](https://user-images.githubusercontent.com/9052213/28116148-2c557d14-66de-11e7-900c-41d5bc5d7010.PNG)

[2017-07-12 12:09] willdean commented on #715
@willsoares I've just had a quick look at the code, and we're using what's called 'Topological' sort order, where parents appear before children.  This is one of several different options which are available - perhaps we should offer some alternatives (there is a strict date order, which I guess is what you want).

[2017-07-14 11:28] Mandropil opened #718 "Basic installation prerequisites"
While looking for the reason I got 403 errors I came across several Stackoverflow topics which rather seemed unsolved.

Although it might seem trivial the installation prerequisites should mention that it's actually an ASP.NET application.
E.g. IIS on Server 2012 does not come with ASP by default although .NET CLR is installed by default.

At least for me it was a little confusing and took me some

[2017-07-14 16:23] willdean commented on #718
Is the role really called "ASP Server"?  This sounds like the old 'traditional ASP' rather than ASP.Net, which comes with the .NET framework.

I expect you're right that there are roles in IIS which are required which may not be installed by default on some versions of Windows, but we do need to be careful about the names of them if we're going to say people have to install them.

[2017-07-16 13:47] hope4555 opened #719 "Can Bonobo-Git-Server be installed on Azure App Service"
What are the steps for installing  Bonobo-Git-Server on  Azure App Service
As opposed to regular windows , we do not have UI, just an FTP account
We can transfer the files to /site/wwwroot/Bonobo.Git.Server , but what about the rest of the steps?

[2017-07-19 11:35] Mandropil commented on #718
I must admit I installed all Development tools as I did not care on that server.
But then it should be called "ASP.NET 4.5".

Can someone confirm ?

![image](https://user-images.githubusercontent.com/8654498/28364928-da744ab2-6c86-11e7-8687-1cbf801c00a0.png)

[2017-07-25 06:36] Freddyvdh opened #723 "Error: Too many redirects"
Hi,

I wanted to update to the latest version, but with it I get the ERR_TOO_MANY_REDIRECTS error.
The old version (5.2.0) works fine.

No logs are generated, so I don't know where I can search for an error.

I path of the 6.2.1 version is C:\inetpub\wwwroot\Bonobo.Git.Server.6.2.1
The URL is http://localhost:8080/bonobo.git.server.6.2.1/

The redirected URL is http://localhost:8080/bonobo.git.ser

[2017-07-25 06:45] larshg commented on #723
Have you updated tour .net framework to 4.6.x. I think this is required.

[2017-07-25 06:48] larshg commented on #723
See #672 etc.

[2017-07-25 07:17] Freddyvdh commented on #723
Thanks, that fixed it!

[2017-07-25 07:17] #723 closed

[2017-08-01 15:29] KY4U opened #724 "Failed to mmap. No data written: Not enough storage"
When attempting to view a repository I'm receiving the following error message:
An error occurred when processing your request. Please try again or contact the system administrator.

The log file shows the following.  I've checked the storage quota on this webapp and there is plenty of storage available.  Please advise.

2017-08-01 15:09:51.111 +00:00 [Error] Exception caught in Global.asax1
LibGi

[2017-08-02 10:49] prellele opened #725 "Checksum for Downloads"
It would be great to have a checksum for verify the integrity of a download.

Thank you for your help.

[2017-08-02 11:04] willdean commented on #724
I doubt we can help with this, tbh.  It's probably something screwy about that server (temp space, memory available to app pool?)

[2017-08-02 11:09] willdean commented on #725
Bonobo is very simple to build from source, so if you're super-concerned about .exe tampering, then it would probably be better if you built it yourself.  You can't really be trusting us to build a benign executable anyway, even if we upload a bunch of hashes which match the download.

What threat are you trying to mitigate, in case we do decide to do something useful here?

[2017-08-03 12:58] Nu11u5 commented on #725
I think that @prellele is asking about having a checksum for when you download a file or branch from a repo within Bonobo.

[2017-08-03 13:01] willdean commented on #725
@Nu11u5 Oh, right!  That makes more sense, thanks.

[2017-08-03 15:13] cbuteau opened #726 "Markdown allows relative links to other markdown but not images."
Hello,

I got your server up and running on IIS on a Win 7 server machine.
The only trick was installing .Net 4.6...the installer for 4.5 stupidly said...Already installed exiting.
But I found the 4.6 trick on someone else's blog.

I am trying to host wiki pages in markdown format but cannot seem to get embedded images to work.
I tried relative paths and absolute paths and it does not work.

Like

[2017-08-03 15:58] willdean commented on #726
I don't 100% follow this, but getting a 404 doesn't sound like a credential/cookie problem.

It sounds to me that the URL being requested from the markdown (which doesn't work) is not the same as the URL being requested when you paste a URL into the address bar.

Could you use your browser's developer tools to check what the exact URL which gets 404'd is?

[2017-08-03 18:02] cbuteau commented on #726
To give more context.
I am using Bonobo to store internal scripts and I thought I could create a wiki space for the team since the Markdown formatting looked pretty solid.

So I created another repository and started pushing updates to it.
First thing...refering to other pages needs the repository GUID to actually work.

So this link
(Click me)[./some/subpage.md]

Looks like this
(Click me)[<repo

[2017-08-03 18:24] willdean commented on #726
Sorry, I am being very dense here, but can you not just put the proper URL into the markdown?

As you've discovered, there is more information in the URL than just the filename - Bonobo needs branch information too, and it's also quite a challenge to map all legal filenames into legal URLs, which is why the branch name and file name travels as a query parameter rather than just a portion of the UR

[2017-08-03 18:48] cbuteau commented on #726
Putting the full url means it it translated to a partial in the HTML.
It then does the fetch...and then fails.

The idea is to take advantage of md.

I tried other md engines to no luck MDwiki although clever just goes out to lunch on some pages.
Maybe I should look into a md precompiler or building my own node MD app from scratch.

[2017-08-04 00:58] cbuteau commented on #726
I have moved to scripts that generate the html from md.
I might figure out automation later.

I am using the converter from showdown
https://github.com/showdownjs/showdown

It allows me to modify the links to the other md files to end with .html instead with a regex field.

I think I will leave this open and let the team close it inactive.
It is not a bad idea.

As well as setting up a source repo

[2017-08-04 13:33] Nu11u5 commented on #726
I also setup a documentation repository that utilizes markdown.  I had to specify links using root-based paths (no need to worry about the hostname then, at least).  This is because Bonobo uses very different url schemes depending on if you in the repo root browser view, repo subdirectory browser view, file browser view, or the file raw view.

E.g:

As you can see this $#!t is just as inconsistent

[2017-08-04 13:59] willdean commented on #726
@Nu11u5 It's a mess because A) all sorts of people have played around with it and their contributions haven't always been as firmly reviewed as they might have been and B) nobody has seen acting as a web-server as much of a priority, so the consistency of the URLs hasn't been a big deal.

Of the four URLs you post, only two are actually for an individual file - is there a reason why the "raw file

[2017-08-04 14:06] Nu11u5 commented on #726
@willdean Oh sure the "raw file view" works fine for embedding an image in markdown *if* you use the full/root path.  That path can't be reconciled with the other view URLs which is where you would be when viewing rendered markdown, so relative URLs cannot be used which was @cbuteau's issue.

[2017-08-04 21:00] jeffgaroutte commented on #726
there's a bug in the route mapping- there is a constraint on the blob
mapping that tries to forces the id to be only digits, expect the id is a
guid.  This is why the branch/path is in the query string instead of part
of the proper url.

It doesn't solve the problem 100%, but it will help

On Fri, Aug 4, 2017 at 9:06 AM, Nu11u5 <notifications@github.com> wrote:

[2017-08-13 16:29] jagDanJu opened #727 "Error 500 on push"
Hey Guys,

we are using the current version of Bonobo.
We set it up on Windows Server 2012 with `<add key="MembershipService" value="ActiveDirectory" />` authentification.

Login etc. works fine. But if we want to push a commit we get an error code 500.

If i open the *.git URL in Chrome then i get the following error message:

`System.FormatException: Invalid length for a Base-64 char array or st

[2017-08-14 07:07] #714 closed

[2017-08-18 08:46] ceeroshelter opened #728 "Can't create repository"
When clicking Create new repository in the web GUI, I get:

An Error Occurred
An error occurred when processing your request. Please try again or contact the system administrator.

From the log:

2017-08-18 10:45:29.591 +02:00 [Error] Exception caught in Global.asax1
System.NullReferenceException: Object reference not set to an instance of an object.
   at lambda_method(Closure , UserModel )
   at

[2017-08-18 08:59] ceeroshelter commented on #728
Aaaand of course, right after I post that, I figure it out.

I had to go to advanced settings for the application pool and enable 32-bit applications.

[2017-08-18 08:59] #728 closed

[2017-08-21 08:15] rogerjak commented on #704
Same issue for me, but with question mark (?) in the password.

[2017-08-21 14:47] mrbuisson commented on #653
I like the idea of finer permission control. Default can stay as it : a person has access to a repo or not;  while an advanced user can fine tune his repo access rigth.
I find gerrit right management self explaining :
1) you tell the reference you want to manage permission.
2) you select what people can do with this this reference (pull, push, create ...)

![git_server_permissions](https://user-im

[2017-08-22 07:24] mabakay opened #729 "Possibility to use user names in AD configuration instead/together with groups"
Background: we do not administrate AD but we use AD accounts in company.
Now we are using internal membership provider but it would be much more convenient to use AD login.

[2017-08-23 22:26] willdean commented on #727
Is this possible a duplication of #704 - are there special chars in your password?

[2017-08-24 07:38] rogerjak commented on #709
We have several smaller repos and it would be useful to see the latest commits in one place.

(We also have Redmine where I've configured it to show commits in the "projects changes list", so to have it in Bonobo is really just "nice to have".)

[2017-08-27 12:07] jagDanJu commented on #727
Yes.. Without special chars it works!

[2017-08-27 15:53] #704 closed

[2017-08-30 08:35] Mori22 opened #731 "Version 6.2.2 problem with redirection after login"
Hi,

I did just install Bonobo Server Version 6.2.2 (Windows Server 2012 R2).

The installation itself went without any problems and I see the login screen when i open

`http://localhost/Bonobo.Git.Server`

When I now enter the default admin details I get an error 404 page that the requested page was not found. The URL of this page is:

`http://localhost/Home/Index`

which does not exist.

When i

[2017-08-30 08:44] willdean commented on #731
@Mori22 You can find older versions (no index, but the binaries are there) at URLs like this:

https://bonobogitserver.com/resources/releases/6_2_1.zip

A complete list of everything that's up there is here:

https://github.com/jakubgarfield/Bonobo-Git-Server-Web/tree/master/content/resources/releases

If you do find an earlier version works better then that would be interesting.

You will find th

[2017-08-30 13:08] Mori22 commented on #731
@willdean I did try the Version 6.2.1 and didn't have problem with the redirection:

When I enter the admin credentials i get redirected to the correct page

When I checked the ReturnUrl in Version 6.2.1 the value there is:

`ReturnUrl=%2FBonobo.Git.Server%2FHome%2FIndex`

So my guess would be that the issue i described is problem within version 6.2.2 and could be relevant for any user who updates

[2017-08-30 13:22] willdean commented on #731
@Mori22  Thanks for checking this - I suspect this is perhaps something to do with #710 - I'll have a look.

[2017-08-30 13:24] willdean commented on #731
@jeffgaroutte would you mind having a look at this and see if you think anything in #710 might be involved?

[2017-08-30 15:43] oharab opened #732 "Email addresses with apostrophes in aren't accepted as valid."
When creating a new account and the user has an apostrophe in their name, the user validation fails and the user can't be created.
![bonobo_email_error](https://user-images.githubusercontent.com/64716/29881268-078c6796-8da2-11e7-8595-2431e85346a5.png)
The address is valid, as per [RFC 2822](https://tools.ietf.org/html/rfc2822), I can't be the only Irishman who struggles with this, daily?

[2017-08-30 17:01] willdean commented on #732
@oharab Thanks for this.

I'd like to say it was a conspiracy by the English to further oppress those from The Land of the Bogs and the Little People, but sadly I think it predates any English involvement in the project, so on this point we're blameless.

The current email validation regex is `@"^(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@((\w+\-+)|(\w+\.

[2017-08-31 10:43] oharab commented on #732
Based on info at http://www.regular-expressions.info/email.html how about:
^[A-Z0-9]['A-Z0-9._%+-]{0,63}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$`

I've [tested it online](http://regexstorm.net/tester?p=%5e%5bA-Z0-9%5d%5b%27A-Z0-9._%25%2b-%5d%7b0%2c63%7d%40%28%3f%3a%5bA-Z0-9-%5d%7b1%2c63%7d%5c.%29%7b1%2c125%7d%5bA-Z%5d%7b2%2c63%7d%24&i=ben.o%27hara%40example.sub.domain.uk&o=i) and it works with my

[2017-08-31 11:09] oharab commented on #731
Is the issue with the [RepositoryController](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/735ea519b22c904729680c789c693db9a977ea13/Bonobo.Git.Server/Controllers/RepositoryController.cs#L44) not taking into account any virtual directories.
` public ActionResult Index(string sortGroup = null, string searchString = null)
        {
            var unorderedRepositoryDetails = this.GetIndexM

[2017-08-31 14:42] Guido11 commented on #731
I experience the same problem
Version 6.2.1 works fine and the login page redirects to the right page in ReturnURL
https://testcodesafe.chsys.org/Bonobo.Git.Server/Home/LogOn?ReturnUrl=%2FBonobo.Git.Server%2F

Version 6.2.2 redirect to a different location Home/Index
https://testcodesafe.chsys.org/Bonobo.Git.Server/Home/Logon?returnUrl=%2FHome%2FIndex

[2017-09-01 07:34] willdean commented on #731
@oharab Thanks - I think you're right - it should be using a method to create the URL, not just a text string.

[2017-09-01 07:53] willdean commented on #731
I've just posted a PR which should address this - once AppVeyor's built it, would anyone who's struggling with this be able to download the zip from the AppVeyor artefacts and try it out?

[2017-09-03 08:46] Mori22 commented on #731
@willdean would love to test it but there seems to be a problem with the changes as AppVeyor just outputs an error and no usable zip files

[2017-09-04 07:44] willdean commented on #731
@Mori22 Yes, the unit tests are broken, sorry.  I am struggling to make time to deal with this at the moment, but will post here again when it's fixed.

[2017-09-04 07:51] Mori22 commented on #731
@willdean don't worry this isn't a big deal as version 6.2.1 runs perfectly stable. If anything you deserve praise for reacting so fast at all!

[2017-09-04 16:47] jeffgaroutte commented on #731
line 44 should be
`return RedirectToAction("Logon", "Home", new { returnUrl= Url.Action("index", "Home") });`

that should address the unit test issue and virtual directories.

[2017-09-04 18:15] #731 closed

[2017-09-06 01:54] markand911 opened #734 "Is there any way to view differences side-by-side"
I extensively use bonobo git server.
Is there any way to view file differences side-by-side?

[2017-09-06 06:47] willdean commented on #734
Not on the server, no, sorry.

[2017-09-06 06:54] markand911 commented on #734
Thank you willdean

[2017-09-06 06:54] #734 closed

[2017-09-11 13:09] dankell opened #735 "Several repositories listed as "missing""
We have been using Bonobo for a couple of years now, with the _Repository Directory_ set on a network share.

I've just gone to checkout a repository which I haven't used for a couple of months and on viewing the _Repositories_ list there are a number of repositories that are marked as "(Missing)". Out of 31 repositories 12 are marked as "Missing".

If I click on a repository the error "An error o

[2017-09-11 13:27] willdean commented on #735
Are your sure there hasn't been any permissions change anywhere (the user which the app-pool running Bonobo runs as must be able to see the network share), or was the share perhaps not available when the Bonobo server started?

If you do an `iisreset` on the Bonobo server do they come back?

[2017-09-11 15:30] dankell commented on #735
Not aware of any changes on the Network Share having changed. If there have been any changes of that type they should have affected all folders equally (all 31 repositories are on the same Network Share)

iisreset doesn't seem to make any difference

In trying to track this down it seems that at some point Bonobo no longer accepts UNC paths or Network Shares as valid repo paths, but has continued

[2017-09-11 18:01] bluewalk opened #736 "AFDS broke on 6.3.0"
After updating to 6.3.0 ADFS has stopped working. On login you do not get redirected to the ADFS page. It simply shows the login form, entering details in that form does not log you on either.

Reverting to 6.2.1.588

[2017-09-11 18:45] willdean commented on #736
@bluewalk Thanks for this - I suspect this is related to #710 which has had some other issues around login.

[2017-09-11 20:29] holiiveira commented on #735
The identity configured in the application pool must have access to the share that Bonobo is using:

![iis](https://user-images.githubusercontent.com/4368491/30295362-b7bd32a8-9716-11e7-8e94-5223dbb1199d.PNG)

[2017-09-12 08:11] arj060892 commented on #284
i have access to my Bonobo server , can anybody guide me how to create a branch from the Web interface

[2017-09-12 10:19] willdean commented on #284
@arj060892 You can't create a branch from the web interface - you need to create it locally and then push it to the server.

[2017-09-12 16:18] willdean commented on #284
@arj060892 I think you're probably struggling with Git rather than Bonobo.  This might be helpful:

https://stackoverflow.com/questions/67699/how-to-clone-all-remote-branches-in-git

[2017-09-13 04:08] arj060892 commented on #284
@willdean I tried the same cloning git methods for GitHub , were it was successfully able to copy the branches but with Bonobo its not copying the branches

[2017-09-13 17:08] adamobrn opened #737 "Unable to remove (missing) repositories"
I am currently in the process of automating the creation of Git repositories as part of a larger project which creates a project folder, assigns NTFS permissions, creates an email distrubution for said project and finally, a Git repository. During my testing I have created a number of bare repositories via Git and then scanned them in from Bonobo so they appear in the portal and I can assign permi

[2017-09-13 17:52] willdean commented on #737
They're nowhere else, but they're only read from the json files when the app starts, which might be why you're not seeing them missing.  Do they go away if you delete the json files AND do an iisreset?

[2017-09-13 19:13] adamobrn commented on #737
I had removed the json files at the time of writing but they were still appearing. Having just done an IIS restart has now removed the deleted repositories which were listed as (missing). If I wanted to generate my own repositories using Git and not have to do a rescan of new repositories from within Bonobo, could I generate my own json file without it having any adverse affects? How are the ID na

[2017-09-14 15:49] devaraja666 opened #738 "6.2.2-6.30 Alternative UPN Suffixes Problem"
I have 1 Alternative UPN Suffix on the Forest, till version 6.2.1 that was not a problem. But after the update i get this error and the user are not correctly populated.
Failed to create Directory context for domain "domain2.com".
System.DirectoryServices.ActiveDirectory.ActiveDirectoryObjectNotFoundException: The specified domain does not exist or cannot be contacted.
   at System.DirectoryServic

[2017-09-14 17:23] larshg commented on #738
I don't think there is an issue with the alternate suffix - it will just try to connect and if no response - try the next domain in list.

Have you removed some members or moved them from one group to another?

[2017-09-14 17:27] larshg commented on #735
Which version was the last one working?

[2017-09-15 09:52] dankell commented on #735
@holiiveira That might be the issue - The "AppData" folder is set to have Read/Write permissions to "MACHINENAME\IIS_IUSRS" as per https://bonobogitserver.com/install/.

Obviously the repository folder on the network server cannot have this permission as the IIS_ISRS user is a local, not domain, user.

Under the Application Pools on IIS Manager the ASP .NET v4.0 Pool is set to ApplicationPoolIdent

[2017-09-15 13:28] devaraja666 commented on #738
no, i haven't removed member or edited the users. i event delete the the ADBackend folder to allow it to generate it again but it still fails as you can see on the logs it only detect 3 user on version 6.3.0 but on version 6.2.1 it does detect all the users.

i did the test with the same configuration, just upgraded it by keeping the web.config and app_data folder and deleting the rest as usual. i

[2017-09-15 13:49] devaraja666 commented on #736
It also happen on me with AD authentication in version 6.3.0, it shows the normal AD authentication but after that it goes to the login form. If i manually go to /Repository/Index it works normally.

[2017-09-18 06:09] arj060892 commented on #284
@willdean , i have found the solution  using following  cmd i was able to pull only the required branch 👍
`git clone --branch branchName --single-branch  remoteAddress`

[2017-09-19 21:01] AStrigelskiy opened #741 "pushing commits with tags takes a very long time"
The server is stuck and not responding if commit includes tags. Normal clone with this repository takes 30seconds; push with tags takes between 20-30 minutes.

bonobo version: 6.0.3
running on windows 7

![2017-09-19 13_59_05-sf-build - full control](https://user-images.githubusercontent.com/8129810/30615172-da27f24c-9d42-11e7-8b40-2b0a72dba692.png)

[2017-09-19 21:16] AStrigelskiy commented on #741
Here is what creating a tag and pushing it looks like:

![2017-09-19 14_14_24-sf-build - full control](https://user-images.githubusercontent.com/8129810/30615836-08191684-9d45-11e7-80f3-c056ef4d7caf.png)
![2017-09-19 14_15_01-sf-build - full control](https://user-images.githubusercontent.com/8129810/30615837-082f841e-9d45-11e7-8c94-68edd79a12c0.png)

then the server hangs: there is no response fro

[2017-09-22 19:21] abald124 opened #743 "Version 6.3.0 - Redirection After Login"
Upgraded to version 6.3.0 and using Active Directory Membership Service . Having issues with the redirect after authentication similar to the issues described in #731 and #733.

On a successful login the URL in address bar changes to /Home/Logon?returnUrl=%2FBonobo.Git.Server%2FHome%2FIndex but still stuck on the login page.

Know login was successful because I can manually put /Account in the add

[2017-09-22 23:27] Reederoo commented on #697
Thank you @J-Farmer . Your last comment fixed my issue as well and saved me much time and frustration. This really should be part of the installation instructions for Windows 10 installations, shouldn't it?

[2017-09-25 21:31] BonoboHelp opened #744 "Installation of Gitbono FAQ is different from new version 6_3_0"
Hello, I am not a programmer or a GitHub user but I need help installing this for my team.
I am using Win10 and I followed this for the installation steps
https://bonobogitserver.com/install/

I am missing the Bonobo.Git.Server.Forms and Bonobo.Git.Server.Interface. Not sure if I even need those.
Here are my end results https://i.imgur.com/B9oprGo.png

[2017-09-26 14:09] BonoboHelp commented on #744
Found out you have to enable and manually check IIS > WWWS > App Dev Features

[2017-09-26 14:20] BonoboHelp opened #745 "Backups"
Can you give me some solutions on what you use to backup your Bonobo Server and data? If there is a FAQ somewhere, that would be neat.

[2017-09-27 14:05] #727 closed

[2017-09-28 15:42] rryi commented on #697
fixed it for me, too.

For my windows 10 professional "server" with no IIS use before, I had to perform the following steps in addition to the https://bonobogitserver.com/install/  walkthru

(0) install IIS features: management console plus www services. I noticed these two checked boxes do NOT include all possible components which are shown if I expand the subtrees. I just left it as is for now.

[2017-09-29 10:22] arj060892 commented on #256
How can we restric users from pushing their branches to Git Server

[2017-10-03 08:26] forReason opened #746 "Pushing requires authentification"
Hello,

I can login to http://myserver.com/git with my credentials. Also pushing with visual studio worked fine until now. Now it keeps asking for a usernam and password.

I tired to open up http://myserver.com/git/project.git and it asks for a password and username. It doesnt accep the user/password combination i login with.

best regards,

![grafik](https://user-images.githubusercontent.com/1273

[2017-10-03 08:51] forReason commented on #746
Update: This error seemingly only occurrs when I have enabled the option "use windows authentication in iss" probably its not an issue of bonobo git

[2017-10-03 17:58] Nu11u5 commented on #746
Per the setup instructions the IIS web application is supposed to be set up with anonymous authentication only.  Bonobo uses it's own internal authentication methods that are configured in the web.config file.

[2017-10-04 14:19] JMoorhouse07 commented on #558
I'm aware this issue has been closed. However I'd like to note that I too experienced RobertMcCoy's issue--and that I've solved it.

Changing the MembershipService from Internal to ActiveDirectory is necessary for use of AD, obviously. However, there is no need to change the AuthenticationProvidor--which is what I'm assuming the above poster did. See below:

    <add key="AuthenticationProvider" v

[2017-10-09 16:20] AspenForester commented on #558
We're seeing the same behavior as JMoorhouse07.  When we switched *back* to  AuthenticationProvider = "Cookies", but left the other AD authentication-related settings in place, AD authentication started working.

[2017-10-10 14:23] dankell commented on #735
Have managed to persuade Network Admin to setup an appropriate user with access just to the network folder with the Git Repositories and everything is now working. Still confused that only a subset of the repos, all in the same folder, were affected

[2017-10-10 14:23] #735 closed

[2017-10-10 15:38] BlPrc opened #747 "'git fetch' sporadically hangs"
When running 'git fetch' on repositories with a large number of refs, the git client will sometimes stall. On the server, idle git-upload-pack.exe processes remain. Once this happens, this is always reproducible the same local checkout. When fetching from a different source, the problem disappears.

[2017-10-12 21:38] CatStarwind commented on #743
I'm not sure why, but going to "/Home/WindowsLogin" solves this.

[2017-10-12 22:03] CatStarwind commented on #743
Still looking into this, so far it seems the issue stems from this [commit](https://github.com/jakubgarfield/Bonobo-Git-Server/commit/bf557e824bafaf24c6417dd89fb6f6fab73b000f). Thus far I was able to patch it by changing line 44 in RepositoryController.cs to the following:

`return RedirectToAction((AuthenticationProvider is WindowsAuthenticationProvider ? "WindowsLogin" : "Logon"), "Home", new {

[2017-10-13 21:30] djscott00 commented on #558
I'm in the process of setting up Bonobo, and I can also confirm that I needed to change AuthenticationProvider to "Cookies" as well to get AD authentication working correctly.

In my logs, I could see that users were correctly authenticating their credentials, but it was still the same login screen that would appear without error. Once I changed to "Cookies" it started working right away.

Thanks

[2017-10-17 21:32] frunta opened #751 "unable to access git repository: The requested URL returned error: 500"
Dears,
  I've successfully 'installed' bonobo Git Server, logged in, created a repository (TEST). Everything went well. But when I want to clone repository using repository URL generated by Bonobo, following error occurs:

[code]

Bonobo log file contains exactly the same trace as described in #214 issue.

Restart/recycle app pool does not solve it. I've tried anonymous access also.

Bonobo Git se

[2017-10-18 07:20] willdean commented on #751
Thanks for this - I don't really think the situation can be exactly what's implied by the message with the exception, because if we were opening streams in an illegal order then this problem would be much more widespread.

On this SO question: https://stackoverflow.com/questions/17602845 there are some answers where people say that in fact the problem was caused by other things, like a request bei

[2017-10-23 12:31] belantgithub opened #753 "Don't working download button for files with russian names"
I download and install Bonobo.git.server v. 6.3.0  on windows server 2008 r2. Its works fine, but in my case, I have in my repos files with russian names and in archive creating by dawonload button all files with russian names are not included.

I test it on my Windows 10 machine and had the same result.

[2017-10-27 14:04] cybrouillard opened #754 "Adding an ActiveDirectory Container settings"
Hi,

Would it be possible to add a parameter to appSettings for setting an AD container string that will be used in each instantiation of PrincipalContext object.

For some reasons, Groups and Users won't be found in my AD without specifing a container.

Thanks !

[2017-10-28 13:34] shoecake commented on #745
AFAIK all data is stored on the file system in the App_Data folder in the website directory (App_Data\repositories for the actual git repositories). These are standard files, so any backup service will work.

[2017-10-30 00:32] Varorbc commented on #700
can you support .net core now@willden

[2017-11-02 12:17] AlexStrobel opened #755 "Redirect to /Home/Unauthorized after login with AD integration"
Like I wrote on [SO](https://stackoverflow.com/questions/47060187/redirected-to-home-unauthorized-page-after-login-ad-integration) before, I have a problem with using AD integration with a fresh Bonobo 6.3 installation on a Win 10 computer:

First I have set up Bonobo so that I was able to log in using "admin" user and create repositories, users, groups, ... Everything worked well.
As I want to us

[2017-11-02 12:26] willdean commented on #755
@AlexStrobel would you mind trying an earlier version:

https://bonobogitserver.com/resources/releases/6_2_1.zip

AD is a constant struggle (none of the original devs are around, and it's hideously difficult to test), and I also merged a PR after 6.2.1 which hasn't been an unalloyed success.

[2017-11-02 12:35] AlexStrobel commented on #755
Regrettably this version doesn't work either :/
So I will probably have to manage the users myself... Thanks for your help!

[2017-11-06 18:29] sgtwilko opened #756 "500 error on upgrade from 5.somthing to 6.3"
Hi,

I've been trying to upgrade from 5 to 6.3.

I keep getting the error shown below and at this point the ```app_data\ADBackend``` folder is almost wiped out.

I've checked the permissions, I've installed .Net 4.6.2, I'm at a loss as to how to continue to fix this.

Error shown on screen:
[code]

Here is the error from the log:
[code]

[2017-11-06 19:00] larshg commented on #756
It seems it fail updating the teams directly from your version to the newest.

I can't remember if you need to update one version to the next.

If you want a new 6.something I would go for 6.2.1 because there are something not working with 6.3 with AD. See #755.

The only way is probably to set up a empty new instance of bonobo and the copy only the repositories which would end up as 'found in fil

[2017-11-06 19:04] larshg commented on #755
I have looked a little bit at this error and it is the removal of the web authorise attribute from the repositorycontroller - then the windows middleware authentication is not activated correctly...

[2017-11-06 19:12] sgtwilko commented on #756
@larshg Thanks for the quick response.
I managed to get a bit further by myself.

I found a couple of issues that stopped the upgrade.

Firstly, in the team members list we had a user ```null````.
Secondly, at one time we had a sync issue and had two users with the same username in AD.

This hadn't been an issue until the upgrade tried to map the two users to the same UID.

After all that I couldn

[2017-11-06 19:16] larshg commented on #756
Ahh. Great. So you are up and running with 6.2.1?

[2017-11-06 19:25] sgtwilko commented on #756
Yes, thank you.

[2017-11-06 19:25] #756 closed

[2017-11-06 21:59] willdean commented on #755
@larshg Nice to see you back...  Do you have the Git skills to back #710 out completely so we can do a release without it?   It's caused a number of problems and I don't have time to get to the bottom of them all - I think we'd be better without it for the time being.

I guess the right thing to do is create a new branch from 6.2.1 and cherry-pick everything except the #710 commits?

[2017-11-07 09:23] SeriousITGuy commented on #456
I just recently hit the same problem and what solved the issue for me was running:
%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_regiis.exe -ir

which generate two new app pools: asp.net v4.0 and asp.net v4.0 classic. After switching the bonobo application to the new asp.net v4.0 app pool everything worked.

[2017-11-07 12:56] SeriousITGuy commented on #755
I can confirm the issue with the current version 6.3.0. Going back to 6.2.1 and AD authentication and membership service work fine.

[2017-11-07 13:00] larshg commented on #755
Yes, I'm back... However not mich time fpr Bonobo. Yes, i guess that would be the way to go, and maybe op en the original PR again and state the problem to the original author. Atleast if it should be merged again.

[2017-11-08 09:10] PTWIT opened #757 "Mathworks Matlab Error: "Authentication not supported""
Hello,

i have a question about the authentication method. I'm using SourceTree to push/pull without Problems. But if i want to use Matlab, i get an error message: „Authentication not supported“. The Matlab community means, that it could help, if we switch the „authentication method“ from the server to „basic“: https://de.mathworks.com/matlabcentral/answers/358358-git-authentication-not-supported

[2017-11-09 17:43] willdean commented on #757
There's nothing obvious in Bonobo you could change to fix this.

Would you be able to use a tool like Fiddler (I'm assuming you're on a Windows machine) to capture the conversation between Matlab and the Bonobo server?

There may also be useful information in the Bonobo logs, in app_data\logs

[2017-11-10 22:31] brianhv opened #758 "Unable to login to web interface with Windows authentication and Internal membership"
You may remember me from the excitement that was ticket #668.

Today I tried a fresh install of 6.3. Unlike before I've been able to get a clone working fairly quickly. However I haven't been able to log into the web interface when my `AuthenticationProvider` is `Windows`.

I started by logging in as admin while using `Cookies`. I created a user that matches my Windows username (and had to give it

[2017-11-11 07:31] larshg commented on #758
Please ses #755

[2017-11-15 09:55] Valensm opened #760 "Git upgrade"
Is it possible to upgrade the git itself? Or better how to use the latest version? Is it tested? The current version is 2.15.0.
Martin

[2017-11-17 10:07] 2r0ck commented on #758
I have this problem.
This is due to a remote attribute [WebAuthorize] in Index() method( from HomeController  and RepositoryController) (look [710](https://github.com/jakubgarfield/Bonobo-Git-Server/pull/710) ).  I added this attribute and the service worked fine.

[2017-11-17 10:12] willdean commented on #758
If I can make the time I'm about to release a 6.4.0 which removes the troublesome PR 710

[2017-11-17 10:18] 2r0ck commented on #758
@willdean , thanks!  but the problem with anonymous access to the repositories will not be solved..

[2017-11-17 10:30] willdean commented on #758
@2r0ck No, sure - the new feature will be gone for now, but at least it won't be broken for existing AD users who are currently being told to downgrade to 6.2.1

[2017-11-17 12:54] joshimohit opened #761 "Unable to view bonobo home page"
I have installed Bonobo git server on my windows 8 machine.
 however login/home page is not displayed on http://localhost/Bonobo.Git.Server/.  Rather page displays directory structure of bonobo.

![screenshot 2](https://user-images.githubusercontent.com/11881816/32948218-8e150088-cbc4-11e7-9c7b-fc6552546641.png)

[2017-11-19 16:22] jbdicarlo opened #762 "The requested URL returned error: 500 when trying to push"
When trying to push my code into an empty repo, I get "Error: fatal: unable to access 'http://user%40domain:***@web-server/Bonobo.Git.Server/Dashboard_FrontEnd.git/': The requested URL returned error: 500" (user, domain and web-server used in place of redacted info).

I've checked all the possible GitHub open/closed issues, Google searches and other resources I can find for the past hour and have

[2017-11-19 21:20] willdean commented on #762
Are you able to try using a URL without the username embedded in it - e.g. http://web-server/Bonobo.Git.Server/Dashboard_FrontEnd.git ?

(Then provide the username / password through the Git client. )

If this works, then that's a useful datapoint for us.

[2017-11-19 21:50] jbdicarlo commented on #762
Unfortunately no, neither URL work.

I've received a slightly more specific error this time around though from a different context. Neither URL works in either context but I get the error 500 from Brackets (the editor I'm using to write the code being pushed to my repo) which is using git.exe. When trying to do it from Git Bash I get "fatal: Authentication failed for ''http://web-server/Bonobo.Git

[2017-11-19 22:06] willdean commented on #762
This exception in the log:

[code]

Suggests that there's something strange about the `Authoriziation` header which is being sent by the client (or at least, received by the server - perhaps something in between is meddling).  This header should look something like `Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==`, and Bonobo attempts to base-64 decode the last bit- in your case it seems that's

[2017-11-19 23:27] jbdicarlo commented on #762
I ran command line git on the server running Bonobo and got the same error, when I ran Fiddler I can't for the life of me get it to actually pick up any traffic from git. I tried it on the IIS box and on my local machine and picked up nothing from Git Bash, Git in cmd or Git in Brackets.

The most I was able to get was doing the "wrong" thing and trying to open the git URL in IE which did get me a

[2017-11-20 08:30] willdean commented on #762
@jbdicarlo Thanks for persisting with this - sometimes Fiddler is tricky with local stuff.

An alternative is, from the command line, to run `set GIT_CURL_VERBOSE=1` before you run the git command.  Then you should get a load of trace, which will include the `Authorization: Basic ...base64 string...` header.   There should be at least two connections - the first one will fail with a 401 Unauthoriz

[2017-11-20 14:54] jbdicarlo commented on #762
Does this seem like what we're looking for?

[code]

[2017-11-20 15:22] willdean commented on #762
Yes, thanks - it looks like an IIS problem - can you check the step on this page
https://bonobogitserver.com/install/ marked "Configure Authentication"

It appears that IIS is asking the client to do NTLM rather than basic auth, and then Bonobo is being confused by that.

If you wanted to be doing Windows auth, then check out this page: https://bonobogitserver.com/windows-authentication/

[2017-11-20 22:54] JasonVKGE commented on #762
The page for doing Windows auth makes no mention of changing the IIS configuration to "Enabled" (see screen shot). Is this also required?

![image](https://user-images.githubusercontent.com/23267222/33045680-55a0d4c4-ce13-11e7-86fc-d927fa0be9f4.png)

[2017-11-21 21:06] larshg commented on #762
Windows authentication should be disabled in IIS.

[2017-11-21 21:06] larshg commented on #762
Only enabled in the config file.

[2017-11-21 21:10] larshg commented on #761
According to this https://forums.asp.net/t/1282080.aspx?Why+am+I+getting+a+directory+listing+instead+of+my+site+ it could be a setting on the server. However I think its beyond Bonobo and therefore our limited free support :)

Hope you can find help elsewhere.