[2016-01-28 09:21] larssb commented on #433
I have now also tried building it by downloading master and doing a publish from Visual Studio. The error is exactly the same.

[2016-01-28 14:05] larshg commented on #433
Are you sure that you have write permissions to the folder - maybe it can't create the folders and therefore crash as the virtual path is null.

You can try create the folders manually?

If not - you properly have to try remote debugging on the IIS directly. Publish a debug version on the server and in VS attach a debug to a process where you enter the servername - you have to have admin rights on

[2016-01-28 14:07] larshg commented on #433
Hm.. Maybe it doesn't get that far to even try creating the folders... So creating them manually is properly not helping :(

[2016-01-28 14:08] larshg commented on #433
Can you perhaps disable custom error page and provide are more full debug stack trace... I tried manually to set the backendpath to null and I got a similar error as you, but more detailed in the browser...

[2016-01-28 15:19] larssb commented on #433
Hi @larshg,

I just checked again, the IIS_IUSRS group have [MODIFY] permissions. Manually creating the ADBackend dir. does not help. Hmm I'll do the remote debug if it is essential, as I have never tried that before :-).

This is the error after having disabled the custom error page.
---

Server Error in '/Bonobo.Git.Server' Application.

Value cannot be null.
Parameter name: virtualPath
  Descri

[2016-01-28 22:41] latop2604 commented on #433
Can you check the ActiveDirectoryBackendPath value in your web.config (in AppSettings block) ?

[2016-01-29 06:18] larssb commented on #433
Hmmm yes I did that. Larshg already asked me that and I have also mentioned
it before in this issue.....however, it is ~\App_Data\ADBackend

/Larsen

- Health is wealth, movement is medicine -

On 28. jan. 2016, at 23.41, Rémy de Sérésin <notifications@github.com>
wrote:

Can you check the ActiveDirectoryBackendPath value in your web.config (in
AppSettings block) ?

—
Reply to this email directly

[2016-01-29 23:51] latop2604 commented on #433
Arf sorry. My bad

[2016-01-30 09:15] larssb commented on #433
It's okay :-)

/Larsen

- Health is wealth, movement is medicine -

On 30. jan. 2016, at 00.52, Rémy de Sérésin <notifications@github.com>
wrote:

Arf sorry. My bad

—
Reply to this email directly or view it on GitHub
<https://github.com/jakubgarfield/Bonobo-Git-Server/issues/433#issuecomment-177022779>
.

[2016-01-31 19:04] einer20 opened #434 "Header dropdown menu navigation for repositories"
When you are inside an repository and you want to change to another you have to this:

1. Click over repository option
2. Load repositories page
3. Search for the other repository
4. Load new repository

What i propose is to have a drop down in the header navigation to easily change from one repository to another. So it will change only to 2 steps:

1.  Choose the repository you want to switch.
2.

[2016-02-01 01:52] JPomichael opened #435 "maybe need issues system"
maybe need issues system

[2016-02-01 05:36] RedX2501 commented on #435
Not a goal of Github. We aim to provide a git Repository Server that supports AD and Windows Authentication. Thats it.

[2016-02-01 05:36] #435 closed

[2016-02-01 16:02] larssb commented on #433
Anyone with an idea on what could be the culprit in this case? Kind of anxious to get going with the new features and especially the AD integration. Yeah in general get back to a working Bonobo Git install (without rolling back is preferred ;-).

[2016-02-01 18:16] RedX2501 commented on #433
@larssb I did have a similar problem once, where the fields in in Repository were missing while discovering existing repos. The problem was here https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/Bonobo.Git.Server/Data/Update/RepositorySynchronizer.cs#L37 maye adding users, teams and admins might help.

[2016-02-02 09:12] larssb commented on #433
Hi @RedX2501 - Thank you for responding :-) - and I would have to do that through sqlite? Or is there some other way?

[2016-02-03 01:55] rabin111 opened #436 "Activity Stream"
Hello,

This thread is about feature request.

Activity Stream when someone pull/push a code into repository would be great.

Thanks!

[2016-02-03 09:22] RedX2501 commented on #436
What exactly are activity streams?

[2016-02-03 11:03] larssb commented on #433
@RedX2501

Went through the SQLite db with SQLiteBrowser and found a couple of teams and such that did not have values in some fields. The entries where either deleted or updated with valid data. Still the exact same error.

Any ideas?

[2016-02-03 11:26] RedX2501 commented on #433
You have to add them in the code.

The location that i posted.

[code]
and so for users and admins.

[2016-02-03 12:29] larssb commented on #433
Hi @RedX2501 - still get the same error.

For good measure the error is
========================

Server Error in '/Bonobo.Git.Server' Application.

Value cannot be null.
Parameter name: virtualPath
  Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

[2016-02-03 12:47] larssb commented on #433
@RedX2501 - it seems to have something to do with the repos. I moved them out of App_Data\Repositories. After that Bonobo seems to be starting and prompts for a user to login with. However, I cannot login. I have added the user to the Bonobo git admin AD group and the app. pool user has read rights to the OU where the group is located....

This is my web.config file, the AD service part.

-----

T

[2016-02-03 14:38] DanDrag opened #437 "General URL to Repository not working"
Hello,

I have a fresh installation of Bonobo GIT Server and the problem that I get is that after I create a new repository and then I go to details, I am presented with the general URL for it (screen shit attached), this link doesn't seem to be working. When I try to access it, I get the generic error:

404 Page Not Found
The page you were looking for wasn't found. Please try again or contact the

[2016-02-03 15:54] latop2604 commented on #433
You need to uncomment these tags. (remove ).
This is why the value is null at runtime

[2016-02-03 16:20] larssb commented on #433
Hi @latop2604

Sorry for the confusion. There is two lines in the web.config file regarding the MembershipService. Default it is set to Internal as far as I remember. Just changed that line instead of removing the comment from the other line. In short.....the line is without

But thank you for replying.

[2016-02-03 17:57] RedX2501 commented on #437
That link is not for clicking but to be used with your git command line tool.

[2016-02-04 04:00] askasok commented on #390
I just tried upgrading to the latest 5.1.1. The issue is not resolved.

I am still getting an error trying to pull anonymously: **Fatal: Authentication failed**.

When I roll back to version 3.4.2 it works fine. Please reopen this issue.

Thank you.

Alex

[2016-02-04 04:01] askasok commented on #390
@RedX2501 should I repost this as a new issue since it's been closed?

[2016-02-04 04:04] rabin111 commented on #436
They are a activity that occurred in all repos such as someone push some codes into the repo like in GitLab.

https://about.gitlab.com/images/feature_page/activity_stream_full.png

[2016-02-04 06:39] RedX2501 commented on #390
We have reworked the access in the latest (not officially released) version.

Try the version from appveyor and see if it is working there.

Appveyor.com/jakubgarfield/bonobo-git-server

[2016-02-04 17:42] askasok commented on #390
That URL is not working. It says The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.

[2016-02-04 22:47] RedX2501 commented on #390
Was typing by heart and made a mistake. Here is the proper link:
https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/artifacts

[2016-02-08 12:55] ecocquerez commented on #437
Have the same problem.
I'm using AD autentication. I've created new repository (I belong to administrator group) and then I try to push my local repository to bonobo
![errorbonobo](https://cloud.githubusercontent.com/assets/3832431/12886107/668d07a2-ce6b-11e5-9ddc-ec746345d12f.PNG)

All previous repository can be accessed via TortoiseGit or Git Extension

[2016-02-08 15:02] ecocquerez opened #439 "AD Authentication failed with new repositories"
I'm using AD authentication with last version of Bonobo.
Older repositories can be read and update.
Creating new repository seems to be ok, repositories is created on hard disk. First push from local to bonobo always fail with authentication error. I'll try domain\user, user@domain.local, user.
To resolve this, I have to enable allow anonymous push in global parameters, and allow anonymous push fo

[2016-02-09 12:00] willdean opened #441 "NullReferenceException in EFRepositoryPermissionService HasPermission"
We've just had a problem where the mistyping of a repo name (right name, wrong case) was causing an exception in `EFRepositoryPermissionService.HasPermission`.

This is because `repository` is null after the `.FirstOrDefault` call, and is not checked before being passed to `repository.Teams.Select`

There was a test  `if(user != null && project != null)`, which was perhaps intended to catch this -

[2016-02-09 17:00] #441 closed

[2016-02-09 20:33] willdean opened #443 "Repo name case sensitivity is inconsistent"
We had a problem today which was caused by someone being given a repo name to clone which was the right name but with a casing error in it.

This triggered issued #441 which has now been fixed, but this led me to look into the subject of casing, because even with the fix for #441, you get an **authorisation** error if you mis-case a repo name, not a 'Not found' error, which IMO would point more qu

[2016-02-09 20:51] willdean commented on #436
@rabin111 In Bonobo, which doesn't have issue tracking or pull-requests, would you see anything in this list other than commits?

[2016-02-09 22:53] willdean opened #444 "Exceptions in GitController give confusing results at client"
At present, unhandled exceptions occurring within GitController are handled in the same way as exceptions occurring on any other page.  i.e. They're redirected to an error page.

This can give a confusing response at the client, because the client sees a 200 response with a human-friendly error page, and concludes that it's seeing a bad /info/refs - this leads to the error message:

This is rarely

[2016-02-10 09:03] RedX2501 commented on #444
Fantastic! I was planning to have a look into this myself.

Thanks.

[2016-02-10 09:09] RedX2501 commented on #443
Imho we should be consistently case sensitive on repo names and case insensitive on username and team names.

[2016-02-10 13:23] willdean commented on #443
I'm a bit vague about the management of this project - is there any more opinion/voting needed to decide to do this?

[2016-02-10 13:56] larshg commented on #443
What's the advantage of being case sensitive on Repo names? I Would expect RepoName and reponame to refer to the same repository - As the name is the same? Or said differently would anyone add two repositories where the only difference was one to several cased letters? I don't think so?

[2016-02-10 15:14] latop2604 commented on #443
The underlying repo storage system (windows) is case insensitive.
Unless you want to support .net core and linux, bonobo should be case insensitive.

[2016-02-10 15:52] willdean commented on #443
@larshg Indeed - one could not add two repositories which differed only in case, at least to the filesystem.  (You might be able to add them to Bonobo's database, I haven't checked.

Is there a consensus for case-insensitive emerging?

[2016-02-10 17:28] jakubgarfield commented on #443
@willdean there is not really any voting, if some piece of work will help the project it is gonna get merged :)

usually I try to be consistent with github, but @latop2604 provided good reasons for the repo names being case insensitive and the reason to usernames and being insensitive is smoother AD integration @RedX2501?

[2016-02-10 19:09] willdean commented on #443
OK, I'll do a PR for case-insensitive repo names, and then we can go from there.

[2016-02-10 23:21] willdean opened #447 "GitController actions report auth failures for missing repos"
GitController contains a number of checks that the addressed repo is valid, which give a 404 if it isn't.  However, they always happen after auth checks, which tend to fail for non-existent repos.

So, for example:

I find this misleading and unhelpful - it points to a credential problem which doesn't exist, and irritatingly may cause cached credentials to be flushed which means you have to pointl

[2016-02-11 10:43] larssb commented on #433
Hmmm anyone else with an idea?

[2016-02-11 17:48] #444 closed

[2016-02-11 19:31] willdean commented on #437
@ecocquerez Yours is not the same problem @DanDrag who opened this bug is having.

You have typed/pasted your URL into GitExtensions with a space character after it, which is causing a 400 error.

[2016-02-11 19:38] willdean opened #449 ""General URL" should not be rendered as a link on repo details page"
The 'Repository Details' view renders the Git URL as an href, which encourages people to click on it.  (See #437)

It seems to me that this information is provided for cutting and pasting into clients, and doesn't serve any purpose as an href.

Although I think it probably shouldn't 404 when you go to this URL with a browser, the best place for it to go would probably be to the repository details,

[2016-02-12 04:33] rewko opened #450 "Syntax highlighting does not work for certain file types (eg. .json, .ts)"
FileDisplayHandler renders brush for only smaller set of file extensions - otherwise it sets explicitly "no-highlight".
Highlight.js used on on the client is able to [auto detect](https://highlightjs.org/usage/) correct syntax, but this feature is turned of because "no-higlight" flag rendered in HTML.

At least the set of languages supported by included highlight.js should be the same as those che

[2016-02-12 10:01] RedX2501 commented on #449
The nice thing about having it as an href is that you can right click and copy target link. But i agree that it can be confusing. Maybe we can check the browser string and redirect to the repo if the git URL is called from the browser.

[2016-02-12 10:03] #447 closed

[2016-02-12 10:08] #443 closed

[2016-02-12 10:10] #437 closed

[2016-02-12 10:10] #408 closed

[2016-02-12 10:13] RedX2501 commented on #242
Since we have not heard back from you in 3 weeks I'm closing this.
If the problem still exists please reopen.

[2016-02-12 10:13] #242 closed

[2016-02-12 10:17] RedX2501 commented on #59
Merged with 353ee206

[2016-02-12 10:17] #59 closed

[2016-02-12 10:19] willdean commented on #449
Perhaps we could have it as plain text but with a 'copy to clipboard' button next to it?

[2016-02-12 10:20] RedX2501 commented on #449
That would be nice.

[2016-02-12 10:27] willdean commented on #449
How does the project feel about using additional external libraries, e.g. https://www.npmjs.com/package/clipboard-js ?

[2016-02-12 11:30] willdean commented on #231
I don't think this is fixable now - I've tried to repro it with 3.5.0 (which is my best guess of the version the OP would have been using) and the current version of Bower (1.7.7), but I can't, and that action method is so different nowadays that this is probably not really relevant any more.

[2016-02-12 13:06] willdean commented on #291
I can't repro this with either mklink /D or mklink /J.   @ChazSII would it be possible to provide a repro recipe which creates a directory structure that causes this problem?

[2016-02-12 13:39] willdean commented on #433
@larssb The only way I can repro this is to comment out the `<add key="ActiveDirectoryBackendPath"...>` line in web.config.

It would be good if you could post the actual appSettings part of webconfig that you're using at the time of the crash, because the earlier comments on this leave room for doubt, and the symptoms are exactly that of having the line `<add key="ActiveDirectoryBackendPath" valu

[2016-02-12 14:19] RedX2501 commented on #449
I think it's fine but i don't know anything about licenses and similar
important things.
Am 12.02.2016 11:27 schrieb "Will Dean" <notifications@github.com>:

[2016-02-12 18:43] willdean opened #451 "Missing repo directory prevents Bonobo starting"
At startup, Bonobo searches for repos in the configured "Repository Directory".  If this folder is missing, then there's an exception during startup which prevents the server starting at all.   This makes it difficult to recover from that situation.

[2016-02-12 22:25] #451 closed

[2016-02-12 22:30] jakubgarfield commented on #449
Copy to clipboard and removal of the link would be nice.Clipboard.js is MIT so no problem with using it if it's a good one.You might also want to have a look at https://github.com/zeroclipboard/zeroclipboard (used by github).

[2016-02-13 08:58] padremortius commented on #449
@jakubgarfield @RedX2501  May be rename text before link to "General URL for Git client"?

[2016-02-13 09:05] RedX2501 commented on #451
What happens if the user wants to create a repo? Will it fail? Do we need to display a warning about the missing directory?

[2016-02-13 09:09] RedX2501 commented on #449
@padremortius i think that's to too long. Maybe "Git URL"? Because that URL is clearly not a General URL but just not a personalized one.

[2016-02-13 09:16] willdean commented on #449
I was going suggest "Git URL" too

[2016-02-13 09:20] willdean commented on #451
@RedX2501 Yes, everything is borked if this is wrong, you probably get errors all over the place. All that my patch does is at least let you get to the settings page and correct it.  The settings page does validate the directory field - so to see this problem you do have to have been messing around with the file-system.

If we had some general way of notifying system problems to the user (e.g. ban

[2016-02-13 10:00] willdean commented on #449
I've put in a PR for this because I'd appreciate a review.  I moved the 'copy' buttons from one end of the URL to the other about 6 times, not really able to decide which looked best.  I used a different JS library, but it's still MIT.  Zeroclipboard seems to be flash-based, which rather put me off.

[2016-02-14 16:17] willdean commented on #450
I looked into this - and for the examples you gave, returning null rather than NoHighlight definitely works OK.

However, the code which processes all this stuff in Repository.BrowseBlob feels extremely fragile to me - it makes several decisions which it then overrules in various ways, and I am reluctant to risk upsetting it until there's some test coverage.

So, I've just added explicit .json and

[2016-02-14 16:34] WisconsinWildcat opened #456 "Trouble installing Bonobo on Plesk or Wild West / GoDaddy Virtual Server"
I've been fighting this for days now, and I've tried many different configurations.  I've followed the prerequisites (afaik) and I just can't get it to roll. It spins and spins in the web browser without resolving.

I did get it close, once. The problem is that http://<ip address>/Bonobo... doesn't work due to some weird way they have the IIS configured, and I'll dig into that more now.

I was abl

[2016-02-14 17:06] #449 closed

[2016-02-14 17:58] WisconsinWildcat commented on #456
Presently cannot get around this error, although I have just about everything enabled:

HTTP Error 403.14 - Forbidden
The Web server is configured to not list the contents of this directory.

[2016-02-14 18:12] willdean commented on #456
Do you know what folder it was trying to list?  Does this happen before any part of the site is available?  Where are you intending to set the Git repo directory to be?

[2016-02-14 18:36] WisconsinWildcat commented on #456
willdean, I'm still trying to just get this install working, so it's localhost/Bonobo.Git.Server.  I've applied the permissions, tried various application pools, compared it to the other successful installation I did on another server - nothing.

[2016-02-14 18:39] WisconsinWildcat commented on #456
What???  Just worked. I recently switched from an App Pool pointing to .net framework v4.0.30319 to the same framework version but named ASP.NET v4.0.   Is Bonobo somehow sensitive to that??

[2016-02-14 18:40] willdean commented on #456
Did you change to a different app-pool, or did you change the framework on the same app-pool?

[2016-02-14 18:41] WisconsinWildcat commented on #456
Changed to a different app pool but running the same framework.

[2016-02-14 18:54] willdean commented on #456
Sorry, I'm not following - it was a different app pool with a different name for the framework, but the same framework?  Is that right?   Does it break again if you go back to the previous pool.

Doesn't really sound like a Bonobo thing TBH, more IIS/.NET app pool madness.

[2016-02-14 21:32] willdean commented on #156
This appears to work OK in 5.1.1 - I have created, edited and deleted a user called a@b

[2016-02-14 21:32] #156 closed

[2016-02-14 21:36] willdean commented on #304
Does this need to be anything more complex than the 'commits' page, but filtered to show only tagged commits?

[2016-02-14 21:51] willdean commented on #387
Could this be done on the commit page entirely client-side?  I.e. let the browser work out where to to put the overflow ellipsis, and then have the [...] button expand that div to show the whole message.

It's rather strange at the moment anyway, as when you expand it the 'overflow' text appears below the timestamp and in a completely different font - often it's only one or two words, which look c

[2016-02-14 22:48] willdean opened #457 "MVC version"
What version of MVC is Bonobo supposed to be using?

I think it was upgraded from MVC 4 -> MVC 5 at d6eea1b , but there are parts of views\web.config (i.e. NOT the root web.config, the view one) which weren't updated.   This causes a bazillion intellisense errors in VS when working on views, which go away when the changes to views\web.config are made.

I'm happy to fix this, but if there's some co

[2016-02-14 22:58] willdean opened #458 ".vs directory"
Can I remove the .vs directory from the Bonobo source, please?

I know it spent about an hour in .gitignore last year, but it's definitely Microsoft's intention that it's not in version control.  The application.config file is particularly unhelpful, as it ends up full of of local paths for running IISExpress - I don't need paths on other people's machines, and they don't need mine.

[2016-02-15 06:28] RedX2501 commented on #458
Yep, pretty sure it can go.

[2016-02-15 06:33] RedX2501 commented on #457
I thought we were using version 5 but at the very bottom of the config file it seems that some references to mvc 4 still exist. So I'm a bit confused now.

Imho we should fix the inconsistencies and go for 5.

@jakubgarfield how do you feel about this?

[2016-02-15 17:54] WisconsinWildcat commented on #456
Your last statement was the most correct. App Pool madness!
![apppool_didnotwork](https://cloud.githubusercontent.com/assets/7716691/13056417/ce8ed096-d3da-11e5-94c7-d58db9cd0a18.png)
![apppool_didnotworkeither](https://cloud.githubusercontent.com/assets/7716691/13056418/ce949bf2-d3da-11e5-860b-b980b12fd5c7.png)
![apppool_worked](https://cloud.githubusercontent.com/assets/7716691/13056419/ce952b8a

[2016-02-15 18:00] WisconsinWildcat commented on #456
Advanced Settings - there were a couple differences...
![app_pool_asp_net_adv_settings](https://cloud.githubusercontent.com/assets/7716691/13056561/b70fe7ec-d3db-11e5-8c00-5b76cb4f434f.png)
![app_pool_default_net_4_advanced_settings](https://cloud.githubusercontent.com/assets/7716691/13056560/b70fe29c-d3db-11e5-8782-154709363ded.png)
![app_pool_net_4_classic_adv_settings](https://cloud.githubuserc

[2016-02-15 18:01] jakubgarfield commented on #457
Agree, let's update the whole project to 5.

[2016-02-15 18:02] jakubgarfield commented on #458
:+1:

[2016-02-15 18:19] willdean commented on #456
You'll never want 'classic' pipeline for anything modern.  Glad it's sorted anyway - hopefully this will be helpful to people who come later.

[2016-02-15 18:19] #456 closed

[2016-02-15 18:29] willdean commented on #457
@RedX2501 - are you talking about the web.config in views?  If so, I'm sorting it.  If not, could you point me to where you're seeing MVC4 stuff?

[2016-02-15 18:42] #458 closed

[2016-02-15 18:42] #457 closed

[2016-02-15 20:00] WisconsinWildcat commented on #456
Agreed about the "hope it helps others". Thank you for your assistance.

[2016-02-15 20:21] SGatOCCU opened #459 "AD authentication not working for Administrator access"
Hello All,

I'm having an issue getting an administrative login via Active Directory.  I am able to successfully login using AD, just not as an administrative user.

Unexpected behavior:
- When attempting to login as an administrative user I can login, but receive the error "Unauthorized
You don't have permission for the selected action or page."

Troubleshooting:
- The machine is connected to AD.

[2016-02-15 20:42] larssb commented on #345
Hi @RedX2501,

I have the exact same error. Did you figure it out?

[2016-02-15 20:43] willdean commented on #459
I may well reveal my almost complete ignorance about AD here, but does your user show any roles if you go to the users page?  Seems to me you'd be unlikely to fail any auth tests if you correctly have the role 'Administrator'

[2016-02-15 20:55] SGatOCCU commented on #459
Hi Will.  Thanks for the reply.

I don't have access to the user pages after my ?login? with administrative user.  I'm only able to see the Bonobo Git Server button in the top left corner and the Sign In link in the top right along with the  error "Unauthorized You don't have permission for the selected action or page."

I know what you're talking about though, when my regular user logs in I can s

[2016-02-15 21:23] willdean commented on #459
If you change the ActiveDirectoryRoleMapping value so that it doesn't match you, does your account then work as a normal non-admin account?

[2016-02-15 22:14] SGatOCCU commented on #459
I've removed my AD admin user ("AUser) from the "Git1101Admin" AD group (admin group).  I then add "AUser" to the "Git1101Admin" AD group (regular user group).  The "AUser" account can now log in, as a regular user.

If I leave the above setup in place and add "AUser" to the "Git1101Admin" AD group (user is now in regular user and admin groups) I can login, but receive the menus of a regular user;

[2016-02-15 22:44] willdean commented on #459
Unfortunately there are a number of places in the AD code which might be silently swallowing exceptions without a trace.  If I sent you a set of binaries which recorded better logging, would you be able to try them?    (Or do you have VS and could build your own - I can create a branch for you to try)

[2016-02-15 23:24] SGatOCCU commented on #459
I'm happy to run a binary that produces verbose logging.  I can clone the existing virtual machine and run it there.

I'm not sure what a VS is, sorry.

Thanks for the help with this.

[2016-02-15 23:36] willdean commented on #459
The attached file should be put into the bonobo.git.server\bin directory. TAKE A BACKUP FIRST!

If it works, then you might get useful into written into app_data\bonobo.git.server.errors.log.  Probably worth you clearing that file out before you start.

(VS is 'Visual Studio' which is the Microsoft product which you'd use to build your own copy of Bonobo)

[Bonobo.Git.Server.dll.zip](https://githu

[2016-02-16 09:52] larssb commented on #433
Ooooooh noooooo. I have a confession. Yesterday when I troubleshooted this I saw that I needed to remove the commenting from the appSettings part correctly. I had not done that. I can't say sorry enough for wasting your precious time.

Other comments:
- I would recommend that the documentation mentions that the AppPool should also have 'Read' rights to the 'Users' and 'Computers' system AD contain

[2016-02-16 09:52] #433 closed

[2016-02-16 09:58] willdean commented on #433
@larssb Don't worry, I think it just points to the value of building in some configuration validation.  Lots of bits are harder to troubleshoot than they could be.

[2016-02-16 10:06] larssb commented on #433
Hey Will,

Thank you. Yes agree some bits are a bit hard to troubleshoot.

/Larsen

- Health is wealth, movement is medicine -

On 16. feb. 2016, at 10.58, Will Dean <notifications@github.com> wrote:

@larssb <https://github.com/larssb> Don't worry, I think it just points to
the value of building in some configuration validation. Lots of bits are
harder to troubleshoot than they could be.

—
Reply

[2016-02-16 11:40] RedX2501 commented on #450
Please reopen this if you feel that the solution provided by Will did not meet your expectations.

[2016-02-16 11:40] #450 closed

[2016-02-16 11:43] RedX2501 commented on #457
Sorry if I'm misreading but i found it here:
https://github.com/jakubgarfield/Bonobo-Git-Server/commit/d6eea1b2d2888b23a3077f9ffce9b84a2a86b63d#diff-6e0343f21ec6bdbcecc94b95d5aa0ae8R222

[2016-02-16 11:58] willdean commented on #457
If you're looking at a line that says "Unity.MVC4", then that changed at 082d357

[2016-02-16 12:13] RedX2501 commented on #457
Hmm there i found this line:
https://github.com/jakubgarfield/Bonobo-Git-Server/commit/082d357b801495c5e726e0c0ec7275844d16ada5#diff-6e0343f21ec6bdbcecc94b95d5aa0ae8R135

[2016-02-16 12:19] willdean commented on #457
That's saying the package "Unity.Mvc" is at version 4 - i.e. it's the version of "Unity.Mvc", not the version of Mvc.

My (very limited) understanding is that "Unity.Mvc" is generic to all versions of MVC, whereas "Unity.Mvc4" was specific to Mvc4.

Unity is a dependency injector, it's working with MVC, it's not a part of it.

[2016-02-16 18:18] SGatOCCU commented on #459
New binary writes out the error below to the Bonobo.Git.Server.Errors file when attempting Admin login via AD group.  No error is written when in log (successfully - with expected behavior) in using non-administrative group.

`Native library pre-loader is trying to load native SQLite library "C:\inetpub\wwwroot\Bonobo.Git.Server\bin\x64\SQLite.Interop.dll"...`

[2016-02-16 18:26] willdean commented on #459
@SGatOCCU - That's not relevant I'm afraid, it's just noise while the app is starting up, it's not an error per se, and it's not connected with the AD stuff.

Clearly whatever's going wrong is not recorded by those additional checks I added.

I have in mind some kind of 'configuration verifier' which could check for various problems with the Bonobo setup and might help narrow-down your problem, bu

[2016-02-16 20:53] willdean commented on #459
@SGatOCCU  Here's another version of the DLL to try.  This has a new diagnostics page, which you get to by going to http://<my server>/Home/Diagnostics

I am flying blind with AD, but I have tried to dump some useful info into that page - see what you get.

[Bonobo.Git.Server.dll.zip](https://github.com/jakubgarfield/Bonobo-Git-Server/files/133279/Bonobo.Git.Server.dll.zip)

[2016-02-16 21:55] RedX2501 commented on #457
A quick googling revealed that there is a version 5 of the unity framework. Unity 4 has a dependency on mvc 4 and above whereas unity 5 has mvc 5 and above. So not sure if should update unity too.

[2016-02-16 21:58] willdean commented on #457
Did you find any explanation for the difference between Unity.Mvc, Unity.Mvc4 and Unity.Mvc5?

[2016-02-16 22:32] RedX2501 commented on #457
After some digging:
Unity mvc 4 uses unity 3.5
Unity mvc 5 uses unity 4.0

There seems to be no summary of the changes between 3.5 and 4.0 according to this issue on unitys githubhttps://github.com/unitycontainer/unity/issues/20

[2016-02-16 23:18] willdean commented on #457
Lol.  And I thought the MVC6 + ASP.NET5 stuff was enough to make me cry.  Well, we're using Unity 4 so I guess we're OK.

[2016-02-17 11:51] willdean commented on #459
Just noticed another place in the AD code which might be silently swallowing an exception - please try the attached and see if it logs anything.

[Bonobo.Git.Server.dll.zip](https://github.com/jakubgarfield/Bonobo-Git-Server/files/134178/Bonobo.Git.Server.dll.zip)

[2016-02-17 12:30] RedX2501 commented on #459
@willdean Do you think it could help the project if we removed all the try catch blocks that catch all excepitons for AD?

[2016-02-17 12:49] willdean commented on #459
Yes!  I am reluctant to make myself unpopular by dissing other people's hard work within a week of looking at the project, but I do think they're a problem.

I think there are generally too many catch() blocks (and possibly too many if(foo != null) { xxx } blocks.)   I'm not singling out the AD code for this.

I know it's a tricky balance, because an exception which stops the server even starting

[2016-02-17 14:29] RedX2501 commented on #459
@willdean I'm in favour of this. I'd just open a PR with an [RFC] tag. Let's giive it a go.

[2016-02-17 14:53] hadzira opened #461 "Upload a changed file to an available repository"
How can I upload a new file to an available repository in Bonobo Git?

[2016-02-17 14:56] RedX2501 commented on #461
You need to have a cloned version of the repository that contains the file you changed.

Then you just do the usual add commit push cycle of git.

[2016-02-17 15:37] hadzira commented on #461
how do I clone the version and add, comm and push them?

[2016-02-17 15:39] willdean commented on #461
It's going to be beyond the capabilities of the Bonobo team to help with real begineer Git stuff, I'm afraid.

A great place to start with Git is this free book:  https://git-scm.com/book/en/v2

[2016-02-17 15:46] #461 closed

[2016-02-17 19:26] SGatOCCU commented on #459
@willdean This is a response to the "AppPool having read rights to users and computers" I found a document on how IIS is managed differently in 2008R2/Win7 onward:
http://www.iis.net/learn/manage/configuring-security/application-pool-identities

I then changed the following value in IIS.  Unfortunately, this had no effect.  I did not make changes in Active Directory yet though.  I want to make one

[2016-02-17 19:36] willdean commented on #459
@SGatOCCU Can you look back a couple of comments and find the new version of the DLL which I attached, with some instructions about a new diagnostic page (the url should be `http://<your server>/Home/Diagnostics` - it got munged in the last comment.

I would be interested in the output of that page.

[2016-02-17 22:55] patelmitul commented on #345
I just downloaded the latest version and compiled it myself. The changes made resolved the login/authentication issue.
Mitul

    On Monday, February 15, 2016 2:42 PM, larssb <notifications@github.com> wrote:

 Hi @RedX2501,I have the exact same error. Did you figure it out?—
Reply to this email directly or view it on GitHub.

[2016-02-18 00:26] SGatOCCU commented on #459
@willdean

0) Installed the new binary.

1)
[BonoboDiagPageSanitized.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/135409/BonoboDiagPageSanitized.txt)

2) I now receive the below from Bonobo.Git.Server.Errors file.  I'm not sure if that's helpful.

[code]

Thanks for your help with this!

[2016-02-18 04:07] RedX2501 commented on #345
@patelmitul @larssb The version in master branch works fine for me.

[2016-02-18 08:08] larssb commented on #345
@RedX2501 - thank you. I also got it working. Just need Internet Explorer to accept that the domain I use for BonoboGit is actually a 'intranet zone'.

[2016-02-18 08:41] willdean opened #462 "Change password salting"
This is with reference to PR #426

Currently, password hashes using the username as a salt.  This was probably never a very good idea, in that every site has a user called 'admin', so an attacker could precompute hashes which would be useful on all bonobo sites.  But it didn't give any functional problems.

After #426, people will be able to change usernames, which is a great feature, but would in

[2016-02-18 08:52] willdean commented on #459
I don't feel I'm being any help!  What did the 'sanitization' consist of - removing the AD user-name list?

[2016-02-18 09:01] RedX2501 commented on #462
1. I'm in favour of not touching the current password code.
2. I'm also in favour of adding this extra column as I guess it is the only way of not invalidating the password on username change due to 1..
3. Predictable salts are not a concern (repeating salts on the other hand is), after all they are readable in the database and to get the password hash you need read access to the DB.

Can you prov

[2016-02-18 09:29] willdean commented on #462
Will do.  I'll can also merge in my new test stuff with it, but that would mean that I'll have to back-out the changes in 74d0556 which we've been talking about.

I think it's worth adding the test, because the coverage on EFMembershipService, (which I thought was a bit soft and didn't really add much value) found a couple of regressions in this branch straight away.

[2016-02-18 10:07] larshg commented on #459
Just to verify you try to use cookie auth, with AD membership/role provider?

[2016-02-18 10:30] larshg commented on #459
Are there any json files in the app_data/ADBackend subfolders?

I just tried with cookie auth and a AD backend with the experimental branch that @RedX2501  and I are working on - and it seems to work fine.

I'll try the master branch also - just to verify that it is also working.

[2016-02-18 12:24] larshg commented on #459
I can verify that it also works on master here. Are there any json file in the app_data/ADBackend/Roles ?

[2016-02-18 13:14] willdean commented on #462
OK, I've done this, and it's in willdean:user_id, along with all the new test stuff.  For some reason, @RedX2501 's  clone is not showing up in my "base fork" pull down, so I can't currently create a PR.  I'm going to ask GH about this.

[2016-02-18 15:02] #462 closed

[2016-02-18 15:40] willdean opened #463 "Help with testing AD code"
I've recently been writing a load of test code, initially for the EFMembershipService.  This uses an in-memory sqlite database, and now has pretty much 100% coverage on that service.

I have now split my tests into general IMembershipService stuff, and EF-specific stuff.

This has allowed me to create a test class for ADMembershipService, which would allow us to run the same tests against both pro

[2016-02-18 16:02] RedX2501 commented on #463
Does this help you? http://brockallen.com/2013/10/22/announcing-thinktecture-embeddedsts-a-simple-local-sts-for-asp-net-applications/

[2016-02-18 21:43] willdean opened #465 "Resharper?"
How would people feel about me committing project-based Resharper settings to the repo which match the project's coding-style as much as possible?

I'm not sure how many people working on the project have Resharper (not many, I suspect from some of the warnings I see!), but for those that do have it it would be a good way to semi-automatically help with code style consistency.

Separately it could

[2016-02-18 23:36] SGatOCCU commented on #459
@willdean Yep, I just removed all the groups users.  They were presented in a case sensitive CSV format.  All accounts were reflected correctly, so it's able to read from AD.

@larshg Cookies are enabled in the web.config.
` <add key="AuthenticationProvider" value="Cookies" />`

I'll attach the whole config file here with only the AD domain name sanitized.
[Santitzed_web.config.xml.zip](https://gi

[2016-02-19 00:23] willdean opened #466 ".NET Framework version"
The project is currently built to run on .NET 4.5, which went out of support on January 12th.

Anybody object to me upgrading everything to .NET 4.5.2?

[2016-02-19 02:00] RedX2501 commented on #465
Unless all devs use Resharper I'm against code style changes even if those would be considered better practice. That would only lead to an inconsistent look.

But if someone has Resharper and is willing to fix the warnings that are not code style relevant I'm ok with it.

[2016-02-19 08:50] willdean commented on #465
Sorry, I've been unclear about this - I'm _not_ proposing changing the code style to match Resharper's, I'm proposing adding a Resharper configuration file to make it match the project's _existing_ style for everybody who does work on it.

For example, Bonobo uses explicit 'private' modifiers on private members - I have no problem with this, but it's not my default style, nor is it Resharper's def

[2016-02-19 08:53] willdean commented on #463
It might, if only I knew what it was!  Interesting anyway.

[2016-02-19 14:03] RedX2501 commented on #466
My Visual Studio only offers me the option to change to version 4.5.1. I'd have  to ask IT to update my pc to 4.5.2.

[2016-02-19 14:07] willdean commented on #466
OK.  4.5.1 is out of support too, but it doesn't really make much difference what version of 4.5.x Bonobo is built for, it will always end up running on the latest.

I noticed you had some issue with SpecsFor with 4.5 which is why I thought of it, it's no big deal.

[2016-02-19 14:29] RedX2501 commented on #466
Hmm I guess I'll have to talk to IT anyway then if support has run out. They should have updated it then...

[2016-02-19 18:56] jakubgarfield commented on #465
I don't have a problem with it as we already have a code formatting file for Visual Studio. Not everyone uses Resharper (I think it can be free for open source projects though). Maybe a linter of some sort should be part of the build process.

But I'm not very active in development at the moment - so it's more @RedX2501 @larshg and @latop2604 call.

[2016-02-19 19:11] jakubgarfield commented on #462
I think this is a change in a good direction, especially that we are doing bigger architectural changes around usernames in different PR.

I stumbled upon an article this morning that touches this at https://paragonie.com/blog/2016/02/how-safely-store-password-in-2016. And also a bit info on stackoverflow http://security.stackexchange.com/questions/17421/how-to-store-salt - mostly in accordance wi

[2016-02-19 20:55] willdean commented on #462
I think what we've done is an improvement, and like you say it's a good time to do it.

If we wanted to improve one the current plain SHA512, there's now a hasher in provided in ASP.NET Identity which gives you a proper combined salt+hash output:

http://stackoverflow.com/questions/19957176/asp-net-identity-password-hashing?rq=1

All the details of hashing/salting go away, and you just get a strin

[2016-02-21 15:04] #321 closed

[2016-02-21 15:15] RedX2501 commented on #291
If you still experience this issue please reopen this topic.

[2016-02-21 15:15] #291 closed

[2016-02-21 15:17] RedX2501 commented on #231
@willdean Can you retry with the latest master and if it still doesn't work we need to discuss how to proceed.

[2016-02-21 15:19] RedX2501 commented on #368
@stupiduglyfool Sorry to bother you but what about that PR?

[2016-02-21 15:30] willdean commented on #231
When I run 'bower install' against a repo through the current master of Bonobo, it does the git clone fine, which I think is where it fails for the OP.

I vote to close this - loads of reasons for a null exception in this code path have been fixed since this was reported.

[2016-02-21 15:38] RedX2501 commented on #231
@willdean Very democratic of you to vote :smile:

@Excolo If you still experience this problem please reopen this issue.

[2016-02-21 15:38] #231 closed

[2016-02-21 15:49] willdean commented on #466
@RedX2501 I think it's possible that you have a newer version of the framework on the machine, but not the dev stuff which upgrades the options in VS.

[2016-02-21 15:53] willdean opened #467 "mstest vs vstest.console"
I happened to run 'run-tests.cmd' for the first time just now, and discovered that all my hundreds of beautiful new tests failed, even though they run fine in nCrunch and fine on Appveyor.

It turns out that Appveyor is using 'vstest.console.exe' rather than 'mstest.exe'

Judging from https://msdn.microsoft.com/en-us/library/ms182486.aspx I think vstest.console is the correct choice, besides which

[2016-02-21 15:55] RedX2501 commented on #466
Hmm, how do I update that?

[2016-02-21 15:56] RedX2501 commented on #467
mstest is out of date.

In the new integration-test PR that script will go away.

[2016-02-21 15:57] willdean commented on #466
http://stackoverflow.com/questions/23617900/how-to-select-net-4-5-2-as-a-target-framework-in-visual-studio

[2016-02-21 15:58] RedX2501 commented on #439
@ecocquerez Can you please try with the latest version from https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/artifacts and tell us if it works.

# Please backup your Database (App_Data folder) as this will update the database making it incompatible with your current database!

[2016-02-21 15:58] willdean commented on #467
OK, excellent, I'll ignore it for now

[2016-02-21 15:58] #467 closed

[2016-02-21 16:06] RedX2501 commented on #439
The label change is only to indicate that we haven't tested it on our side. If you can confirm it on the latest then i'll change it back.

[2016-02-21 16:08] RedX2501 commented on #378
@mattepi Since the merge of your PR is this still happening?

[2016-02-21 16:10] RedX2501 commented on #407
@chrismdev Can please check that this is fixed on latest master? https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/artifacts

# Please backup your Database as latest master will upgrade it to a format not compatible with 5.1.1.

[2016-02-21 16:11] RedX2501 commented on #340
I'll be closing this as this should have been fixed on the latest series of PRs. If anyone still experiences this please reopen this issue.

[2016-02-21 16:11] #340 closed

[2016-02-21 16:14] RedX2501 commented on #463
And i had posted this before: http://www.forumsys.com/tutorials/integration-how-to/ldap/online-ldap-test-server/

[2016-02-21 16:18] RedX2501 commented on #466
I don't have 4.5.2 but go for it (from my side). I'll get it installed.

[2016-02-21 16:38] willdean commented on #465
OK, I added the DotSettings files.  I don't think that they'll cause anyone any problem if they don't need them.

[2016-02-21 16:38] #465 closed

[2016-02-21 16:38] willdean commented on #463
I've seen that one - I'll explore it properly.

[2016-02-21 16:38] #463 closed

[2016-02-21 17:33] RedX2501 commented on #328
I'll close the issue as it was fixed. If we want to correlate the commit user to the website user we should open a new issue for that.

[2016-02-21 17:33] #328 closed

[2016-02-21 20:54] larshg opened #469 "The AD membershipservice tests"
@willdean
They are not really helpful since you cannot create new AD users through Bonobo.

The only way is to test direct against a global accessible AD server - where its possible to add a known user etc. that can be tested with.

So... I guess they should be removed?

Until now - I can try test out any new changes to the AD - until a more sustainable solution exist :)

[2016-02-21 21:00] willdean commented on #469
I think that's fair comment - I'll take them out and leave them on a branch of mine in case we ever need them again.

[2016-02-21 21:16] #469 closed

[2016-02-21 21:58] chrismdev commented on #407
I deleted my ADBackend folder and Bonobo.Git.Server.db and got this error in the log Bonobo.Git.Server.Errors.log:

w3wp.exe Error: 0 : Error occured and caught in Global.asax - System.FormatException: Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx).
   at System.Guid.TryParseGuidWithNoStyle(String guidString, GuidResult& result)
   at System.Guid.TryParseGuid(St

[2016-02-21 22:05] willdean commented on #407
Can you clear your browser cookies for the Bonobo server address?   Sounds like the browser might be claiming you're logged-in to an account which no longer exists.  (I'll try and repro this here anyway)

[2016-02-21 22:11] chrismdev commented on #407
Does this look right? we seem to be trying to cast a Upn to a guid in the UserExtensions class?

user.GetClaim(ClaimTypes.Upn);

[2016-02-21 22:14] chrismdev commented on #407
Yeah that looks like the problem. My Upn looks like this:  chris@domain.local

[2016-02-21 22:15] willdean opened #470 "The Names of Names"
We have a funny situation at the moment, where 'User', the EF data object has the following name fields:

Name
Surname
Username

The UserModel class, used elsewhere in the code has

Name (equivalent to Username above)
GivenName (equivalent to Name above)
Surname (that's the same as above)

I think we should fix this, and both classes should use the following:

Username
GivenName
Surname

This is a

[2016-02-21 22:19] chrismdev commented on #407
Apologies, after I cleared that cookie it started working

[2016-02-21 22:20] willdean commented on #407
@chrismdev Cool - but we need to handle that better.

[2016-02-21 22:23] willdean opened #471 "Upgrade to guid causes problems for people with the Upn claim in their cookies"
We need to somehow flush people's cookies when they upgrade to the GUID version, because otherwise they may have a Upn claim which is not a GUID, it's a username.  That then causes a problem in UserExtensions when it tries to parse into a GUID.

See #407

[2016-02-21 22:25] willdean commented on #471
Or perhaps we just need to change UserExtensions.Id to use TryParse

[2016-02-21 22:29] RedX2501 commented on #470
Im fine with it. I don't have any big open branches at the moment.

There was a reason to this madness that i can't remember right now. But with all the new tests that we have now the impact of this change is less likely to have hidden gotchas.

[2016-02-21 22:30] RedX2501 commented on #407
With the new integration tests we can probably fake a cookie. Not sure how
to test the AD part tho.
Am 22.02.2016 03:50 schrieb "Will Dean" <notifications@github.com>:

[2016-02-21 23:32] willdean commented on #470
Well, fortune favours the brave - I just pushed this.

[2016-02-21 23:32] #470 closed

[2016-02-21 23:35] willdean opened #472 "Could ADBackend use GUID directly for filenames"
The ADBackend currently makes names for json files by hashing the 'Name' property of the object.

Given that all objects now have GUIDs, and GUIDs make good filenames, could we now use the GUID directly rather than hashing the name?

In turn, the INameProperty could then become something like IHasGuidId, and only require objects to have a GUID, not a string name.

One for @larshg to answer, perhap

[2016-02-22 00:21] chrismdev commented on #407
Not sure if I should create a new issue or add this in here. It no longer determines that I am in the administrators role. I'll dig in to this when I have a bit of time.

[2016-02-22 01:13] mattepi commented on #378
After applying my changes I no longer see the issues mentioned.

[2016-02-22 03:41] #378 closed

[2016-02-22 04:21] RedX2501 commented on #407
Same as #459

[2016-02-22 04:21] #407 closed

[2016-02-22 05:01] RedX2501 commented on #407
@chrismdev Can you please chime in on that thread? Maybe we are able to reproduce it with your help.

[2016-02-22 05:16] RedX2501 commented on #472
Before it was impossible to guarantee that username would not contain any weird properties that windows would not like. Now with GUIDs we have a unique way of identifying users in a filesystem friendly way. So i don't see why wo should not make use of that.

:+1: from me

[2016-02-22 08:07] RedX2501 commented on #471
I guess we can check it the beginning of authentication if the Upn contains a valid GUID. If not reset the cookie and forward to login.

Here is how to remove the cookie:
http://stackoverflow.com/questions/5122404/how-do-you-clear-cookies-using-asp-net-mvc-3-and-c/5122611#5122611

[2016-02-22 08:14] willdean commented on #471
We probably don't need to remove the cookie ourselves - if we just refuse to Authenticate at that point, then I suspect the framework will deal with it - it will do a redirect-to-login, which will then give us a decent cookie.

[2016-02-22 19:18] larshg opened #473 "Can't run the new integration tests with VS2015"
hey @RedX2501

I can't get them to run, because when the SpecsForMvcConfig is instantiated i throws an error:

Test Name:	RunGitTests
Test FullName:	Bonobo.Git.Server.Test.Integration.ClAndWeb.MsysgitIntegrationTests.RunGitTests
Test Source:	D:\Code\CSharp\Bonobo-Git-Server\Bonobo.Git.Server.Test\IntegrationTests\MsysgitIntegrationTests.cs : line 58
Test Outcome:	Failed
Test Duration:	0:00:00

Res

[2016-02-22 22:46] willdean commented on #473
Have a look at this issue, which has a misleading title, but is actually about changing the msbuild path - the poster links to a gist which might be helpful.  https://github.com/MattHoneycutt/SpecsFor/issues/70

[2016-02-22 22:54] #459 closed

[2016-02-22 22:59] willdean commented on #472
Do all those backend files get rebuilt at startup/AD update?  i.e. if we change the filename format and hence effectively flush the whole store, is that a problem?

[2016-02-23 01:37] chrismdev opened #475 "RepositoryPermissionService User.Id is null"
Hi,
When trying to clone a repo I am getting either authentication failed or 500 errors because the User.Id is null in the GitController, specifically this line:

bool hasPermission = RepositoryPermissionService.HasPermission(User.Id(), repositoryName);

I'm using windows authentication with the active directory membership service. The user I am testing with is an administrator (ie: is a member of

[2016-02-23 04:13] chrismdev commented on #475
This is my workaround for the problem. Is this safe?

   public ActionResult SecureGetInfoRefs(String repositoryName, String service)
        {
            if (!RepositoryIsValid(repositoryName))
            {
                return new HttpNotFoundResult();
            }

            bool hasPermission = false;
            string username = string.Empty;
            string password = string.Empty

[2016-02-23 05:12] RedX2501 commented on #475
I guess this was a direct result of https://github.com/jakubgarfield/Bonobo-Git-Server/commit/2af315756ebec6bfcf05f43b09d3fd073c186186. There user adding was removed because it should be done by the background service but i guess if you have enough users it could happen that the user you are using has not been added by the time you try to use him.

@larshg Is this scenario possible?

[2016-02-23 05:13] RedX2501 commented on #475
@chrismdev Please make that a PR so we can test it outright.

[2016-02-23 05:16] RedX2501 commented on #475
After looking at you code I don't think that's the best option because it spreads authentication.

I have a similar problem with WindowsAuth. Every user has to log in to the website at least one before being able to checkin/commit if anonymous auth is off. I think that is a fair thing to excpect from the user.

Did you log in into the website with the user at least once before trying to checkout?

[2016-02-23 05:19] RedX2501 commented on #473
We are using IISExpress so it should not be a problem setting that variable through some code.

[2016-02-23 05:19] RedX2501 commented on #473
@larshg Is your last sentence about the 7z dependency on the git extraction or about your problem?

[2016-02-23 05:22] RedX2501 commented on #473
@larshg BTW i think you are the only one that can provide a patch to this as i'll guess willdean does hae the tools installed as he did not have a problem.

I tooks like the gist provided by willdean will fix the problem for you.

[2016-02-23 05:27] chrismdev commented on #475
Yes I had. Are you using windows auth or cookies?
How does git know what user credentials to use?

[2016-02-23 05:29] RedX2501 commented on #475
I was using windows auth.
Your git knows the credentials from the command line. The internal git does not care about credentials.

[2016-02-23 05:39] chrismdev commented on #475
How does git know your credentials? Apart from this: http://username%40domain.local@server/Git/repo.git

[2016-02-23 06:27] larshg commented on #473
The thing is the code breaks on the SpecsForMvcConfig constructor and hence not about the iisexpress, where you can set the paths to msbuild - so no it doesn't really help me :( - Maybe I should try ask at SpecsForMvc git page.

The dependency of 7z was just for convenience - not forcing people to install 7z and add it to the system path for the git extraction yes.

[2016-02-23 06:32] larshg commented on #475
As far as I could debug the the AD is queried for users when the application is started and afterwards every 2 minutes. I don't think that this is the problem - as the json files is more about role providing and not authentication?

I'll try to see if I can reproduce the problem asap.

[2016-02-23 07:02] RedX2501 commented on #472
IIRC not at startup but with the background worker. When using AD there is no local configuration possible.

i also don't think there should be a problem with users no longer present in having any left over references in the system.

[2016-02-23 07:05] RedX2501 commented on #473
I actually think that probably providing a string argument to the constructor is the quickest fix here. Maybe we can create a PR for SpecsFor?

[2016-02-23 08:50] willdean commented on #475
I'm with @RedX2501 - if `User.Id()` is null for a named user by the time we get to the controller action, then that probably needs fixing at the GitAuthorizeAttribute level.   I'm :-1: on this patch as it stands.

As I understand it, we should never get out of GitAuthorizeAttribute.OnAuthorisation without a properly filled-in httpcontext.User.   I wonder if this is related to #471 in that things a

[2016-02-23 09:23] larshg commented on #475
What username do you supply? with domain or?

[2016-02-23 09:32] larshg commented on #475
Can you try debug line 84 in ```GitAuthorizeAttribute``` and verify that the username here (it still changes \\ to ! - which I think should be removed? a second issue) - and that the ```GetClaimsForUser``` can find your supplied username in your database in ```GetClaimsForUser``` in class ```AuthenticationProvider``` - and that the user is properly filled?

I cannot reproduce the error - when I lo

[2016-02-23 09:35] larshg commented on #475
If we use AD with internal membership - the users has to login before being added to the database - I actually don't know if this would happen if they did a clone first - but then they should have the git address from someone else? - but this is properly a issue for it self.

[2016-02-23 09:39] RedX2501 commented on #475
You can try the following:

Disable the background updater.
Remove the user from the AD repos (delete the json file)
Now try to clone.

Auth should still succeed but then the guid will probably be empty.

[2016-02-23 09:43] willdean commented on #475
I've just put up PR #477 which might help with this, though I'm not able to test it, really.  It's perhaps more likely to fix #471 than this one.

[2016-02-23 09:46] willdean commented on #473
The git download is actually a self-extractor, so doesn't need anything else to extract it, just some very hard beating on the command line, which I've just given it - hopefully it will appveyor OK.

I'm not 100% happy with us running post-install.bat either - it fails here anyway, but I don't want a VS build to be messing around trying to change global stuff on my machine, which post-install does

[2016-02-23 09:58] RedX2501 commented on #473
@willdean The post-build stull could probably mitigated by applying some kind of transform or using the appveyor redistribution stuff. We need to look into it.

[2016-02-23 10:29] willdean opened #478 "Let's not overload Guid IDs with error information"
@RedX2501 and I have had various discussions on various issues about the misuse of GUIDs as error values.  (We both catch each other out at it!)

I think the introduction of the GUID IDs is a fantastic opportunity for the code, and we should not squander that now by wasting many of their advantages by wrapping them in the disadvantages of other techniques.

I propose the following:

1. We never us

[2016-02-23 10:31] stupiduglyfool commented on #368
Hi, I've taken a look at the recent code in order to produce a PR, I notice that there is a significant refactor occurred which means my code changes no longer cleanly applies to yours, I have compared my changes against the previous changeset and determined there was only minimal changes anyway, and it is possible to bring them to the latest code, I also see you already made the fix to the ADBack

[2016-02-23 10:34] willdean commented on #368
Is there a claim which would conventionally be used for a GUID-style ID?  (Rather than upn?)

[2016-02-23 10:43] stupiduglyfool commented on #368
Apparently the ldap attribute required is ObjectGuid..
http://serverfault.com/questions/564959/send-objectguid-as-an-ad-fs-2-0-claim

I will give this a try..

[2016-02-23 11:13] RedX2501 commented on #478
(Sorry for editing your post but I had to convert your bulleted list to a numbered list to be able to reference the points)

I don't agree with 1. this takes you back to the old C style of programming. But i agree that we should never take a `Guid?`, we should always make the parameter `Guid`.

2. I think this is a valid point as trying to get something that doesn't exist should rarely happen.

3.

[2016-02-23 11:48] willdean commented on #478
Numbers are much better than bullets...  But are yours out-by-one in your list?

[2016-02-23 12:05] willdean commented on #478
Guid? is hardly used at all at the moment, but I think, for example, CreateUser might be better written as two overloads of CreateUser, one which takes a Guid, and must always be given a valid Guid, and one which doesn't take a Guid, and creates a Guid before calling the first one.   I'm not sure that's too C' like.

The other use of Guid? is in GetPermittedRepositories, and I think that one's jus

[2016-02-23 12:36] RedX2501 commented on #478
Hehe not on my edit form.. It seems that markdown insists on starting on 1. doesn't matter what i give to it as starting number....

I think that we are over-engineering this.

I think if we agree on never using `Guid?` and that `Guid.Empty` is not a valid user we already won 90% of the battle.

I'd just really dislike to see code like `if(guid != null && guid.value != Guid.Empty)`.

[2016-02-23 12:39] larshg commented on #472
I don't think it should be a problem - but why bother?

Actually I can't really grasp why the ADBackend stores it info in files, rather than in a database to make the application more coherent.

[2016-02-23 12:41] willdean commented on #478
I think we're in complete agreement!

[2016-02-23 12:41] larshg commented on #478
I think it sounds great to make some guidelines of how to use the guid :)

[2016-02-23 12:47] RedX2501 commented on #472
@larshg I agree with you that it might not need a change but the advantage i see is that you could quickly identify a record in the backend that you are trying to access from the frontend.

[2016-02-23 12:48] kchennappagarizc opened #479 "Restrict users from deleting selected branches"
We are planning to use Bonobo-Git-Server for our organization. Is there any way to restrict users from deleting selected branches?

[2016-02-23 13:10] willdean commented on #472
I came to ask about the change because when I was changing the names of the properties on UserModel, I realised that the ADBackEnd needs something called 'Name' in INameProperty in order to generate a filename.

This made me realise that the ADBackEnd store will break if things are renamed, which is one of the the intentions of the GUID work.  Effectively the ADBackEnd store is primary-keyed on 'N

[2016-02-23 13:31] RedX2501 commented on #479
By using commit hooks in the git repo.

[2016-02-23 13:44] larshg commented on #472
But @willdean if it is necessary for streamlining the AD part to be primarykeyed on GUID then I can't see any problems with it.

Its not a security risk either, as you can't really do anything with only the GUID of a given user?

[2016-02-23 13:49] willdean commented on #472
@larshg I think it's going to be necessary to support renames.    Unfortunately I think we'll need some migration approach, because otherwise people will lose all the repository setup.

I have realised that we **can** unit-test _most_ of the AD code (including the backend store, but excluding the interaction with AD itself) - hopefully this would let me test the migration too.

I have just found a

[2016-02-23 14:16] willdean opened #480 "ADRepoRepo and EFRepoRepo have different 'PermittedRepository' rules"
The EF version of GetPermittedRepositories (which is used by the web app to show the list of repos on the Repo Index page) has more permissive rules than the AD version.

I'm thinking of refactoring these two classes so that they can share all this code, so that this sort of discrepancy can't happen in future, but if anyone has an opinion about which one's correct, this would be the place to expre

[2016-02-23 14:17] stupiduglyfool commented on #368
I now have it working with the latest git code, without making any sourcecode changes, the recent changes you have made to the adfs, team and accounts pages seem to have cleared up any problems.

However I do have some guidance here for your documentation..

Following these:

[How to convert objectguid](http://nzpcmad.blogspot.co.uk/2013/01/adfs-objectguid-as-claim.html)
[How to setup a string tra

[2016-02-23 14:24] willdean commented on #368
Well impressed...

Could we take the ObjectGuid as Base64 into Bonobo and convert it in there, so that people don't need to do it in the server set-up?   (Can you tell I've never looked at the federation stuff at all...?)

[2016-02-23 14:31] stupiduglyfool commented on #368
Thats an option, I didn't think you'd want to do that, because ADFS is only one source of claims..

[2016-02-23 14:38] willdean commented on #368
I was just wondering if a claim called ObjectGuid turned up from an external source we could convert that internally.

I am concerned that we're misusing upn anyway, which may be a long-term source of confusion even if we can get away with it within the application.

[2016-02-23 14:45] willdean commented on #368
After a quick google, it seems ClaimTypes.PPID (Private Personal ID) might be a better place to put the upn than in the upn claim.

Does that make any sense?

[2016-02-23 14:45] stupiduglyfool commented on #368
I was typing a very similar message..

[2016-02-23 14:47] stupiduglyfool commented on #368
In this case I would suggest ObjectGuid = PPID, rather than UPN.

[2016-02-23 14:50] willdean commented on #368
What I'm struggling with now is the PPID is not defined in the version of ClaimTypes we're using.  And we're using the now-recommend version, from System.Security.Claims, rather than the older one.

Obviously it's just a magic string, so it doesn't matter who defines it, but it makes me wonder if we're on the right track, or if that's just an accidental omission from the new ClaimTypes list.

[2016-02-23 14:51] stupiduglyfool commented on #368
There is a different list, in another namespace:

https://msdn.microsoft.com/en-us/library/system.identitymodel.claims.claimtypes.ppid(v=vs.110).aspx

[2016-02-23 14:53] willdean commented on #368
Yes, but that name space defines different Claims class and everything else and is apparently superseded.

Just found this, which makes some sense:   http://stackoverflow.com/questions/24892222/using-claims-types-properly-in-owin-identity-and-asp-net-mvc

[2016-02-23 14:57] willdean commented on #368
That SO question and the two answers leads me to:

[code]

For the GetClaimsForUser call.

What do you think?

[2016-02-23 14:58] larshg commented on #368
I also looked into it originally and tried to find the proper one for passing a (GU)ID - but since bonobo used the UPN claim for the ID - I kept using that.

It does seem fine to use the NameIdentifier :)

[2016-02-23 14:59] stupiduglyfool commented on #368
It looks ok to me, however you are currently using Name, NameIdentifier for other purposes in UserExtensions, so that will need rewiring.

[2016-02-23 15:00] willdean commented on #368
Here's another SO vote for NameIdentifier

http://stackoverflow.com/questions/5814017/what-is-the-purpose-of-nameidentifier-claim

Extremely hard to look up in the first place but seemingly easy to confirm once you've found it.

It looks ok to me, however you are currently using Name, NameIdentifier for other purposes in UserExtensions, so that will need rewiring.

Yes, I'll look at them all.

[2016-02-23 15:00] stupiduglyfool commented on #368
I think we need to get consistency across the different providers.

[2016-02-23 15:10] willdean commented on #368
@stupiduglyfool   I've just pushed this change to a new branch on the main github repo, called NewClaims - would you mind trying that and seeing if it works more comfortably with ADFS?  Obviously it screws-up everyone's cookies, which is something that will need to be dealt with.

You'll probably still need to do the conversion of the GUID, but into NameIdentifier now.

[2016-02-23 15:33] RedX2501 commented on #480
Maybe we should look throug the git log and see why it was changed.

[2016-02-23 15:37] willdean commented on #480
Good suggestion to compare the history - basically the AD RepoRepo never had these checks - at the point it was first checked in they already were in EF RepoRepo but not in the AD code.

[2016-02-23 15:47] stupiduglyfool commented on #368
@willdean seems to work ok

These are the current adfs claims:

Passthrough rules: (LDAP attribute -> Outgoing type)

Given-Name -> 'Given Name'
Surname -> Surname
E-Mail-Addresses -> E-Mail Address
'Token Groups - Unqualified Names' -> Role
'ObjectGuid' -> http://temp.org/identity/claims/adObjectGuidBase64org
User-Principal-Name -> Name

Role Rules: (Outgoing claim value -> Outgoing claim type)
M

[2016-02-23 15:49] RedX2501 commented on #480
That would explain some of the AD clone anon issues we had...

[2016-02-23 15:52] willdean commented on #480
I'm going to have a MkII attempt at getting as much as possible of the AD Code under test, then we can get it to a point of consistency with EF, either by fixing it or combining it.

[2016-02-23 15:56] RedX2501 commented on #480
Btw i think that the EF version is the correct one.

I'll close this as it is clear that this is a bug that needs a PR.

[2016-02-23 15:56] #480 closed

[2016-02-23 15:56] willdean commented on #368
Well, does that seem like an improvement?

[2016-02-23 16:00] stupiduglyfool commented on #368
Yes, now I need one less claim configured, it makes the config more succinct than the previous attempt. Its also improved because now we've put some thought into the correct usage of the claim types.. so should avoid confusion when people come to configure their relying party for bonobo.

[2016-02-23 16:00] stupiduglyfool commented on #368
I think it would be beneficial to remove the dependency of the transform rule.

[2016-02-23 16:11] stupiduglyfool commented on #368
I think there maybe a race condition between the population of the adbackend users + teams. If I purge the adbackend folder occaisionally the json file has an array of null users.

[2016-02-23 16:14] willdean commented on #368
I am wondering if all we need to do there is to make the Id() extension method smart enough to return a Guid from either a string guid or from a base64 guid.  Then the claim would have the untransformed guid in your setup, but the app would always just see a guid.

I am not clear enough about how the whole process works to know if that's sensible, or if there isn't some better point at which to do

[2016-02-23 16:16] willdean commented on #368
There is a Parallel.Invoke in ADBackend.cs which I think may have been a little ill-advised anyway.

Could you try replacing that with sequential set of three calls?

[2016-02-23 16:33] stupiduglyfool commented on #368
I think conversion based on its format sounds like a nice solution, either that we could add an auth method claim, and use that to decide what the incoming id format is expected to be. Other than the solution I have now, I don't believe there is an earlier opportunity to make that translation.

I spotted the Parallel code and I agree it is the cause of this problem.

[2016-02-23 16:37] willdean commented on #368
I'll remove that Parallel.() from master now - I've been giving it angry glances ever since I first looked at the Bonobo code...

[2016-02-23 16:46] willdean commented on #368
@stupiduglyfool I've just committed code onto the NewClaims branch which should cope with the NameIdentifier claim containing a Base64 guid rather than a ToString guid.

Can you see if that lets you drop the translation at your end?  (Obviously you'll still need to map ObjectGuid to NameIdentifier)

[2016-02-23 16:56] willdean commented on #473
@RedX2501 I too found in incredibly difficult to find the switches, but I got it from the answer here http://stackoverflow.com/a/32105548/987 - not the most up-voted answer, but the one below it.

[2016-02-23 17:04] stupiduglyfool commented on #368
Yeah thats working without the transformation.

[2016-02-23 17:22] willdean opened #481 "Repo Detail Edit Listbox formatting and error messages"
We discussed this on #426, but just so it isn't forgotten:

 - [x] The listboxes on repository detail page are not formatted as well as they used to be.
 - [x] The error message which is derived from the name of one of the listbox group properties is not very nice - see attached image.

![err](https://cloud.githubusercontent.com/assets/1306085/13260092/fdbe21be-da51-11e5-90c0-954d8ca88ff3.png)

[2016-02-23 22:26] chrismdev commented on #475
@larshg Thanks for the tip, I set the debugger at  line 84 in GitAuthorizeAttribute and found the problem to be that git was sending credentials in the format DOMAIN\username rather than username@domain.local (even though I was trying to clone using this: http://username%40domain.local@localhost:61921/test.git). I have added a super hacky patch that fixed it for me but I'm sure you guys can write

[2016-02-24 07:25] RedX2501 opened #483 "Restructure MembershipService and Authprovider"
As noted by Lars in https://github.com/jakubgarfield/Bonobo-Git-Server/pull/482#issuecomment-188108384 there is clearly to much going on in the MembershipServices.

IMHO we should remove all Authentication related code from the MembershipServices and force AD users to activate WindowsAuth.

That way {AD,EF}MembershipServices do no Authentication (password checking) but only provide User/Role infor

[2016-02-24 08:24] willdean commented on #483
You're clearly right here.  The fact that ADMembershipService only implements about two methods of its interface is a pretty sure sign that it's the wrong thing in the wrong place.

If we're going to re-architect this stuff, is there any reason why AD couldn't use the EF back-end for storage?

As far as I can tell, all that ADBackEnd actually does is make sure that the ADBackEnd database is kept i

[2016-02-24 11:26] RedX2501 commented on #483
AD requires windows auth because we never see the plain text user passwords.

EF with windows auth is nice because this allows me to use the existing infrastructure of usernames and passwords provided by my company while not having to bother admins about git groups. This is also nice for the users as they dont have to create and manage another login within the company.

EF with cookie is nice beca

[2016-02-24 16:43] RedX2501 opened #484 "Difference between test and real world"
I have created a new branch `clonetests` where I test that anonymous clone works.

The problem that i'm facing is that when running IIS by myself the anonymous clone fails as it is supposed to but in the test it succeeds...

Unfortunately i have no idea on how to debug the copied version of the binaries that SpecsFor uses.

Can anyone have a look into this and confirm that it is also happening on

[2016-02-24 19:04] willdean commented on #484
I'll try it now.

[2016-02-24 19:24] willdean commented on #484
It's a working directory problem in MsysgitIntegrationTests - all those relative paths are pointing to somewhere wrong.

I'm going to assert them all valid in the initialiser for MsysgitIntegrationTests, and then work out where they go awry.  It might be safer to resolve them from relative to absolute at some point in the run where we can be confident about the working directory.

[2016-02-24 19:54] willdean commented on #484
I've committed a fix for this - you'll see it's been committed with stupid credentials, BECAUSE THE F****ING TESTS CHANGED MY GLOBAL GIT SETUP

We absolutely must not do that.  I don't know what games need to be played with .gitconfig files or with command line arguments, but we really cannot have the test setup messing with people's real git config.

[2016-02-24 20:09] larshg commented on #483
Isn't it the other way around? Windows authentication requires AD membership?
When windows authentication is used - what do we get for identifying the user? And where in bonobo is the first executing happening?

If you use cookie authentication we get navigated to Logon in HomeController?
[code]

First it uses the MembershipService to validate the users username and password? (which in current sta

[2016-02-24 20:36] larshg commented on #483
I just tried to debug after logging in with cookie authentication. I can see subsequent access to various pages is handled in WebAutherizeAttribute - where the httpcontext has the user which was created during cookie authentication?

So if you use windows authentication and it uses the Kerberos or NTLM or any other, this would be where the first execution would be - and here the user should alread

[2016-02-24 22:02] willdean commented on #484
I've realised RunGitTests is still failing, and it wasn't clear on AppVeyor why it was - so I've added some console trace before/after a Git call so that we can see exactly what's happening.  Hopefully it will now be clearer.

Anyway, it's failing with an auth error:

About to run 'N:\will\Bonobo-Git-Server\Gits\2.6.1\bin\git.exe' with args 'clone http://admin:admin@localhost:20000/Integration.git

[2016-02-24 22:24] willdean commented on #483
@larshg The cookie has a the claims in it, encrypted.

[2016-02-24 22:29] willdean commented on #484
OK, well, under appveyor we get a different problem, which that the test is looking for "Cloning into Integration" on stdout, but Git has apparently returned "Cloning into 'Integration'...
warning: You appear to have cloned an empty repository." onto stderr.

But that looks fixable.

[2016-02-24 22:32] willdean commented on #484
We're also going to have problems in the future with the code which runs Git and captures  Stdout/Stderr.  The accepted answer here shows how to do this robustly:

http://stackoverflow.com/questions/139593/processstartinfo-hanging-on-waitforexit-why

[2016-02-25 02:22] RedX2501 commented on #484
The RunGitTests need to create repository local credentials for the cloned test repo rule the tests will fail on AppVeyor because there are no credentials set there.

Maybe during your testing I'll guess it gut run outside your test repo and that's why it changed your credentials.

[2016-02-25 02:23] RedX2501 commented on #484
There should be no difference if both are running version 2.6.1....

[2016-02-25 02:27] RedX2501 commented on #484
Yeah i see that you fixed rungit by providing working directory to it in createcredentials that's why it changed your global settings. Working directory is not inside your cloned repo.

[2016-02-25 03:39] RedX2501 commented on #484
I pulled your changes but I'm still able to do an anonymous clone in my test on my machine... The test succeeded on your computer?

[2016-02-25 04:24] RedX2501 commented on #484
Yeah! Finally found out what was wrong!
I use the wincred helper under windows and it stores all the login information. At some point it time it stored the credentials for my login to the test url.
But i also use cygwin on the system which uses another credential store which did not have the credentials cached. This meant that there the anonymous clone was truly anonymous and thus did what i expec

[2016-02-25 04:24] #484 closed

[2016-02-25 06:32] #475 closed

[2016-02-25 06:36] RedX2501 commented on #473
@larshg since the problem has been identfified can we close this?

[2016-02-25 08:16] willdean commented on #484
Can we create a local .gitconfig in the test directory which disables credential stores?  Or override it on the git command line or something?

[2016-02-25 08:22] RedX2501 commented on #484
It's what I have done in the test for the `credential.http://localhost:20000/.helper`.

https://github.com/jakubgarfield/Bonobo-Git-Server/commit/597a7a17332c5e930fd96d34eba784254ef1f5a2 Line 127

[2016-02-25 08:26] willdean commented on #484
Right, I get you now - and the CreateIdentity stuff was **supposed** to be in the repo directory, so that was my mistake moving it to WorkingDirectory.  The AnonClone test was failing on CreateIdentity because the repo directory didn't exist before the clone was run.

[2016-02-25 08:36] larshg commented on #473
Well. There is not solution yet?

[2016-02-25 08:51] RedX2501 commented on #473
According the chrsmdev my patch fixed the problem. At least i thought so...

[2016-02-25 09:00] larshg commented on #473
Are you mixing two issues now ? :) The PRs( #482 and #485) about @chrismdev problem (#475) is not about the integrations test and MSbuild which this issue is about ?

[2016-02-25 09:02] larshg commented on #473
I have created an issue [here](https://github.com/MattHoneycutt/SpecsFor/issues/89) - to see if there is any solutions or there has to made a PR to his project.

[2016-02-25 09:19] RedX2501 commented on #473
@larshg Oh I'm so sorry! Yeah you are right! I only thought we can close this because we definitely need a patch or you to install the build tools.

[2016-02-25 17:10] stupiduglyfool commented on #483
@willdean The federation provider allows passive single sign on with an ADFS relying party. During login you are forwarded to the adfs page to provide credentials, if the browser sends a valid kerberos token its possible that you won't be prompted for credentials. Then adfs provides a SAML token back which includes the identity of the logged in user and the issued claims.

If you don't mind me sug

[2016-02-25 17:19] willdean commented on #483
@stupiduglyfool I've only been involved in the Bonobo code for about a week, so you may suggest anything and everything without offending me!   Dominick Baier is pretty much god-of-auth as far as I'm concerned, so it wouldn't take much to sell me on using IS3, if it could be incorporated without making a deployment nightmare.

Auth in MVC apps doesn't need to be as hard as it seems to be in Bonobo

[2016-02-25 17:41] RedX2501 commented on #483
So this means that we would use federation for auth but still need the db for user/role matching?

This means
Internal db with windows auth, federation and internal.
Ad with windows auth.

I'm not sure if it's worth the effort of integrating IS3 considering that the Auth providers are already implemented. Maybe not in the most optimal way but they are there.

[2016-02-25 18:28] larshg commented on #483
Any reason why you can't use cookie auth with AD backend?

[2016-02-25 18:34] RedX2501 commented on #483
It could but then the adbackend must provide code to query the userprincipal for password, which i think does not belong there.

[2016-02-25 19:07] larshg commented on #483
Yes, thats true.

[2016-02-25 22:39] willdean commented on #483
@RedX2501 I think the suggestion would be to use IS3 to do the complete user database (it has an EF-based storage option).   But it is a huge change, and it seems to me too that we're not really that far from where we need to be with a certain amount of tidying / reorganisation.

[2016-02-26 03:20] RedX2501 commented on #481
Commits https://github.com/jakubgarfield/Bonobo-Git-Server/commit/174d17cb911ff6cf18ba5edc479f3a856f4beaca and https://github.com/jakubgarfield/Bonobo-Git-Server/commit/a64b615db48cac12da1c4a187379f7a83d600da1

[2016-02-26 03:59] #481 closed

[2016-02-26 07:12] RedX2501 commented on #105
I don't think this is a good idea anymore. if you want to have control over your users you should use Cookie Auth.

[2016-02-26 07:12] #105 closed

[2016-02-26 08:50] stupiduglyfool commented on #483
@willdean Yes, we use IS3, I agree it would be a huge shift in your code, but since this is discussion of an overhaul of membership and authentication, I just thought it was worth bringing to the conversation for consideration, as it would allow you to focus your project on what it does best. I think there would be other potential benefits such as authorization, protecting branches with rights..

[2016-02-26 09:11] willdean commented on #483
@stupiduglyfool A lifetime of working in consultancy has clearly allowed me to convince you that I'm much more important to the Bonobo project than I really am - I've been using it for a couple of years but working on it for a couple of weeks.   Its @RedX2501 who is the senior one here.

I would hope everyone else is really grateful for your contributions, particularly on the federated stuff.

I d

[2016-02-26 10:01] RedX2501 commented on #483
@stupiduglyfool I'm not expert in Federation Auth so let me try to understand your setup.

You have an LDAP server setup. Windows Auth cannot be used in this context to authenticate the users. AD cannot be used to query LDAP servers, so you need ADFS to convert your LDAP setup to a format that is understood by AD. Is that correct?

And to confirm what willdean said, i too am very happy to have som

[2016-02-26 10:11] stupiduglyfool commented on #483
@RedX2501 Sorry to confuse you, we use AD, I assumed that the synchronization bonobo used an LDAP connection to provide the teams and users synchronization.

We use ADFS to provide single sign on capabilities, although windows auth could be used internally, adfs is better suited for external access.

IS3 can be ran together in one application, using owin/katana, you can have one application self h

[2016-02-26 20:01] #478 closed

[2016-02-26 21:53] willdean commented on #483
@RedX2501 The ADFS server is just doing Authentication.  @stupiduglyfool is using ADFS to do authentication, but using AD to populate the membership database.  Under the covers AD is using LDAP to do this, but there's no explicit code in Bonobo which talks about LDAP, because it's hiding under the AD wrappers.

[2016-02-27 00:55] cerberoades opened #486 "Impossible Log in."
Hi,

I've downloaded and installed Bonobo.Git.Server version 5.1.1 successfully, but, when I try to log in seems that the Sqlite.Interop.dll loading process have an error. The log file is attached and begin with this line:

Native library pre-loader is trying to load native SQLite library "C:\inetpub\wwwroot\Bonobo.Git.Server\bin\x64\SQLite.Interop.dll"...

 My system is Windows 7 x64 with IIS 7.5

[2016-02-27 02:09] RedX2501 commented on #486
What have you configured as authentication provider and membership provider? What exactly happens when you try to log in and with which credentials?

If it's a new installation can you try this version and tell us if the error is still there? https://ci.appveyor.com/api/buildjobs/5p9al2qyngirskto/artifacts/bonobo-git-server-2710074-78c669d5fdd398f502673fb32bb16d111ebdd743.zip

[2016-02-27 04:21] cerberoades commented on #486
Hi RedX2501,
My authentication provider is this:

<add key="AuthenticationProvider" value="Cookies" />

and membership provider:
<add key="MembershipService" value="Internal" />
When the web browser access to "http://localhost:8080/Bonobo.Git.Server/Home/LogOn" and write username admin and password admin the browser doesn't respond. Without any 500 Error or 404 Error, nothing, just a white page.
I

[2016-02-27 05:08] RedX2501 commented on #486
Ok i think the version I posted won't help.

I guess it is having trouble finding your sqldb. What settings did you put for connecting to your sql server?

[2016-02-27 09:54] willdean commented on #486
@cerberoades Could you show us the ConnectionStrings section of your web.config (remove any passwords if you've put them in there).

[2016-02-27 19:06] cerberoades commented on #486
@RedX2501 here is the ConnectionStrings section in my web.config file.

<connectionStrings>
    <add name="BonoboGitServerContext" connectionString="Data Source=|DataDirectory|Bonobo.Git.Server.db" providerName="System.Data.SQLite" />

  </connectionStrings>

As you can see, the provider SQLClient is disable. This configuration come from the original web.config file in the Bonobo Git Server 5.1.1.

[2016-02-27 21:27] willdean commented on #486
@cerberoades You need to edit your comment here and mark the section you've posted at code (use the `<>` button.

[2016-02-27 22:35] willdean opened #489 "Why does AD have a separate database?"
I have been playing here (not with any specific intention of merging it) with getting rid of much of the AD-specific code, and just importing the AD users/teams into the EF database.

When I looked back at the history of the AD code, it appears from looking at  082d357b that this is actually what happened before the recent AD code arrived - there was a routine called WindowsIdentityImporter.cs whi

[2016-02-27 22:45] willdean opened #490 "Logging?"
Bonobo currently has fairly simple logging, just writing exceptions to a file.

I think some of the problems people report issues on could be more easily debugged if there was better logging in the application - for example lots of the interaction with AD could be logged at various levels, which could be very helpful when trying to diagnose problems, and there are lots of other situations where we

[2016-02-28 00:15] willdean commented on #483
I'm with @larshg that we shouldn't stop supporting form+cookie authentication for people using the AD membership.

I think the matrix looks like this:

Form+Cookie Auth:   Internal membership or AD membership
Windows Auth: AD membership only
ADFS Federation Auth: AD membership only (This will also be using a cookie, but it's a different one)

By "membership" I'm meaning "how the list of users, tea

[2016-02-28 02:03] RedX2501 commented on #489
Im afraid test happened before I joined the project.

[2016-02-28 02:09] RedX2501 commented on #490
What would their advantage be against trace.write? I think the real problem is how to activate the logging at runtime.

Another problem i faced was that many non 500 non
Errors never made it into the trace.

[2016-02-28 07:29] RedX2501 commented on #483
My use case as described above is Windows Auth + Internal DB which you do not have in your table. https://github.com/jakubgarfield/Bonobo-Git-Server/issues/483#issuecomment-188206434 2nd paragraph

AD membership with Form + cookie makes no sense because at first login you need to auth. If you do that with forms you must have a password to check against in the DB which you don't. AD does not provid

[2016-02-28 07:34] RedX2501 commented on #486
The posted configuration does not agree with the trace you posted above. The trace is complaining about not being able to connect to the SQLServer while that configration says to use SQLite....

Are you sure you have posted the correct things?

[2016-02-28 07:39] willdean commented on #483
You can currently, in the current code, use form+cookie auth to log in to an AD membership system.  The ADMembershipService does this by asking the AD server to validate the password.

[2016-02-28 07:43] willdean commented on #489
Ah right, I'll see if I can work out how subgroups work / what they are.  The AD store is just a list of xxxModel objects so it hopefully isn't too far from what the EF store can do.

[2016-02-28 08:10] willdean commented on #483
I wonder if the confusion here is because we're talking about three concepts with two terms.  The three considerations are:

1. How we populate the database which we always need for authorization decisions and sometimes need as a password hash store.
2. How the Bonobo server app decides if someone is authenticated
3. How the client sends credentials to Bonobo

So, 1 is either internal (enter them

[2016-02-28 08:13] RedX2501 commented on #489
We could make AD derived from some base and only override the group functions. Or teach Bonobo about subgroups.

[2016-02-28 08:14] RedX2501 commented on #483
I know about cookie + ad, and as i tried to explain above i think this is a misconstruct which should not exist.

Is it really so important to not get the pop-up but instead have a form on the page?

[2016-02-28 08:21] RedX2501 commented on #483
@willdean  Are you trying to understand how it current works or how it should be?

In post https://github.com/jakubgarfield/Bonobo-Git-Server/issues/483#issuecomment-189814260 I'm trying to explain how i see it after the refactoring. Independently of what we have now. I'm trying to find new names so we can keep some distinction.

Is the distinction in my post unclear? Or have it made it too hard t

[2016-02-28 08:30] willdean commented on #490
Tools like nlog have logging levels which can be set in web.config.  So you add as much logging to the app as you like, at various levels (from errors to warnings to info to very noisy debug level) and then the user can turn the level up to suit in web.config.  The proper log frameworks also do stuff like log file rotation, so that you can keep just the last month's logs, etc, without having to wr

[2016-02-28 09:15] willdean commented on #483
Ahhh.  I have misunderstood you as saying 'we can't offer form login with AD membership' because it's hard/impossible in some way, whereas you're actually saying we do have it but should drop it because it's unnecessary.

I guess that's not for me to say, really - it's a policy decision about the project which I don't feel able to make.   My position was only 'here's all the functionality we have,

[2016-02-28 09:26] RedX2501 commented on #483
The git part is problematic. I guess currently it is only working out of sheer luck because people doing Federation Auth are using ADMembership, or Windows Auth. If they changed to Internal they won't be able to login. @stupiduglyfool can you verify this?

[2016-02-28 09:45] willdean commented on #483
I don't think anyone could do federation with internal membership, because then they'd need to manually copy all their users out of the AD database which ADFS is using into the internal database.

[2016-02-28 12:53] #472 closed

[2016-02-28 12:53] #466 closed

[2016-02-28 17:16] willdean commented on #471
I'm closing this, because I think #488 fixes/avoids it

[2016-02-28 17:16] #471 closed

[2016-02-28 17:32] willdean commented on #368
@stupiduglyfool If you have a moment, could you please try the code in master - this now uses the claims we experimented with here, and the built-in Guid/base64 translation.  In addition, we should be able to cope with the username arriving in UserPrincipleName instead of Name, so that's another mapping which might look a bit simpler.

[2016-02-29 17:13] askasok commented on #390
Unfortunately I have to stick to released versions only (work policy).

Any chance of releasing this fix soon?

Thanks.

[2016-02-29 17:25] RedX2501 commented on #390
Can you at least try it out on a dev server? Because it would be a shame to put out a version and not have it fixed.

[2016-02-29 17:54] askasok commented on #390
Good point. I will try it this week and report back.

[2016-02-29 19:16] willdean opened #491 "Repository Permissions"
At present, `IRepositoryRepository` has a method called `GetPermittedRepositories`, which is used by `RepositoryController` to get a list of repositories that the specified user is allowed to view - this is used to populate the index view (and @RedX2501's new pull-down list).

This method was semi-duplicated between AD and EF, but I combined them last week, so there's currently only one version of

[2016-02-29 19:35] cerberoades commented on #486
Yes, I'm totally sure. I just download the Bonobo Git Server, I made the configuration, when I use the initial credentials username:admin password:admin the log file contains this line:

`Native library pre-loader is trying to load native SQLite library "C:\inetpub\wwwroot\Bonobo.Git.Server\bin\x64\SQLite.Interop.dll"...`

and a few seconds after the log file show me this
[Bonobo.Git.Server.Errors

[2016-02-29 20:09] willdean commented on #486
Don't worry about the  "Native library pre-loader is trying to load native SQLite library ..." bit - it's not an error, it's just something that the Sqlite interface writes to the trace stream and which gets swept up into the log.

If you do download the source, then you may well find that either it works OK, or that at least it has more information in the log file which could help us help you.

I

[2016-02-29 22:32] willdean commented on #491
I think we need a 'Create' permission too.

[2016-02-29 22:57] cerberoades commented on #486
Hi @willdean , here the answer to you questions:

Q: What version of Windows/IIS and .NET framework is on the machine?
A: Microsoft Windows 7 Professional SP 1 x64; IIS 7.5; .NET Framework 4.

Q: Does this machine run any other IIS applications?
A: No, it doesn't. I've install IIS only for Bonobo Git Server.

Q:Could you possibly already have a cookie set for the domain which Bonobo is running on?

[2016-03-01 01:43] RedX2501 commented on #486
If you do have the new version, please dump the contents of
/home/diagnostics here please.

[2016-03-01 05:24] RedX2501 commented on #491
I am absolutely in favour of having only one function that does permission checking.

I'm fine with the levels you propose.

Why do we need a `CreatePermission` function? Or is it supposed to be more like a `RepositoryAccessLevel GetPermissions(user_id, repository_id)`?

[2016-03-01 09:19] RedX2501 commented on #483
It's the same as windows auth with internal. On first login the user is then added to the internal DB.

[2016-03-01 13:06] willdean commented on #491
@RedX2501 The bit about 'Create' was me thinking that you need to be able to ask for permission to create a repository, so the levels would be 'Administer', 'Push', 'Pull' and 'Create'.

However, I've thought about this more since, and it doesn't make sense to have a method which takes a repositoryId guid which you ask for permission to create a new repository.

It would probably be a good idea to

[2016-03-01 13:47] RedX2501 commented on #491
Ah ok.

Permissions are definitely not numbers and as such should not have mathematical operations applied to them. Only logical (maybe).

Looking forward for the PR.

[2016-03-01 15:10] willdean commented on #491
I tend to try to imagine the worst possible perversion that fellow OSS authors could visit upon my carefully-crafted beautiful-to-behold code, then I'm not unduly disappointed when the reality turns out even worse :-)

[2016-03-01 15:20] cerberoades commented on #486
@RedX2501  I have the version 5.1.1 and I don't see any /home/diagnostics folder.

[2016-03-01 15:23] willdean commented on #486
@cerberoades Can you try the version @cerberoades linked to in the second comment on this issue?

[2016-03-01 20:22] cerberoades commented on #486
The problem continue. The same error in the log file.

[2016-03-01 20:39] willdean commented on #486
@cerberoades With the new version, can you go to the page `http:<your server>/home/diagnostics` and send us the contents of that page.

[2016-03-02 05:19] chrismdev opened #493 "Github pull requests"
I was trying to find a thread where I could vote on adding a Github style pull request feature to Bonobo.

So here is my +1 for that feature.

Can anyone elaborate on what would be required so I can try and have a go at it?

[2016-03-02 05:26] RedX2501 commented on #493
I don't think we should go down that road. if anyone wants any fancier features he should in my opinion move to GitLab/Gerrit or similar.

IMHO Bonobo should stay what it is. A simple way to provide access to repos on windows using WindowsAuth/Federation. That is the primary reason i chose it over the other products.

I also feel like closing all the other feature requests for not allowing commit

[2016-03-02 09:06] willdean commented on #493
I reckon this kind of strategic product direction decision is above my pay grade, but I think on a practical level the project doesn't really have the resources or direction at the moment to attempt to build a replica of GitHub even if we wanted to.

As @RedX2501 says, the way Bonobo could differentiate itself would be by having a great Windows story - easy install + configure, reliable + secure,

[2016-03-02 15:39] #491 closed

[2016-03-02 22:34] chrismdev commented on #493
Fair enough. Will close this then.

[2016-03-02 22:34] #493 closed

[2016-03-03 07:19] sgosulazc opened #494 "Is there any way to get actual git username in server side hook and client side hook?"
We have $(git var GIT_AUTHOR_IDENT) adn $(git var GIT_COMMITTER_IDENT) commands but by updating the repository settings users can give fake these values.

Do we have any option to get actual authenticated username?

[2016-03-03 07:51] RedX2501 commented on #494
We provide the variables `AUTH_USER` and `REMOTE_USER` as environment variables on the server side.

Are they enough for you?

[2016-03-03 10:09] sgosulazc commented on #494
That's great! Thank you.

[2016-03-03 10:12] #494 closed

[2016-03-03 13:15] sgosulazc opened #495 "Do we have any option to read user group name or user roles in git hooks?"
We would like to restrict users to delete remote branch based on user role/ users belong  to a group.

Can we read that information from git server side hooks?

[2016-03-03 13:29] RedX2501 commented on #495
Unfortunately not (yet)

If the user belongs to multiple groups, would a`,` separated list in a environmental variable be fine?

[2016-03-03 13:36] sgosulazc commented on #495
Yes, that might help us. how to get the list of groups for a user?

And do we have any function similar to getpwuid in perl?

[2016-03-03 13:40] RedX2501 commented on #495
There is no way yet. We need someon to implement this feature.

You can write the script for your hook in any language.

I'm no familiar with getpwuid in perl. What does it return?

[2016-03-03 14:04] sgosulazc commented on #495
It will return user information like name, password, group ect.

I heared bonobo will maintain a database, can we read data from that database in hooks?

[2016-03-03 14:13] willdean commented on #495
@RedX2501 may know better than me, but my guess would be that in the hook, you're quite a way from the Bonobo process, and it would be difficult to provide services to that (I guess we could have an HTTP API).   It's easy to populate environment variables though, so the hook could be provided with everything that the database contains _about the current user_.  Would that be enough?

[2016-03-03 14:31] RedX2501 commented on #495
There is not much to get from the database, you cannot read any passwords (because they are hashed and salted). The only other piece of interesting information might be the email address of the user.

What exactly are you looking for?

[2016-03-03 14:46] willdean opened #496 "EF 6.1 and the SqlServer AddColumn"
I happened to notice that the tests project was using EF6.0, while the main project was using 6.1.3.
For neatness, I updated the test project to use the same version as the main app.

Unfortunately, this caused all the SqlServer unit tests to break in `AddGuidColumn.CopyUsers()` with the exception "There is already an open DataReader associated with this Command which must be closed first."    It

[2016-03-03 15:09] RedX2501 commented on #496
Why do we have an open reader there? I always thought we'd use the same reader for all operations.

I think copying the tables into memory is fine. I don't think we'd ever have gigabytes of information in the db

[2016-03-03 15:15] sgosulazc commented on #495
We would like to restrict the users based on their roles. I guess we will have this information in database, if we have access to DB from hooks, we can read that details and restrict users based on it.

[2016-03-03 15:17] RedX2501 opened #497 "New release"
I'd like that we set a date for the next release or an amount of improvements we want to achieve.

I also propose that we set the next number at 6.0.0 because we have changed the database and that makes it not backwards compatible.

I'd like to make the following changes for the new release

- [x] Move the linkify option from global to per repo.
- [x] Move the push option for anonymous repo from g

[2016-03-03 15:23] willdean commented on #497
I added #376, because I've already done it once, but I bottled-out because of concern about the permissions stuff, which I think is now sorted so I can rework this.

We should probably file issues for each outstanding thing and tag them 'For 6.0.0' or something, so that we can look like we'd doing stuff like a proper project :-)

[2016-03-03 15:25] willdean commented on #496
I think the reader is created by the _db.SqlQuery call, and we're in the middle of a foreach, attempting to do a ExecuteSqlCommand for each iteration.

[2016-03-03 15:32] RedX2501 commented on #497
You can try the milestone feature of github.

[2016-03-03 15:38] willdean commented on #439
I think I know what this and can test it here, so I'll have a look

[2016-03-03 17:42] RedX2501 commented on #495
I propose that we add an export to the roles and groups of the user making the commit through an environment variable.

Is this a viable solution for you?

[2016-03-03 22:04] hmmwhatsthisdo opened #499 "Admins aren't explicitly granted login privileges"
As it stands, when using the AD membership service, users (or group members) who are designated as administrators but not delegated user permissions are unable to log in.

For example, if two AD groups - GitUsers and GitAdmins - had users UserA and UserB / UserA and UserC, respectively (with role mapping as hinted by the group names), UserA would be able to log in but UserC would not.

[2016-03-03 22:34] hmmwhatsthisdo opened #500 "Rework Contributors/Administrators Permissions Dialog"
Currently, the Contributors/Administrators permissions dialog is two checkbox-lists with identical contents.

It would likely be better if these two lists were zipped together, with the checkboxes on the right-hand side a la the Windows file permissions dialog.

Moreover, the current list is not sorted in any meaningful fashion. Sorting names alphabetically by first name or by last name with "Last

[2016-03-03 23:13] willdean commented on #500
I'd say that the combining the lists might not make it for the next release, but the sorting should be easily fixed.

[2016-03-03 23:15] hmmwhatsthisdo commented on #500
What about doing "Last, First"-style display/sorting?

[2016-03-03 23:17] willdean commented on #499
I'm assuming you're reporting this against 5.1.1?  This may have been fixed in master, because there's been an enormous amount of work on permissions and fixing problems in the AD code.

I don't think we intend that there is any right available to an 'user' which is not also available to an 'admin'.

[2016-03-03 23:18] willdean commented on #500
The current master displays 'Display Name', which is constructed from "GivenName Surname" - we can definitely sort that on Surname without any problem.

[2016-03-03 23:24] hmmwhatsthisdo commented on #499
This was after upgrading to a build from master commit d012d5279f48f12b7b45f33e9ad6ac3eee7d50ee. I didn't keep track of what master commit build I upgraded from (whoops!), but I believe it was from around 2/19.

What I did notice was that after I upgraded, I iterated through all of the ADBackend\Users\*.json files - none of the users in the admins groups actually had JSONs for their accounts.

[2016-03-03 23:29] hmmwhatsthisdo opened #501 "Git Admins shouldn't need to mark their own accounts as repo administrators when editing permissions"
Right now, when a server-wide admin opens the Edit dialog for a repository, they have to tag their account as an administrator within the administrator list for that repo in order to be able to save changes. Not doing so throws the error "You can't remove yourself as an administrator".

This seems a bit counter-intuitive, as it shouldn't matter whether or not a server admin is an admin over a spec

[2016-03-03 23:33] #496 closed

[2016-03-03 23:33] hmmwhatsthisdo commented on #500
Alright. Would it also be possible to fall back to the AD displayName and/or userPrincipalName attributes if the given/surname are both blank? (One of our admin accounts only had a displayName attribute set in AD and showed up on Bonobo with a blank name)

[2016-03-03 23:37] willdean commented on #500
The difficulty with taking DisplayName from AD at the moment would be where to store it within Bonobo, because we don't have a DisplayName field in the internal structures.  (This could be fixed at some point)

Falling back to Username (which would be the UserPrincipalName on an AD user) for DisplayName is a good idea, because showing a blank is completely hopeless.

[2016-03-03 23:40] hmmwhatsthisdo commented on #500
Using the userPrincipalName attribute would work fine. (Perhaps, once storing the displayName attribute attribute is possible, it would be worth it to show the uPN on hovering over a username so people with multiple accounts can distinguish between them easily)

[2016-03-03 23:53] willdean commented on #499
OK, I've had a look at it, and the AD importer is pretty clearly designed to work like this:

* _Everyone_ who is visible to Bonobo should be in the 'Members' group (including all the admins)
* People in the admins group are given the role of Administrator

Given that's how it's intended to work, how much of a problem is it for you to live with that?

[2016-03-04 00:09] hmmwhatsthisdo commented on #499
I'll need to talk with our the people who actually manage our OU (sadly, I'm not important enough for that) but I would imagine it won't be an issue.

[2016-03-04 00:14] willdean commented on #499
OK, I'll close this for now, let us know if it turns out to be a show-stopper.

[2016-03-04 00:14] #499 closed

[2016-03-04 00:16] willdean commented on #501
Yes, this is overzealous checking on the part of the form - the permission layer lets a system-admin do everything anyway, as you say there's no need for it to be burnt into the repo record too.

[2016-03-04 00:45] willdean commented on #501
@RedX2501 I think there are two checks here which are not strictly necessary:

1. There's a requirement in RepositoryDetailModel that a repo has to have an admin, which seems to me unnecessary, given that you can just be a sys-admin and administer everything anyway, and the one bad situation, (which is a repo-only-admin removing themselves from the repo) is caught by the 'don't remove yourself' be

[2016-03-04 01:05] RedX2501 commented on #500
Yeah i definitely wanted to show the username when hovering but i found out no easy way of doing that with mvccheckboxlistfor do i left it for later

I thought i had sorted it by first name but maybe it got lost in refactoring.

I'm no big fan of last, first. That is an American thing. We should make it configurable.

[2016-03-04 01:09] RedX2501 commented on #501
Nope go for it.

I always found that rule strange anyway.

[2016-03-04 02:35] #479 closed

[2016-03-04 02:37] RedX2501 commented on #436
Same as #304

[2016-03-04 02:37] #436 closed

[2016-03-04 02:40] RedX2501 commented on #277
Use git commit hooks for that.

We provide `AUTH_USER`, `REMOTE_USER` and on the next release `AUTH_USER_GROUPS` and `AUTH_USER_ROLES` via environment variables.

[2016-03-04 02:40] #277 closed

[2016-03-04 04:16] sgosulazc commented on #495
Yes, that perfectly make sense.

[2016-03-04 07:16] #255 closed

[2016-03-04 07:16] #281 closed

[2016-03-04 07:16] #434 closed

[2016-03-04 19:30] cerberoades commented on #486
[GITHUB.txt](https://github.com/jakubgarfield/Bonobo-Git-Server/files/159264/GITHUB.txt)

[2016-03-04 20:31] willdean opened #506 "BinaryGUID=False needs to be detected/enforced."
It's well established that for the guid update you need to have BinaryGUID=False; in the sqlite connection string, otherwise bad things happen.

I am thinking that we need to detect/enforce this before/during the AddGuidColumn update when people start upgrading to 6.0.0, because otherwise we could end up in a world of misery if people hang on to their existing web.configs.

Either that or fix the

[2016-03-04 20:41] willdean commented on #486
@cerberoades Thanks for that.

Can you please look in the web.config for the bit which mentions `runAllManagedModulesForAllRequests` and change it to look like this:

[code]

Please let us know if this makes a difference.

I am following this Stackoverflow post, which seems to describe your situation:

http://stackoverflow.com/questions/10663555/remove-asp-net-membership-and-roles-provider

[2016-03-05 02:15] RedX2501 commented on #506
:+1:

We can ask the connectionstring of the EF framework if it contains the appropriate string.

[2016-03-05 11:08] RedX2501 commented on #497
Closed in favour of the milestones.

[2016-03-05 11:08] #497 closed

[2016-03-05 11:31] RedX2501 opened #510 "Provide a way to query the database by git hooks"
Originated in #495

It might be interesting to provide some form or REST to query the database from a git hook.

IMHO this should check if the request is coming from the same host. This way we might not need to have authorization on it.

What do you guys think?

[2016-03-05 11:35] RedX2501 opened #511 "Update readme.md for release"
We should add about the dangers of the update since many fields in the DB will be changed.

[2016-03-06 17:31] #376 closed

[2016-03-06 18:46] jakubgarfield commented on #493
Sorry guys I was away without any internet access - I agree here with @RedX2501 that Bonobo should stay really simple and with @willdean that it should provide really great Windows story with the integrations that other products don't have.

Thinking really longterm - features like PRs and Issues would be awesome in a form of extensions installable to the git server - but the system wasn't written

[2016-03-06 18:51] jakubgarfield commented on #497
Having milestones is a great idea! :+1:

[2016-03-06 21:41] #501 closed

[2016-03-06 21:56] willdean opened #513 "Integration Test Improvements"
This is not critical stuff for 6.0.0, but just up for discussion:

The new integration test framework is great, and was an enormous amount of work for @RedX2501, but it's currently taking me 5x as long to get the tests working as it does to write the code that I'm writing the tests for.  We've (i.e. @RedX2501 has) made loads of improvements in this regard already, but here's my suggestions:

1. In

[2016-03-06 22:27] willdean commented on #439
OK, I can't repro this in either 5.1.1 or in the current head.  We'll have to work with @ecocquerez once he's tried some more recent build.

[2016-03-07 03:10] RedX2501 commented on #513
Sounds reasonable. We should define what the default content should be. I'm also in favour of having to give it an username+password (ether on the URL or basic auth) just in case.

[2016-03-07 07:07] willdean commented on #513
OK - I'll have a think about this - I think there might be some MachineKey technique we could use to make 100% sure that the request came from the test framework on the machine

[2016-03-07 08:23] #506 closed

[2016-03-07 16:26] cerberoades commented on #486
@willdean , the modification in the web.config work perfectly. Thank you so much. This was my only modification inside the web.config file:

`<modules runAllManagedModulesForAllRequests="true">
      <remove name="RoleManager"/>
    </modules>`

Maybe this will be a help to someone.
Environment: IIS 7.5 Windows 7 x64
My web.config:
[web.config.txt](https://github.com/jakubgarfield/Bonobo-Git-Serve

[2016-03-07 16:36] willdean commented on #486
@cerberoades Excellent - thanks to Stackoverflow - and thanks for letting us know - I'll commit that as a mod to the standard code, because it's harmless to everyone else.

[2016-03-07 16:54] #486 closed

[2016-03-08 12:23] RedX2501 opened #515 "Normalize operations of the Get functions"
The Get{repo, user, team} functions will throw when using Guid and will return null when used with string. This should be normalized to returning null.

This makes writing code that checks if the repo/user/team exists easier to write since the typical usecase is to check if the input from the user is good.

[2016-03-08 12:47] willdean commented on #515
In what circumstances would you have an invalid Guid for a repo/user/team?

[2016-03-08 12:53] RedX2501 commented on #515
It's just the use case:

You are dealing with front-end code, so you do
[code]
Now you are on the back end and you got a guid from somewhere
[code]
Until you exercise that code path there is no indication that the code you wrote is wrong.

And I think that to catch such silly mistakes unifying both would be a good idea.

[2016-03-08 13:04] willdean commented on #515
Hmm.  I see your point, although I'm not really sure where the some_foreign_guid might come from - why would we be writing validations of guids anyway?

I would like code like this:  `Repo.GetRepo(guid).Name` to be correct, with an exception being thrown in the unlikely event that the guid is unknown to the system.   If  GetRepo(guid) can return null, every time you use it you should be adding a

[2016-03-08 13:53] RedX2501 commented on #515
Yeah, mayeb we should do something like `bool TryGet("name", Model repo)`. I think this is very C# and would work for the string and make clear that it is different from just `Get`.

[2016-03-08 15:39] willdean commented on #515
:+1: I know some people don't like `out` parameters to functions, but I like the idea of following the .NET `TryParse` idiom, which is a really good approximation of what we're doing.

In practice, I don't think we'll really need the `Get(string)` method, because we want to validate those things from strings as early as possible in a very small number of places and then pass them around as Guids e

[2016-03-09 12:16] willdean commented on #513
I'm closing this, because we've done the main part of it, which was the reset.

[2016-03-09 12:16] #513 closed

[2016-03-09 13:13] willdean commented on #510
It would certainly be trivial to provide a GetUser call which returned a json version of a UserModel - as you say, if it was local-only then it doesn't seem much of a hazard.  We could also make it require a web.config setting and default it off, so people who wanted it would need to enable it.

I'm not convinced that it adds much value to #495 over what you've already done with the environment va

[2016-03-09 13:16] willdean commented on #500
I am wondering if we do need to address the sorting issue here, because we probably used to sort 'by accident' on username, which was reasonable, and now we sort 'by accident' on GUID, which is not really very helpful.

I am included to make GetAllUsers sort on the SortName property I added in #503 - any thoughts on this?

[2016-03-09 13:26] RedX2501 commented on #510
I think we can leave this open and see the amount of :+1:  it collects over time. I also don't think there is any urgency or great advantage in it now.

[2016-03-09 13:32] willdean opened #518 "Integration tests"
The Selenium-based integration tests are fantastic, and are an heroic effort by @RedX2501 - I think they're a great resource for raising the quality of the project.

However, they're incredibly slow, and even with the small number we've added so far, the Appveyor build is now taking about 15 minutes to run.   This is already starting to be an issue (it took hours this AM to clear the appveyor queu

[2016-03-09 13:34] #495 closed

[2016-03-09 13:36] RedX2501 commented on #518
There are things that are only testable with the Selenium tests. Other things, which don't involve javascript or authentication or pushing to repositories should definitely not be done via selenimu testing.

[2016-03-09 13:52] willdean commented on #518
Yes, I agree.  I guess the grey area is the division between:
1. Things which absolutely can only be tested in the full system
2. Things which can currently only be tested in the full system but could be tested separately if the code was better factored.

I think some of my stuff, like RepositoryCanBeSavedBySysAdminWithoutHavingAnyRepoAdmins and RepoAdminCannotRemoveThemselves is mostly in categor

[2016-03-09 14:08] RedX2501 commented on #518
Specsformvc did/can do nothing more then use the login form. Especially with Csrf protection in place.

The only thing that comes to mind is having a special login form that comes pre populated from a GET request. That should save considerable time as selenium types very slowly.

I particularly don't care too much if the integration tests take long to execute. But it might be better to have contro

[2016-03-09 14:16] willdean commented on #518
Ah right - I thought AuthenticateBeforeEachTestUsing might do something magic, but I never looked into it.   We could perhaps pass username/password using parameters on the get URL for the login form?

Anyway, you're probably right that the test time doesn't matter too much - particularly if we can get back to a place where they're a bit more reliable, which is hopefully close now.

[2016-03-09 14:26] RedX2501 commented on #518
Yeah i thought of passing Username, password, resetcode to the URL. If the request is local and the setting in web.config exists return the pre populated form.

[2016-03-09 14:32] willdean commented on #518
Yes, good idea.

I don't really know where all the time is spent in the tests - it would be nice to have a per-test time from appveyor/mstest, to see if some are particularly slow.

[2016-03-10 05:10] #511 closed

[2016-03-10 16:12] RedX2501 commented on #129
Done in version 6.0

[2016-03-10 16:12] #129 closed

[2016-03-10 16:42] RedX2501 commented on #304
@willdean I think not. That should pretty much cover it. Should we add this to 6.0?

[2016-03-10 16:44] willdean commented on #304
I guess it's about two lines of additional action method to provide a set of data into the existing view, plus a link to it from somewhere.   Like you say, why not do it now - it's low-risk.

[2016-03-11 02:16] RedX2501 opened #519 "Run tests with other configuration settings"
It would be nice if we could run the tests with different settings for MembershipService and AuthenticationProvider.

I'll expand the tests so we can skip tests which will not work with some of these settings.

It would be nice if we could add the combinations we would like to test and who can test them.

- [ ] Internal DB with Forms - AppVeyor
- [ ] Internal DB with Windows Auth - Redx
- [ ] AD w

[2016-03-12 09:59] willdean commented on #519
I set up an AD server here for playing with the AD code, so I might be able to run AD tests, though whether I still will in a year's time, who knows.

One thing which would help with this sort of testing is to decide on a standard set of users/teams, which is common to all the tests, and is essentially a pre-condition for running the tests.    For the internal DB, this could be set up by a 'databa

[2016-03-15 02:55] RedX2501 opened #521 "Cleanup the routing table"
For #520 I needed to add an entry to the routing table. I noticed that we have many out of date entries in there.

We definitely need to clean the table up.

The question is are there any advantages in doing the routing using MVC attributes since we are using version 5.0?

[2016-03-15 06:05] zhouyongtao opened #522 "Whether it can support MSSQL ?"
HI，whether Bonobo-Git-Server can support MSSQL ?

[2016-03-15 07:05] RedX2501 commented on #522
What is the difference between MSSQL and SqlServer? We do support SqlServer.

[2016-03-15 08:19] willdean commented on #522
@zhouyongtao - Yes, Bonobo supports MS SQL Server - you just need to make sure you have the right connection string in web.config.

[2016-03-15 08:27] willdean commented on #521
I like attribute-routing for stuff which is used in a small number of places (like the GitController for example).  I've only ever used them mixed with a 'traditional' routing table, so I don't really know whether it would be good to replace everything with them, but I'm :+1: on introducing them for new stuff.

A related useful (perhaps!) task would be to review where URLs are being hand-assembled

[2016-03-15 08:28] #522 closed

[2016-03-15 17:22] KY4U commented on #521
Hello,

I believe my issue may be related to the routing table.  My installation is on an Azure webapp.  After pulling and publishing the latest code from 03/14/16 I'm getting 401 errors for urls that reference /info/refs?service=git-upload-pack

The problem is that the generated url contains only the webapp name and not the full url.  Here is an example:  https://mywebappname:80/git/my_repo.git/i

[2016-03-15 17:27] willdean commented on #521
Is this URL with the ?service= part on it coming out of a Git error message?

Can you paste both the error message and the Git URL which is on the 'Repository Details' page within Bonobo?

[2016-03-15 17:49] KY4U commented on #521
The incorrect url I'm getting from the error log directory in Azure.

HTTP Error 401.0 - Unauthorized
You do not have permission to view this directory or page.
Requested URL:  https://nccos-coastalscienceadmin-web:80/git/Powershell_MergeXML.git/info/refs?service=git-upload-pack

Repository URL: https://admin.coastalscience.noaa.gov/git/Azure-Powershell.git

Basically when I attempt to get to /Rep

[2016-03-15 18:05] willdean commented on #521
@KY4U Sorry, I am really struggling to get a grip on what's happening here.

Can you confirm how much of this is true:

1. You've cloned a repository from https://admin.coastalscience.noaa.gov/git/Azure-Powershell.git
2. Cloning and pulling is OK, but when you try to push, you get an error from the Git client
3. You can't provide the error message from the Git client, but it corresponds to the Azu

[2016-03-15 18:29] KY4U commented on #521
Sorry, I made a typo in the last post.  I will try to clarify here.

Repository URL: https://admin.coastalscience.noaa.gov/git/Azure-Powershell.git

These errors occur when I am logged into the remote Git Server at https://admin.coastalscience.noaa.gov/git

When I attempt to get to the details page for the Azure-Powershell repo, I would click on this link:
https://admin.coastalscience.noaa.gov/git

[2016-03-15 18:38] willdean commented on #521
The 401 error in Azure is not caused by clicking on that details link in a web browser.  The 401 error is coming from a Git client attempting a push.   Nothing within the web interface ever generates that sort of URL with the service=git-upload-pack stuff - it's built-up by a Git client.

I think there are two unrelated problems here:

1. You can't get to a repository details page without getting

[2016-03-15 19:03] KY4U commented on #521
Thanks for the clarification.  I'll check my GUI to see if there is something going on there.

See attached file for error log.

[Uploading Bonobo.Git.Server.Erro
[partial_error_log.pdf](https://github.com/jakubgarfield/Bonobo-Git-Server/files/174617/partial_error_log.pdf)
rs.pdf…]()

[2016-03-15 21:06] willdean commented on #521
@KY4U - Thanks for the log - it reveals a problem in the master code at the moment in this respect - PR #524 should get you through this for now, if you want to merge that branch into your own code.

[2016-03-15 21:11] willdean opened #525 "AddRepoPushColumn sets column to invalid value"
I've just posted #524 to deal with a crash reported in #521 which was caused by an invalid enum value in AllowAnonymousPush.  I had thought this had come from some intermediate data in the database left over from partial updates, but I've now realised that it's coming from AddRepoPushColumn which sets the new column to '3', which is not a valid member of the associated enum.

I think this should b

[2016-03-15 21:26] KY4U commented on #521
Will, thanks again for taking the time to work through this.  I certainly appreciate the help, and the fix.  I'll let you know if I still encounter these issues.

Regards,
Kirk

[2016-03-15 23:58] RedX2501 commented on #525
The correct value should be Global. Sorry for that silly mistake.

I guess we never really test the update path in our automated testing.

[2016-03-16 06:26] willdean commented on #525
The upgrade path is called by all the membership unit tests, but there are no repos in the database when it's run, so this isn't tested.

[2016-03-16 11:15] #525 closed

[2016-03-17 00:53] jakubgarfield opened #529 "Update to GUID throws SQLite error"
When trying to run the project and update the latest schema I get an SQLite error.

[code]

it's in the AddGuidColumn.cs on SQL that starts at line 96.

[2016-03-17 00:54] jakubgarfield commented on #529
@RedX2501 do you want to have a look at it?

[2016-03-17 03:11] RedX2501 commented on #529
I have confirmed it and have created a patch. I'm trying to also create tests for the database update mechanism.

[2016-03-18 04:19] #304 closed

[2016-03-18 04:23] RedX2501 opened #532 "Why is the exception handler in Global.asax.cs guarded by a #if"
The title pretty much says it all.

Why don't we have it when debugging?

The problem with not having it when debugging is that all errors will automatically go to the error page instead of properly throwing in the views.

[2016-03-18 04:30] RedX2501 opened #533 "Implement semantic versioning from version 6.0.0 onwards"
The new release 5.2.0 should have been 5.1.2 according to semantic versioning.

I think we should use semantic versioning to make it clear from the version number alone what the implications of a new version might be.

The disadvantage of course is that we probably won't have version 312 in a few months like Firefox and Chrome like to do it.

http://semver.org/

[2016-03-18 18:58] willdean commented on #532
+1000 from me.  I always change that condition to be `true` - you still don't get the YSOD, because that needs a web.config change as well, but at least you get the exception written to the log.

[2016-03-18 19:01] willdean commented on #533
I thought the patch was going to be 5.1.2 too, though I don't suppose it matters (perhaps I run the only Bonobo 5.1.2 server in the world :-)

I've always understood semver was mainly talking about API compatibility - we don't have an API so would we just bump the major number when the database schema changes - i.e you can't expect to ever down-grade a major version, but you could downgrade a mino

[2016-03-19 14:04] anyeloamt commented on #311
Is someone working on this?

[2016-03-19 14:45] larshg commented on #473
Just a note - specsforMVC is released in a new version 4.7.2 where it doesn't throw on MSBuild not being found if you provide the path.

[2016-03-19 14:45] #473 closed

[2016-03-19 15:00] #532 closed

[2016-03-19 15:37] willdean commented on #311
I don't think anyone's doing this at the emoment, though the permissions stuff is quite clean now, and it shouldn't be too hard to add.  We're trying to get a 6.0.0 release finished at the moment, so we probably wouldn't take this immediately.

[2016-03-21 00:39] FreezyExp opened #535 "Using + in teamname causes blank pages using IIS"
I have a teamname with a + in the middle, which refuses view, edit, delete after initial creation.
Link shows %2b, replacing this with a + has no different result.

& and spaces (%20) work fine

Easiest solution would to to filter special characters on the creation pages (probably affects other parts that rely on user input name)

I have not found any related possible error logs

[2016-03-21 01:48] RedX2501 commented on #535
Thank you for the report.

We have changed how we handle all names in the upcoming release.

Please check back in some weeks for the 6.0 release.

[2016-03-21 01:48] #535 closed

[2016-03-23 10:54] chilversc commented on #500
My biggest problem with the admin/contributors list is it works at the individual user level, rather than roles or team.

This is a pain if you have multiple repositories with the same set of admins or contributors and the team changes (i.e. some one leaves/joins).

[2016-03-23 11:00] RedX2501 commented on #500
@chilversc I'm confused. At least on version 5.0 there are teams that you can use for that.

[2016-03-23 13:14] chilversc commented on #500
@RedX2501 yes, but even after assigning a team I still have to assign an administrator, and that is a specific user rather than a role.

[2016-03-23 15:52] chilversc commented on #419
I have the same problem, I think its due to [GitAuthorizeAttribute](https://github.com/jakubgarfield/Bonobo-Git-Server/blob/9bf349e0fcea641b3fe894e9c74a73d626858962/Bonobo.Git.Server/Attributes/GitAuthorizeAttribute.cs#L72)  being hard coded to serve `WWW-Authenticate: Basic` header instead of negotiating or using NTLM.

The [Git Credential Manager for Windows](https://github.com/Microsoft/Git-Cre

[2016-03-23 16:23] chilversc commented on #419
Another note from [git for windows](https://github.com/git-for-windows/git/wiki/FAQ#how-do-i-access-a-repository-hosted-on-a-microsoft-team-foundation-server-inside-a-windows-domain) says to prefix the url with `:@` (i.e. empty credentials) which causes curl to use the in-built authentication. So that's another possible trick to use if you're not using the windows credential manager.

This is effe

[2016-03-23 18:42] ChrissW-R1 opened #536 "No anonymous access possible"
I've installed the newest version (5.2.0) of this great software successfully. Everything works fine, but there's one error which is still present: I'm not able to connect to a repository without credentials in anycase (i.e. clone the repository). Every time I am asked to enter a username and password.
Seems like the "Anonymous" checkbox on the repository settings page have no effect.

I've seen t

[2016-03-23 21:51] willdean commented on #500
@chilversc In 6.x. you won't need to assign a repo admin if you're already system administrator.  At some point in the future there will probably be some kind of 'team administrator' too.

[2016-03-24 01:01] RedX2501 commented on #536
This will be fixed in the upcoming 6.0 release.

[2016-03-24 01:01] #536 closed

[2016-03-24 14:45] chilversc opened #537 "remember me doesn't"
When signing in I select "Remember Me". If I then close or leave the browser idle then when I return to Bonobo Git Server I'm no longer signed in. Looking at the cookies for the site their expiriy is set to session.

I'm using the cookies authentication provider and the internal membership provider.

[2016-03-25 14:21] RedX2501 commented on #537
Thanks for pointing this out. Can you provide a PR for this? Preferably with a test.

[2016-03-26 09:46] kbdavis07 opened #540 "Question: How to deploy a git Repository to Web Server?"
Hi,

This is a question.

Would like to know if this is possible.

Have Bonobo Git Server host a git repository on a Server.

When a push is made to the git repository it also publishes to a saved location to serve up as a website?

Like:

A git repo push located at :http://servername/YourDomain.git

On Push goes to the physical location:

E:\Spaces\Kbdavis07\YourDomain.com\wwwroot

On the same se

[2016-03-26 10:49] willdean commented on #540
This is how Bonobo works - the repositories are just ordinary Git 'Naked' repositories, which can reside on any volume that the Bonobo web application can access.

The only restriction is that all the repositories served by Bonobo have to be in subdirectories of the same directory - that directory location is then part of Bonobo's configuration.

[2016-03-26 12:46] RedX2501 commented on #540
You can write a git hook for this.

[2016-03-26 12:48] #529 closed

[2016-03-27 23:45] jakubgarfield commented on #533
I'm trying to stick to semantic versioning, but also when there is an important release, I bump the bigger number to emphasize it's significance.

Either way is fine, the only reason I went for 5.2 was probably that I thought of it as really important release.

[2016-03-30 06:58] alexkuznetsov commented on #540
@kbdavis07, you wrote about CI server. For this purpose, you can use TeamCity.

[2016-03-31 07:32] adimeus opened #541 "Repository Browser: viewing a branch other than 'master'"
I can use the repository browser just fine when going through the folders (and files) of a repository when the 'master' branch is selected, however, when selecting a different branch, the directory is reset back to the root folder of the repo. When selecting a subfolder again, the repo browser switches back to the 'master' branch and then displays the subfolder. Simply said: i cannot view any subf

[2016-03-31 13:15] #533 closed

[2016-03-31 15:30] spongessuck opened #542 "Can't edit users registered in older versions using Windows Authentication"
I have users that were registered using Windows authentication in Bonobo v3 & 4 and I can no longer get  to the user edit page in v5- I just get a 404 error. They're registered on an intranet computer and their account names are domain-style, like `server\username`.

[2016-03-31 16:02] RedX2501 commented on #542
This will Bew fixed in upcoming version 6

[2016-03-31 16:02] #542 closed

[2016-03-31 16:57] svermeulen commented on #342
Can anyone tell me what would be involved in supporting this feature?  I would like to take a look at contributing to this, since my organization will require this feature soon.  But before I dig too deep into it, I was hoping someone with more experience with Bonobo can point me in the right direction

[2016-03-31 17:42] willdean commented on #342
@svermeulen Here's the LFS API spec:  https://github.com/github/git-lfs/blob/master/docs/api/README.md

I haven't used it at all, even as a client.  It doesn't look too bad - what are your .NET MVC skills like?

[2016-03-31 17:55] svermeulen commented on #342
I know ASP.NET MVC pretty well, since I've been doing it on and off at my job for the last year.  And have been working in C# for ages.  I'll take a look at the API and see what I can come up with, thanks

[2016-04-01 17:31] svermeulen commented on #342
Yeah, after further googling, it looks like we would need LibGit2 to support git lfs first.  [This issue](https://github.com/libgit2/libgit2sharp/issues/1236) has more details.

[2016-04-01 19:55] #537 closed

[2016-04-01 19:58] willdean commented on #342
I'm not convinced that to support LFS just as a server involves much more than implementing the API in the GitHub docs, which I think is just about storing/fetching files at the request of a RESTish API.

I guess if we then wanted them to appear properly in the various web-based browsing parts of Bonobo, then that would need a lot more client support, libgit2, etc.

My suspicion is that there are

[2016-04-02 22:09] Skittluier opened #543 "503 error except localhost"
Hello,

I just tried to fetch my Git project from a remote device, but it seems that the service is unavailable.
I tried a lot of things, but it just doesn't seem to work.

I use a Windows Server 2012 with IIS 8.

Does anyone have a possible solution for me?

Thanks in advance.

- Skittluier

[2016-04-02 22:45] latop2604 commented on #543
Maybe this can be helpful : http://stackoverflow.com/questions/13322937/iis-http-error-503-the-service-is-unavailable.
Otherwise take a look into error log file in App_Data

[2016-04-02 23:05] svermeulen commented on #342
Ah yeah I see what you mean.  It looks like that's what [gitblit](https://github.com/gitblit/gitblit) did since their git backend (jgit) didn't support LFS either

[2016-04-03 14:10] Skittluier commented on #543
Thanks for your answer, latop, but it seems that when I only get one error after trying to fetch it and that is:

[2016-04-03 17:40] Skittluier commented on #543
I found a solution. The reason was CloudFlare.

I love proxy servers! <3

[2016-04-03 17:40] #543 closed

[2016-04-03 17:49] WisconsinWildcat opened #544 "New install, New Server = redirected you too many times."
Brand new virtual server. I think I followed setup to a "T", and this isn't my first rodeo. I have Bonobo working on two other servers, but this one hit me right off the bat.

There are no other web sites (yet) on this system.

Thoughts?

[2016-04-03 20:46] willdean commented on #544
Does IIS serve-up its default site OK?

There are about 9 million ways to fail to serve an ASP.NET site, so it's really hard to say exactly which one you've found.  Have you installed the latest version of .NET and done the .NET/IIS registration stuff?

Have you enabled serving static content and dynamic content, etc, in the Windows/IIS features?

[2016-04-06 01:39] WisconsinWildcat commented on #544
I think I have the latest version of .NET, but ... net/iis registration?  enabled serving static content? I may have, but I don't recognize it by those names.

[2016-04-06 01:48] WisconsinWildcat commented on #544
Static Content Compression and Dynamic Content Compression are installed.  IIS management console, iis 6 mgmgt compat, iis6 metabase compat all installed but the rest of iis stuff and iis6 stuff is not, nor is iis hostable web core.
![servermanagerroles1](https://cloud.githubusercontent.com/assets/7716691/14303374/af68daba-fb6f-11e5-8572-d7490795f630.png)
![servermanagerroles2](https://cloud.githu

[2016-04-06 08:43] NubCoda opened #545 "Commit page throwing error"
Hello there,

I am having problems viewing commits in my repository with the bonobo git server version 5.2.
It is a clean installation on a windows server 2012. When I open the commit page of the repository I get an error message.

I checked the error log file but don't know what it is about. The message is the following

_w3wp.exe Error: 0 : Error occured and caught in Global.asax - System.Reflec

[2016-04-06 08:52] RedX2501 commented on #545
Does this solve your problem? http://www.sitefinity.com/developer-network/knowledge-base/details/this-implementation-is-not-part-of-the-windows-platform-fips-validated-cryptographic-algorithms-exception

Or this https://support.microsoft.com/en-in/kb/911722 ?

[2016-04-06 19:47] NubCoda commented on #545
Jeez. I wish I found that myself. I will check it and post a feedback tommorow.
Thank you for help, appreciated.

[2016-04-07 12:00] #545 closed

[2016-04-08 11:41] bnc-rainman opened #546 "global settings... Link Regex not working"
Hello,

which regexp engine is used for regexp link and url on global settings.

My regexp is working. The ticket number is underlined. But what´s the anchor replacement pattern in the url.  %1%, \1 and $1 are not working.

example:
regexp: #([0-9]{7})    -->  first anchor: [0-9]{7}
url: http://myurl/index.html?ticketid=$1   --> not working

Best regards

[2016-04-08 13:38] bnc-rainman commented on #546
In my oppionion it would be nice to use the .NET Regular Expression Synthax instead propriatier String.format Synthax, because you can use the full power of regular expressions. Also in my case report the server an exception on usage of 'http://myurl/index.html?ticketid={1}'  as url parameter.

**Suggestion: File: [Controllers/RepositoryController.cs](https://github.com/jakubgarfield/Bonobo-Git-Se

[2016-04-08 21:19] RedX2501 commented on #546
This has been improved for version 6. I'll check if i added a proper description.

We already use the default .net regex lib. Only the behavior was not very intuitive.

Thanks for the feedback.

[2016-04-12 06:48] sgosulazc opened #547 "Typeahead feature in Create/Edit Repository page"
Hi Team,

I would suggest typeahead feature for Users, Administrators and Teams in Create/Edit Repository page. It would help users a lot.

I will contribute to accomplish this.

[2016-04-12 06:55] RedX2501 commented on #547
Do you mean to indicate if the name you are choosing already exists? As soon as the box looses it's focus it will tell you in the upcoming release 6.

[2016-04-12 08:55] sgosulazc commented on #547
Here are more details about what exactly I mean to say

1. We will add a text-box and a button each element(Users, Administrators and Teams)
2. We will show assigned Users below to the textbox
3. Whenever a user enters a text in text-box, we will populate the matching names as a drop-down
4. User can select a user from populated values and can click on button to assign

[2016-04-13 08:32] wc-matteo commented on #214
I have the exact same problem (on the same Windows version) and it didn't resolve itself with a restart. I tried anything (including using the very latest bits) with no success.

[2016-04-18 04:55] danielthaller opened #548 "Lost Groups and Description of repositories after Upgrade from 4.0.0.0 to 5.2.0.0"
After Update Bonobo GIT Version 4.0.0.0 to 5.2.0.0 and Operatingsystem Upgrade to Server 2012 R2 we have lost Groups and Description of repositories. Bonobo Server Show only "Discovered in file System.

Thanks in advanced.

Daniel

[2016-04-18 06:41] RedX2501 commented on #548
I'm guessing that you did not properly backup your App_Data folder but only
your Repositories folder. Is that right?

Can you tell us your exact update steps?

[2016-04-18 17:52] sgosulazc commented on #547
Hi RedX2501,

Please share your views on this. I hope this help a lot to people

[2016-04-19 06:10] danielthaller commented on #548
I have backup \App_Data\Repositories and \App_Data\Bonobo.Git.Server.db because i switched to a other server.

Upgradeprocess:
- Save \App_Data\Repositories and \App_Data\Bonobo.Git.Server.db
- download new Version and unzip this,
- copy into wwwroot (this is not located on default folder (F:\wwwroot\Git)),
- modify webconfig for AD Login,
- copy saved  \App_Data\Repositories and \App_Data\Bonobo.

[2016-04-20 07:54] RedX2501 commented on #548
Is this reproducible? If it is can you post your DB file?

[2016-04-20 07:55] RedX2501 commented on #547
This sounds very nice. If you create a PR in the next few days we might add it to 6.0.0.

Did you create tests for this new feature?

[2016-04-20 08:36] #546 closed

[2016-04-20 10:48] sysshad opened #552 "[request] Create branches in web interface"
As it stands now, i have no idea to create branches on the server. I guess one must (read can) do it through the git bash, but im using visual studio 2015 and it would be nice to be able to just connect to an added etra remote branch there - or even push a local branch up to the repository - which cant be done now.

[2016-04-20 10:52] sysshad opened #553 "[bug] Visual Studio 2015 connectivity"
Seems one needs to use the git bash to make Visual studio 2015 work together with current version of git server.

This i how i do it:
1) Create repository through the web interface
2) Create a visual studio project locally
3) Choose add to source control
4) add the  http://adress/myfirstrepository.git as a remote host.
5) ERROR -> then when i try to sync to the remote i get info about some missing

[2016-04-20 10:55] danielthaller commented on #548
I have found the Problem, we use the new active directory integration. The groups and description would be stored in .json file and not in db file.
I have modifyed all my repositories by hand and now description and Groups would be shown.

[2016-04-20 10:55] #548 closed

[2016-04-20 12:04] LennardF1989 opened #554 "[Inquiry] Single Instance - Multiple Domains"
I recently moved a server from one to another location, and while cleaning up, I noticed I had 3 versions of Bonodo Git installed, all different versions and all their repositories separated per project, but with one common user: me, alongside the other project users.

This got me thinking: Why not have a single instance of Bonodo Git, which will serve content based on the incoming domain?

The re

[2016-04-20 13:56] RedX2501 commented on #552
Same as #284

[2016-04-20 13:56] #552 closed

[2016-04-23 21:26] CrispinF opened #555 "Web UI loses repository image on editing"
When I edit the properties of a repo in the web ui, it loses the image I previously set for the repo, and I have to load it again every time. Is there something wrong with my setup, or is this a bug?
I am running 5.2.0.0. on Server 2012 with Windows Authentication.

[2016-04-24 10:51] RedX2501 commented on #555
I'm not able to reproduce this with the latest master.

I tried:

1. Edit existing repo
2. Set image
3. Go to repo listing page. See logo there
4. Edit repo description
5. Go to repo listing again. See image still there.

Can you tell us exactly what you do?

[2016-04-24 11:30] CrispinF commented on #555
1. Repo has image in list.
2. > Edit (from the list, or go to details then edit).
3. No image is present ("No file chosen" is displayed next to the "Choose file" button).
4. Save (without adding image again).
5. No image shown for the repo.
If at step 4 I use "back" button or browser back, the image stays in place.
Is it possibly relevant that my installation folder is not under inetpub? Also the

[2016-04-24 11:50] RedX2501 commented on #555
Can you try this version and tell me if it still happens?

**Please backup your App_Data because this version will update your DB.**

https://ci.appveyor.com/api/buildjobs/id35m3y3unj6r4lr/artifacts/bonobo-git-server-3303383-df1884dbdbdd5852e00fa0eb646c5441543ba61f.zip

[2016-04-24 13:27] CrispinF commented on #555
Sure will do - I've not upgraded a running installation before - do you want me to replace only the \bin files? Or should I drop everything in then replace my web.config after?

[2016-04-24 14:11] RedX2501 commented on #555
Use the regular upgrade instructions.

Backup we.config and the App_Data folder.

Unpack the zip then copy web.config and app_data folder into that.

[2016-04-24 16:07] CrispinF commented on #555
I "upgraded" with the version you sent.
First I got errors, and after checking the log, added this to the SQLite conn string... BinaryGUID=false; and the site then loaded ok.
Then, even though I copied back my App_Data folder last, my repositories were all listed as "Discovered in file system." All previous images and repo descriptions gone. Also user permissions are all gone. I then deleted all c

[2016-04-24 16:16] CrispinF commented on #490
The existing logging does not write the date/time of the error. That would be extremely helpful (actually essential for most troubleshooting in a multi-user environment).
I would also support switching to a more full-feature logger like NLog.

[2016-04-24 16:18] RedX2501 commented on #555
I'll update the version string to read 6.0.0, thank you for reminding me of that.

You are getting the Json error because we converted from using usernames as unique identifiers to GUID. Deleting the contents of the ADBackend folder within the App_Data folder should get rid of that message. I'll need to fix that for the release. That folder gets populated with information from your Active Director

[2016-04-24 16:21] CrispinF commented on #555
Thanks, I'll be happy to try again if I can retain previous metadata.

[2016-04-24 16:23] RedX2501 commented on #555
Can you try and see if the image stays? That should be independent of the settings.

[2016-04-24 16:39] RedX2501 commented on #555
@willdean I'm not quite sure where this update problem is coming from. It sure is similar #548. I think that change  ecb8334 introduced this problem. We need to handle the change from string to GUID when updating for the JSON DB. Any idea on how to properly do it? Do you think deleting the whole folder is ok?

[2016-04-24 19:04] CrispinF commented on #555
@RedX2501 the images were certainly not there in the earlier attempt, but I imagine that is because all the repo metadata had gone. I will wait to hear more before trying again.

[2016-04-24 20:10] willdean commented on #555
@RedX2501 I'm not looking at the code right now, but I'm not sure where the image details would be stored in an AD setup.  I think #548 is to do with the major AD changes between 4.x and 5.x, though I'm not really clear what was there before and what the whole motivation for the JSON cache/database was anyway.

I'll have a look at the code later or tomorrow and see how we can handle the upgrade be

[2016-04-24 22:02] CrispinF commented on #555
If it's any help, the URL for one of the repository images in our AD setup on 5.2.0.0 is
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEg(etc etc etc etc)

[2016-04-25 14:32] KY4U opened #556 "30 second page loads on Azure"
Hello,

I'm running version 6.0.0 in an Azure webapp with ~ 4 gigs of data in 100 repositories.  Unfortunately Azure page load times are consistent at 25-30 seconds.  I've tested the same code with the same data on our local web server and page load times at 4 seconds.

I'm not finding anything useful in the error log.  Here are the latest entries.
SnapshotHelper::RestoreSnapshotInternal SUCCESS -

[2016-04-25 14:44] willdean commented on #556
Is SnapshotHelper an Azure thing?  I don't think that's part of Bonobo

[2016-04-25 15:44] KY4U commented on #556
Hi Will,

It appears that the SnapshotHelper is an Azure thing.
[http://stackoverflow.com/questions/32253963/what-is-snapshothelper-on-windows-azure](http://stackoverflow.com/questions/32253963/what-is-snapshothelper-on-windows-azure)

I'm not seeing those entries on my local installation.
Kirk

[2016-04-26 12:18] KY4U commented on #556
Will,

I'm trying to tack down whether or not the SnapshotHelper is causing this issue.  In the mean time I have attached my error log file.  Perhaps you can find something in there that can point us in the right direction.

Thanks,
Kirk

[Bonobo.Git.Server.Errors.pdf](https://github.com/jakubgarfield/Bonobo-Git-Server/files/236536/Bonobo.Git.Server.Errors.pdf)

[2016-04-26 12:45] willdean commented on #556
@KY4U  I don't think there's anything useful in that log, and it's hard to tell if it's the result of an hour's running or a year's anyway.

I think it might be useful to look at which resources are slow to load - perhaps use something like the network view in Chrome developer tools and see if every item is coming in slowly or just a specific one.

* Can you view the /home/diagnostics in Bonobo pa

[2016-04-26 12:55] Benew commented on #74
Do you know how Bonobo usually settle conflicts?

[2016-04-26 12:57] RedX2501 commented on #74
Bonobo does not do any handling of conflicts. There is a regular git bare repository at the end which does all the handling. Regular git does not have any support for pull requests of any kind.

[2016-04-26 13:07] KY4U commented on #556
I apologize, I did not see the request to load the static file.  That png image loaded in 537ms.
When not logged in the login page [https://admin.coastalscience.noaa.gov/git](https://admin.coastalscience.noaa.gov/git) loads in ~ 15 seconds.  Most of the time it takes ~ 30 seconds.  Once logged in (forms based authentication) the Repository listing page loads in 26 seconds.  See attached image.
![c

[2016-04-26 13:13] RedX2501 commented on #556
I will try to create a testcase with many big repos and see where we are taking long.

Can you tell us how many user you have and what kind of authentication you are using?

[2016-04-26 13:22] KY4U commented on #556
We have 40 users.  Authentication is forms based using the Internal MembershipService.

Thanks again for looking into this.

[2016-04-26 13:32] willdean commented on #556
On every occasion I just loaded the login page, it took just over 10 seconds, which makes me wonder if there's something timing out there each time.

If you change the repo directory to point to somewhere with no repos, and rename/remove the user database, so that there are no users, does the delay change?

[2016-04-26 14:08] KY4U commented on #556
OK.  I've got a sandbox location where I have removed all the repositories.  Now the repository listing page show all those repos as "Missing".  Page load times are still the same.  What is the quickest way to remove the users.  I can copy down the db and remove users from the table if that's what you suggest.

[2016-04-26 14:12] willdean commented on #556
Just delete (or move or rename) the bonobo.git.server.db file in App_Data - when the app restarts it will create a new, empty copy.

[2016-04-26 14:19] KY4U commented on #556
Starting with no repositories, and removing the db, I reloaded the [sandbox home page ](http://nccos-sandbox-web-kly.azurewebsites.net/git) in 5 seconds.

[2016-04-26 14:28] willdean commented on #556
@KY4U  Yes, that's much faster here (much less than 5 seconds)

Obviously that's a different webapp instance to the one we were testing earlier.  Are you able to clearly see that "with DB = 10 seconds, without DB = almost instant"?

How big was the .DB file?
What size Azure webapp are you running?

[2016-04-26 14:33] KY4U commented on #556
This is a different web app. I had copied the code, db, and repos from the original webapp.  The sandbox response was the same as the original.  Once I removed the db the load was nearly instant.  Removing the repos did not make a difference in page load times.

DB size is 200kb.  Azure webapp is Standard Small in the Sandbox, Premium 1: Medium in the original webapp.

[2016-04-26 17:08] KY4U commented on #556
I came across some table differences between the newly created database and my current database.  See attached images.
![repository_table_differences](https://cloud.githubusercontent.com/assets/13239124/14827354/e58fef5c-0baf-11e6-8a75-91c2acc7c698.PNG)
![user_table_differences](https://cloud.githubusercontent.com/assets/13239124/14827353/e58ed7ac-0baf-11e6-952e-4da1b9eac18c.PNG)

[2016-04-26 20:42] Benew commented on #74
I was refering to the animal.

[2016-04-27 15:32] hypervtechnics commented on #544
I have this issue too. I installed it on a complete new Windows 7 computer... Strictly  after the requirements and installation tutorial.. But it's working on my main computer.

[2016-04-28 06:24] hypervtechnics commented on #544
Now it works. Installed TFS and it suddenly worked

[2016-04-28 08:26] mrloddo opened #558 "Bonobo 5.2.0 and Active Directory"
Hi all,
I've installed Bonobo v5.2 with Windows authentication and Internal Membership (it's complex to manage groups in my organization).

My principal issue is that Bonobo doesn't create any AD users on DB and I'm unable to logon. If I switch in cookie authentication I can only view Admin user.

Thanks in advance.
Marco

[2016-04-28 08:49] willdean commented on #558
Internal membership means the list of users come from Bonobo's database.   You can only make this work with Windows authentication if you (manually) arrange to have users in Bonobo's database which match the Windows users.

[2016-04-28 09:16] mrloddo commented on #558
So I did a mistake considering the AD User would created in the Bonobo's database. Just because in the previous version (at least 3.6) it was the expected behavior.

I have to presume I cannot use the following flags together without touch the Bonobo's database:
<add key="AuthenticationProvider" value="Windows" />
<add key="MembershipService" value="Internal" />

[2016-04-28 12:16] KY4U commented on #556
@willdean and @RedX2501 I wanted to let you know what I have discovered.

In my sandbox webapp, I pointed my repository setting path to an empty folder.  I removed the database and reloaded the login page.  Load time was very quick < 1 second.  Now we have just one user and no repositories.  I then changed the repository setting path to my existing repositories (~100).  Settings saved in < 1 secon

[2016-04-28 13:06] willdean commented on #556
@KY4U It just sounds like there's something about Sqlite (or the way we're using it) and Azure which doesn't get on well.  Bonobo is not very highly-tuned with regard to database efficiency, and perhaps it's doing something which interacts badly with Azure's rather unusual I/O arrangements.

If I get time, I can try to experiment with something here with my Azure account, but don't hold your breat

[2016-04-28 14:25] RedX2501 commented on #558
I do have the same arrangement and it works fine for me.

[2016-04-28 17:18] KY4U commented on #556
@willdean Is there some type of file system validation going on?  Meaning, once the repo data is in the database, does Bonobo check to see if the file(s) for the repo are there?

[2016-04-28 17:28] RedX2501 commented on #556
No, it only checks if the repo is still there (the folder).

[2016-04-29 07:09] mrloddo commented on #558
So this kind of configuration has to work.
is there a way to trace Bonobo code during the logon step? You have to consider that I've already tried to use WinAuth + AD Membership and the user are created correctly. But I don't have this configuration.

[2016-05-03 08:01] grayman001 opened #559 "Anonymous Access"
As per this thread https://github.com/jakubgarfield/Bonobo-Git-Server/issues/536 this I heard was being fixed in version 6. I have downloaded the latest version from https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/tests

I am still having issues getting this working? Is there another latest dev build that I can test?

I also found this link. https://github.com/jakubgarfield/B

[2016-05-04 04:30] sgosulazc commented on #547
Extremely sorry for the delayed reply. What is mean by PR, I am not aware of it.

Where should we create tests?

[2016-05-04 04:51] RedX2501 commented on #547
A PR is a push request. You can read more about it here https://help.github.com/articles/using-pull-requests/

Tests shoud be created in the Bonobo.Git.Server.Tests project. Actually i'm not quite sure what tests you need. It depends on your implementation. Maybe you can create your PR and there we'll discuss the tests.

[2016-05-05 00:47] chasemyaccord opened #560 "Setting up Git 5.2 with AD users in Local Groups"
We would like to set up our Bonobo Git Server to use Windows authentication and Active Directory membership (kind of). Here's our predicament:

The Bonobo documentation seems to imply that the member groups specified in the web.config need to be domain groups. All of the developers have user accounts on an enterprise domain, but it is extremely difficult to have enterprise domain groups created fo

[2016-05-05 08:31] RedX2501 commented on #560
The best solution for you is to use Windows Auth with internal membership. That way  you use Bonobo to manage the groups but the users get to use their regular windows passwords for logging in.

[2016-05-05 15:31] KY4U commented on #556
It appears that the function GetRepository(Guid id) is called on every page load.  Is that really necessary?

[2016-05-06 07:23] willdean commented on #556
@KY4U Thanks for narrowing this down - a number of the bits of database access are grotesquely inefficient, which doesn't tend to matter with small databases on fast filesystems, but clearly is hit by the Azure I/O system.

There is no reason that getting a single repository by Guid (which is the primary key) to be inefficient at all, but some of the 'get all repository' stuff might be subject to

[2016-05-06 11:52] RedX2501 commented on #556
Some time ago i profiled on my local pc and the part that took longest was populating the navigate to repos dropdown.The merging of all i can see with all the I'm admin in took the longest. I had around 1000 repos but no users. It did take about 3 seconds to populate but on first startup what too longest was adding the repos to the db.

Maybe we can rework that part a bit.

[2016-05-06 12:07] willdean commented on #556
@RedX2501 Would you like me to look at this?

[2016-05-06 12:12] KY4U commented on #556
@willdean I have ~110 repos.  By removing the droplist, all pages (except repository listing page) load in ~3 seconds, and my repository listing page loads in 9 seconds.  With the droplist, all pages load in ~ 30 seconds.  Until we can figure out what is causing the bottleneck, my suggestion at this point would be to have the droplist displayed only on the repository page.

[2016-05-06 19:38] willdean commented on #556
@KY4U Would you be able to change RepositoryPermissionService.GetAllPermittedRepositories to look like this:

[code]

Then run this on your Azure instance and report the GetAllPerm line from the log file back here.

With 1000 repos I'm only seeing about 12ms here (fast machine, SSD, etc), so before I dive into trying to optimise this, I'd like to be sure that it's this that's slow for you.

[2016-05-07 08:28] KY4U commented on #556
@willdean

The log file shows the following results:
GetAllPerm: 151
GetAllPerm: 126
GetAllPerm: 167
GetAllPerm: 126
GetAllPerm: 195
GetAllPerm: 170
GetAllPerm: 117
GetAllPerm: 112
GetAllPerm: 126

[2016-05-07 09:06] willdean commented on #556
@KY4U And that was with a 30s page load time?  So the problem's not there, anyway, it's somewhere else.

[2016-05-07 09:38] KY4U commented on #556
@willdean Page load times still 20-30 seconds so I added the timer to the PopulateRepoGoToList function.

PopulateRepoGoToList: 18391
PopulateRepoGoToList: 16075

[2016-05-07 10:05] willdean commented on #556
@KY4U Yup, I see it here - well done.  I'll let you know when it's fixed.

[2016-05-07 10:19] RedX2501 commented on #556
My Profiling showed that it is literally the line with the linq statement that is merging the two lists. I broke it apart and neither sorting nor grouping is the problem.

[2016-05-07 10:24] willdean commented on #556
@RedX2501 It's basically the HasPermission calls - it's confusing to profile because of the IEnumerable deferred execution.   The time is all in GetAllPermittedRepositories, it just didn't show up in my suggested stopwatch code, because the loop hasn't been executed at that point.

Hopefully I'll have it sorted shortly, I'm doing it now.

[2016-05-07 11:18] willdean commented on #556
@KY4U Could you try the changes to RepositoryPermissionService that are in #561, please?

This is a combination of a 'cheat', to hugely enhance the performance for the system administrator, but also a number of other improvements which should be significant even for other users.

I'm going to continue to look at this, because there's more to come here.

[2016-05-07 12:59] KY4U commented on #556
@willdean Very nice!  Page load times 1-3 seconds.  Now that is good work.

[2016-05-07 13:03] willdean commented on #556
@KY4U Thanks!  It was me that messed it up in the first place, so it seems right that I should fix it.

[2016-05-07 13:04] #556 closed

[2016-05-09 19:35] mr-miles opened #562 "AD plugin not working for domain forest"
Hi,

I have set up bonobo git server at my workplace and it is all looking good.  We have a weird AD setup with multiple domains, and I am finding that users from the non-default domain are not able to log in.  I think the problem is that they are not being created as a user in the backend.

I think I've traced this back to UpdateUsers.UpdateUsers.

The code gets the group and enumerates over the

[2016-05-09 19:55] willdean commented on #562
Yes, we would definitely consider a pull-request.   We generally struggle to test/maintain the AD stuff at the moment, so good-quality AD work will probably be well-received.

If you're testing the 5.2 rather than with the code from the master branch, you should definitely work with the master code, because there have been huge changes since 5.x.

I am not looking at the code right now, but ISTR t

[2016-05-10 14:27] Norrehnen opened #563 "Regular expressions in update server side hook."
If I try to run this piece of script in the update hook:

x='foobarbletch'

foobar_re='foo(bar)bl(.*)'

if [[ $x =~ $foobar_re ]] ; then  #(line 12)
    echo The regex matches!
    echo ${BASH_REMATCH[*]}
    echo ${BASH_REMATCH[1]}
    echo ${BASH_REMATCH[2]}
fi

I get an error message:
remote: hooks/update: line 12: conditional binary operator expected
remote: hooks/update: line 12: syntax error

[2016-05-11 08:51] ambrewer opened #565 "Unauthorized for non-administrators when pressing back button from Account\Detail"
If your membership service is read-only, when you click your account you get redirected to the readonly Detail page. The back button on this page takes you back to the Account/Index page. Non-administrators are unauthorized to view this page and get a 403.
Suggest that this back button takes you to the repositories page if you are not an administrator and update button in view like this:

    @if

[2016-05-12 17:23] alexchandel opened #566 "Chocolatey package"
Bonobo should have a package for [Chocolatey](https://chocolatey.org). This would hugely simplify installation and updates, and increase Bonobo's visibility, since there currently aren't any packages that provide a useful Git server. I believe the dependency on IIS can also be expressed in chocolatey.

The install script should be able to extract the files to `C:\inetpub\wwwroot`, change the permi

[2016-05-17 23:33] alexchandel opened #567 "No upgrade path from 3.6, with Basic Authentication, mode="Windows""
In this setup, IIS only uses Basic Authentication, while Bonobo only has `<authentication mode="Windows">` enabled. There is one IIS application, and clients use their AD username/password to log in. But the server configures its own teams.

However, the 5.0/5.2 changelog provides no indication on how these map to 5.2's configuration options. It mentions `<add key="AuthenticationProvider" value="W

[2016-05-18 01:27] alexchandel commented on #567
What's more, even attempting to switch to "ActiveDirectory" results in the deletion of all my repository metadata, losing all the groups and replacing all the descriptions with "Discovered in file system."

[2016-05-18 10:40] RedX2501 commented on #567
`AuthenticationProvider value="windows"` does not keep the passwords in the database in sync anymore but will use those provided by windows ignoring the ones stored in the DB. Therefore they will still be up to date from an user perspective.

[2016-05-18 12:58] alexchandel commented on #567
@RedX2501 Our domain requires users to change their passwords every few months, so being up to date is a necessity.

But this means that, even though I may have `<add key="MembershipService" value="Internal" />`, having `AuthenticationProvider value="windows"` will *still* cause Bonobo to automatically get/create users and sync their passwords with the Windows host machine and, assuming that machi

[2016-05-18 13:13] alexchandel commented on #567
And it appears git command-line authentication (via http) also fails for these accounts. :\

[2016-05-18 13:20] alexchandel commented on #567
There is a lone error message, printed sporadically every few minutes:
[code]

[2016-05-20 15:37] surgiie opened #568 "Accessing Git Server"
Okay so im fairly new to server stuff so i apologize ahead for any redundancy. So im trying to get the bonobo git server on a development server at the place i work at. This server runs Windows Server 2012 and I get Bonobo Server on it no problem and can access it on there no problem but is there a way this server can be accessed on other computers to clone/push from. When i try to clone a test re

[2016-05-20 15:42] willdean commented on #568
What happens it you go to http://ipaddress/Git.Server in a browser on your remote machine?

Bonobo is just a web application running in IIS, so you should be able to access it from any other machine, provided IIS is working correctly and there are no firewall issues.

Try turning the firewall off on the server temporarily to see if that's the issue - if it is then you'll need to add an exception f

[2016-05-20 15:58] surgiie commented on #568
Hi @willdean  Thanks for replying, im hoping you can help me out with this,

So i turned off the windows firewall on the windows server 2012 computer

[2016-05-20 16:02] willdean commented on #568
Can you ping the IP address of the server from the client machine?

[2016-05-20 16:10] surgiie commented on #568
No i am not able to:

 PING IP Address

Pinging IP Address with 32 bytes of data:
Request timed out.
Request timed out.
Request timed out.
Request timed out.

Ping statistics for IP Address
    Packets: Sent = 4, Received = 0, Lost = 4 (100% loss),

But if i Ping the my workstation ip from the server it seems to do it successfully,

[2016-05-22 18:56] RedX2501 commented on #568
Configure your Webserver without Bonobo until you can see the welcome screen from the pcs you wish to access the server from. Until this is done we can't help you much.

Then you install Bonobo and see if it is reachable. Should it not work then please reopen this issue.

[2016-05-22 18:56] #568 closed

[2016-05-22 18:59] RedX2501 commented on #567
It's because it will not sync the account information. It will fetch once the users information, except for password and store it in the db. When using Windows auth Bonobo never sees your password.

On every authentication it will query the server if the password is ok.

The format of the url might have changed, not sure though.

[2016-05-23 06:54] jansor opened #569 "Update to the lateste version of git and Bash"
Hi,

Maybe not really an issue, it would be nice to have the latest version of GIT and Bash inside the next update. currently i experience some issues as we try to use features from GIT v2.8.2 and Bash 4.3
Bonoboo only has Git 1.8 and Bash 3.1

One solution is to update to the latest version, or make bonobo more flexible, by an option to choose the default setting, internal GIT, or by pointing to

[2016-05-23 10:02] lkho opened #570 "Problem with markdown rendering"
It seems the current markdown library MarkdownDeep is not rendering some of the text correctly, especially code blocks. Would it be better if changed to the CommonMark.NET implementation? Since I think it conforms to the standard and compatible with popular sites such as GitHub.

[2016-05-28 09:32] OmidID opened #572 "Branch permission"
Is it possible to grant access to somebody to push only on specific branch or deny to some branch.
For example i would like to give access to all programmer to push dev-* branches and grant access to CTO for master and everywhere.
Also if it's possible to do like this:
Username: omid
Branch to access: dev-omid
Same as pattern "dev-[Username]"

So in this way I can grant access to all programmer to

[2016-05-28 09:37] RedX2501 commented on #572
You should be able to do this using commit hooks on your repository. It is not the goal of Bonobo to provide fine grained user access controls.

[2016-05-28 09:37] #572 closed

[2016-05-31 14:21] zdzislaw opened #573 "Optional init GitFlow in repositories"
I'm working using gitflow in every repository, and I'm almost finishing this feature.
In my solution I use Git for Windows (https://git-for-windows.github.io/), and execute the command "git flow init -d" in arguments of System.Diagnostics.Process on the File "git-cmd.exe".
And I put new propertiy in RepositoryModel to help me decide if I execute this command or not, and if this repository already

[2016-06-01 05:23] suntsu42 opened #574 "Howto set the baseurl when running bonoboy behind a proxy"
My bonobo git server is accessible via http://bonobofoo.com which is the configured address of my ngnix proxy. The actual address of the git server is http://bonobofoo.com:8080.
When i now want to get the address of a git repository in order to clone it locally, the addresses are shown with port 8080 which is not accessible.
Is there a way to set the BaseURL for the bonobo server?

[2016-06-02 19:43] sedotakj commented on #558
I'm having thew same problem. No amount of config changes let me use AD users.
What should be the Web Site's IIS Authentication?
Should Basic Authentication be enabled? Should Windows Authentication be Enabled?
Does the AppPool need to run as any special user?
What are the meanings of the config entries ActiveDirectoryMemberGroupName, ActiveDirectoryTeamMapping and ActiveDirectoryRoleMapping?

[2016-06-11 22:23] m-salazar opened #575 "The 5.2 zip from https://bonobogitserver.com/ is incomplete"
It appears some resources are missing from the zip from https://bonobogitserver.com/. For example:
GET
`https://localhost/Bonobo.Git.Server/Content/components/font-awesome/fonts/fontawesome-webfont.woff2`
is not present, but is present on the 5.2 tag of this repo.
`https://github.com/jakubgarfield/Bonobo-Git-Server/tree/5.2/Bonobo.Git.Server/Content/components/font-awesome/fonts`
You may wish to a

[2016-06-15 19:24] kire62 opened #576 "5.2 - Domain and back slash causing 404 errors"
I am using 5.2 with windows authentication. The windows authentication is working, but only if {domain}\{username} is used. So in the database the usernames must be formatted like this. However when this username is placed in the url it is encoded and comes out as {domain}%5c{username}, i.e:

`Account/na%5Ckiresuah/Edit`

This causes a 404 error - I guess because the user na%5Ckiresuah does not ex

[2016-06-16 10:17] simoneb commented on #574
bump

[2016-06-16 10:46] willdean commented on #574
Does the clone work OK if you use the proper URL?   i.e. is your problem just that the URL shown on the repository page is incorrect?

[2016-06-16 10:46] simoneb commented on #574
exactly. not a bit deal of course

[2016-06-16 12:18] lennartvdd commented on #271
Yes. Weirdly enough the issue persisted for a while until PHP was upgraded from v5.3 to v5.4 in IIS.
Leaving this here for future reference.

[2016-06-17 19:00] WisconsinWildcat opened #577 "Bonobo Git Server Detailed Commits Log Listing Available?"
I would like to get a list of all commits to one repository showing file, author, date, time, and perhaps the comment so I can weed through what needs to go to staging and what needs to be put into the upcoming features list.

Is this already possible?   Spreadsheet or CSV format, XML, anything structured like that would be nice.

Thanks!
RLS

[2016-06-17 19:57] willdean commented on #577
You should be able to do this just using normal Git client stuff - see, for example, https://git-scm.com/docs/git-log

[2016-06-20 23:40] npbenjohnson commented on #570
It would be nice to get this, or atleast an option of markdown providers since the markdown generators I use generally make something more functional and nicer looking with github markdown enabled.

[2016-06-21 07:29] RedX2501 commented on #570
Can you maybe post some screenshots to evaluate if it is worth the trouble?

[2016-06-21 07:29] #577 closed

[2016-06-21 07:29] RedX2501 commented on #575
@jakubgarfield Can you check this out?

[2016-06-21 07:31] RedX2501 commented on #569
@jakubgarfield What do I need to do to update to the latest version?

[2016-06-21 07:32] RedX2501 commented on #563
Internally we still are on an old version of git which only provides bash 3.1. You must check if they are compatible with that version.

[2016-06-21 08:53] jatpat opened #578 "Unable to login into demo website"
I tried to view recent development on [ demo website ](http://demo.bonobogitserver.com/)   but I was not able to login with **admin:admin** user credentials.

I think someone changed password of admin account.

Can you reset it?

[2016-06-21 10:33] lkho commented on #570
sample md: https://github.com/mikecao/flight/blob/master/README.md
v5.1.1:
![5 1 1](https://cloud.githubusercontent.com/assets/7780243/16226552/86f02308-37de-11e6-9c1e-8e35e8ed6f88.png)

v6.0.0 up to lkho@607429cb7a56f5f09186fc714233a2c0a73483a2:
![6 0 0](https://cloud.githubusercontent.com/assets/7780243/16226557/8a24d1cc-37de-11e6-90ca-2df878c80d74.png)

[2016-06-21 12:52] RedX2501 commented on #570
It seems you already have implemented it in your branch, can you create a pull request with the changes? Please also update the changelog file.

[2016-06-21 21:38] jakubgarfield commented on #569
I think it is actually configurable as per https://github.com/jakubgarfield/Bonobo-Git-Server/blob/4aad0cd47a27d276ef08d9a0d0f5d45cb8b08263/Bonobo.Git.Server/Global.asax.cs#L163 and it is driven by the value in web.config https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/Bonobo.Git.Server/web.config#L14

For updating the version, you need to download the msysgit executables, replace t

[2016-06-21 21:39] jakubgarfield commented on #575
I published only what was build by the AppVeyor, I'll have a closer look next week when I'm back at my Windows machine.

[2016-06-27 05:51] #541 closed

[2016-06-27 06:48] jakubgarfield commented on #575
It looks like the fontawesome-webfont.woff2 is not included in the csproj file.

Would you mind to include it and submit a PR? Also, is there problem with any other file that's not part of the build but should be? The fix will be the same, just include to csproj and it should be part of the release.

[2016-06-27 09:09] RedX2501 commented on #578
User: admin Pwd: admin working fine here

[2016-06-27 09:09] #578 closed

[2016-06-27 09:10] jatpat commented on #578
Thank you

[2016-06-27 09:28] RedX2501 commented on #576
We are working on providing a 6.0 release which will fix this issue. If you are comfortable with nightly builds you can try  this relesease:

https://ci.appveyor.com/api/buildjobs/dubdgi04r7yc4k39/artifacts/bonobo-git-server-3911399-abb594f8051878c216bf76ea6d1bb491ed09e4d2.zip

**Beware this will update your database to the latest format.**

[2016-06-27 09:28] #576 closed

[2016-06-27 09:34] RedX2501 commented on #567
Your setup should be `<AuthenticationProvider value='Windows'/>` with `<MembershipService value='Internal' />`

This should keep all the data you already have. This will also use the passwords provided by your domain, meaning that the user will use their domain usernames and passwords and they will be updated when they are changed in the domain (we never store them locally). If you have `\` in you

[2016-06-27 09:38] #565 closed

[2016-06-27 09:40] RedX2501 commented on #555
@CrispinF The latest version in #580 should now keep your metadata. Can you try it out again?

[2016-07-01 00:53] petruchito opened #582 "Install guide correction"
For Windows 7 64bit there should be
`%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_regiis.
exe -ir` in the installation guide.

One from the readme.md leads to "Unrecognized element 'folderLevelBuildProviders'" error.

[2016-07-05 23:53] neetle opened #583 "[feature request] Add a way to control who can delete repositories"
Hey, looking at using this at an enterprise environment. It would be good to be able to deny users deletion rights on repositories.

[2016-07-08 17:29] RedX2501 commented on #583
Only administrators can delete/create repositories.

[2016-07-08 17:29] #583 closed

[2016-07-18 06:28] #582 closed

[2016-07-18 13:20] KY4U opened #586 "jquery 1.4.4 vulnerabilities"
My latest scan of Bonobo shows the following issues:

Vulnerable Javascript library
Vulnerability description:  You are using a vulnerable Javascript library. One or more vulnerabilities were reported for this version of the Javascript library.   Detected Javascript library jquery version 1.4.4.
The version was detected from filename, file content.

This vulnerability affects /git/scripts/jquery-1

[2016-07-20 02:06] NgYueHong opened #587 "When will version 6 be released?"
May I know when will version 6 plan to be released?

[2016-07-21 10:09] RedX2501 commented on #587
We are trying to iron out the last few problems but there is no date
currently.

On Jul 20, 2016 04:06, "NgYueHong" <notifications@github.com> wrote:

[2016-07-22 17:40] jvmbatista opened #588 "Repository Grouping with 'physical' representation?"
Is there any way to replicate the repository grouping feature as a folder structure, instead of having everything in the repositories root?

[2016-07-24 06:31] iamkarlson opened #590 "What is the links for?"
What is a linkify? What is a purpose of that? I haven't found answer in code and in documentation..

[2016-07-24 10:12] RedX2501 commented on #590
What links are you talking about? Can you post a picture?

[2016-07-24 10:17] RedX2501 commented on #588
Currently no such plan exists. Not sure it is such a good idea as it makes renaming groups much more complicated.

[2016-07-24 10:17] #588 closed

[2016-07-24 12:01] iamkarlson commented on #590
![screenshot_0804](https://cloud.githubusercontent.com/assets/4534374/17083628/c84fccde-51b7-11e6-89b7-9880ca1daa28.png)

This option in the settings

[2016-07-24 14:47] RedX2501 commented on #590
Ever notice that when you post an issue/pull request like #80 on Github it will automatically convert to a link? That option is there exactly for this purpose. This allows you to define a regex that the commit text will be matched against and every match will be converted to a link using the url.

[2016-07-24 14:47] #590 closed

[2016-07-31 15:25] hypervtechnics opened #592 "When the new version will be released ?"

[2016-07-31 15:26] #592 closed

[2016-08-01 14:53] lpdourado opened #593 "Bonobo Git error: “requested url returned error 500”"
Hello,

I need some help with the problem that I cannot solve.

I have a Windows Server 2012 where I have an IIS 8 installed. Also I installed the Bonobo Git Server with my SSL certificate (that I bought, not created).

When I access via browser, using HTTPS everything it's working, I can get the website, logon (on Bonobo), see my certificate correctly, everything, both internal and external acces

[2016-08-01 15:30] willdean commented on #593
https:///.git/ can't be a real reposistory URL, because there's no domain name and no repository name.

Where are you getting that URL from?

[2016-08-02 16:19] lpdourado commented on #593
Hello,
I was my mistake when I create this post. It's missing the subdomain and the domain.
But, I've already solve the problem.

I create a new Bonobo installation on IIS server and now it's working fine.
Probably there was some file in Bonobo's folder with some error or missing.

Thank you for your help.

[2016-08-02 16:19] #593 closed

[2016-08-02 20:02] cphillips83 opened #594 "sub directory application can't be cloned"
Following the installation instructions I created a folder called `git` instead of `Bonobo.Git.Server` and followed the convert to application process under default website. This site is also sitting behind an nginx proxy with https off loading.

The issue here is 2 fold, first all the URLs in Bonobo are created incorrectly and point to http, so I had to create a universal redirect https rule in n

[2016-08-03 05:53] RedX2501 commented on #594
Domain domain.com/git should not be a problem as i have the same setup. My
iis also only serves the page on https and it does generate all URLs
correctly.

Not sure what is causing those problems for you.

On Aug 2, 2016 22:02, "Chris Phillips" <notifications@github.com> wrote:

[2016-08-03 15:08] cphillips83 commented on #594
@RedX2501 Sorry I didn't explain it well, my difference is I have nginx sitting in front of IIS off loading all HTTPS, this means that nginx contacts IIS over http as a proxy. So in IIS its setup and sees its self as an http site not https which makes it generate all links as http. I linked an issue that has the same problem #574

[2016-08-04 06:35] manoj0007 commented on #494
the variables AUTH_USER and REMOTE_USER are not available on server side!!

[2016-08-04 12:10] RedX2501 commented on #494
@manoj0007 Can you be a little bit more explicit? what dou you mean? How did you try it out? What Bonobo version are you using?

[2016-08-05 04:20] sgosulazc commented on #494
**@manoj0007:** If you want to get user information inside the web application then you can get it from HttpContext.Current.User. You will get details like Id, Name and Roles etc and It internally uses claims get fetch values.

[2016-08-07 16:32] sungyeolyang opened #595 "Hangul file name non-compliant? (South Korea 2-byte languages)"
While I use the current version 4.0.

The results I saved some of the project, found the problem.

I have a document that has been made in some of the Hangul title in the project.

This is not present in the ZIP file you downloaded from the source server.
(Missing file)

I result was confirmed by a local, it certainly has been committed.

However, it will not be able to download from the GIT serve

[2016-08-12 13:17] david-bla opened #596 "Blank Page after fresh Bonobo.Git.Server installation on IIS8"
Hi, my system is a Windows Server2012 running IIS8.
I downloaded Bonobo.Git.Server from GitHub and followed the instructions...
Checked the Prerequisites, Copy and Decompress files to /inetpub/.
Changed Permissions, convert to application enable auth.. and ive a blank page if i connect to localhost/Bonobo.Git.Server (just firefox) in real i got Status 403.
The IE shows this error.
If i dieable the

[2016-08-16 14:27] flaviocarmo opened #597 "Prevent Git history re-writes with denyNonFastForwards"
Hi, some users on my server manage to rewrite the commit history by doing a `git push --force` . Searching on the git docs, i found on [Git Book](https://git-scm.com/book/ch8-1.html) that to prevent this, the following setting is needed on the git server:

`git config --system receive.denyNonFastForwards true`

If i run this on the server machine, it will change the git client config, right?

How

[2016-08-17 07:48] softlion commented on #596
I have the exact same config and it works out of the box. Check the windows events logs for details of this failure, and fix it.

[2016-08-17 08:07] david-bla commented on #596
there are no logs @ windows eventlog :/
this IIS runs also PHP ...maybe this could be an issue..
the iis logfile shows just the connection.. maybe run a dedicated (new) server for bonobgit or go to unix and using gitlab would be better... but id like to solve this isue anyway.....

[2016-08-17 18:20] RobertMcCoy commented on #558
Sedotakj, did you ever get this working? I'm getting stuck on the basic authentication. It just keeps prompting me for my username/password every time I go to the site, and it never takes any type of input as valid. Getting pretty frustrated with this, and I think I might find an alternative if I can't find someone who has gotten this working yet.

[2016-08-17 19:46] willdean commented on #558
@RobertMcCoy Can you say which version of bonobo you're running and post the relevant bit of your web.config?

[2016-08-18 14:11] RobertMcCoy commented on #558
@willdean I'm running v. 6.0.0.433

`
    <add key="AuthenticationProvider" value="Windows" />
    <add key="ImportWindowsAuthUsersAsAdmin" value="false" />

    <add key="MembershipService" value="ActiveDirectory" />
    <add key="ActiveDirectoryDefaultDomain" value="[Hidden For Github Issue]" />
    <add key="ActiveDirectoryBackendPath" value="~\App_Data\ADBackend" />
    <add key="ActiveDirecto

[2016-08-31 16:30] frankandrobot opened #598 "git clone depth=1 not working"
It works fine without `depth=1` flag i.e., the command `git clone <repo>` works just fine.
However, as soon as I try with `depth=1` (needed by JSPM registry), it fails with the errors below.
The wierd thing is that I have an identical server with the same setup and it works.

[code]

Settings:
-   git bonobo 1.5.2
-   windows server 2012 r2

[2016-09-12 10:29] jvmbatista opened #599 "I have a few questions."
Hi all, I've been using the server for a while now but I have a few questions that I couldn't figure out.

1- Do we have a limit of repositories?
 - We might need something like 50/60 repositories for starters.

2- How to set up users permissions?
 - I need to setup Users/Teams permissions in a read/write manner. Something like Dev and Dev(ReadOnly). This would be done either via repository or Tea

[2016-09-12 18:38] willdean commented on #599
1 - No, there's no limit
2 - I don't think you can do that - the latest version at GH which isn't quite released yet might have better options there
3 - There's no logging like that in Bonobo

[2016-09-12 18:41] willdean commented on #598
Can you try the latest version from here?

https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/artifacts

Make sure you take a backup of everything first, as there's a one-way database migration to this version, but it fixes a lot of bugs.

[2016-09-19 03:57] NgYueHong commented on #587
What happen to this project? The last commit was 2 months ago?

[2016-09-19 19:46] Trapulo commented on #587
I really hope is alive...

[2016-09-19 20:26] willdean commented on #587
I don't think it's dead, and a bunch of people did a lot of work on 6.x which is now basically done.   There are some open issues around AD integration which are very difficult/tiresome for the current devs to test, and not everyone who reports AD issues is able to keep testing and retesting on behalf of the project.

The original owner of the project is not as active on it as he once was, and tha

[2016-09-19 20:31] willdean commented on #596
http://localhost/Bonobo.Git.Server this doesn't look like a sensible base URL - you're possibly tripping over some of the rules about dots in IIS paths.

I'm afraid I'm going to close this because it's beyond the limited resources of the Bonobo devs to help with every possible IIS setup issue.

[2016-09-19 20:31] #596 closed

[2016-09-19 20:35] willdean commented on #586
If you want to try an update yourself, it's probably quicker and easier to update to the latest in the 1.x line, as they're much less likely to cause a problem than going all the way to 3.x

It could be helpful if you said what tool you were running for the scan and what the vulnerability was.

[2016-09-19 20:39] #570 closed

[2016-09-19 21:06] willdean commented on #558
@RobertMcCoy Sorry for such a slow reply.  If you're still happy to look at this, could you go to http://<myserver>/Home/Diagnostics and post the result here (have a look if there's any bits you want to redact first).

You'll need to do this on the server, as it won't serve this page remotely.

[2016-09-19 21:07] #560 closed

[2016-09-19 21:07] #518 closed

[2016-09-19 21:08] #521 closed

[2016-09-19 21:08] #540 closed

[2016-09-19 21:37] jakubgarfield commented on #587
@willdean any idea what would help the project in terms of ownership? I'm pretty sure that it's time for me to move on as I basically did it for the past few months and left you, @RedX2501, @larshg and @latop2604 to take care of the project.

[2016-09-19 22:08] willdean commented on #587
@jakubgarfield That's a good question - I don't personally want any more responsibility for it, and in scale/complexity (particularly of the auth/identity test matrix) I think it's rather outgrown every individual who's been involved.

@RedX2501 was doing a fantastic job of keeping it all going, but I rather abandoned him because of work commitments earlier in the year (which have now passed) and

[2016-09-20 14:03] Trapulo commented on #587
Releasing a 6.0 with well known problems is not a great idea IMHO. For example, I use AD integration. If I upgrade the app and it starts to create problems I will lose confidence with that app and maybe will stop using it.
I don't know what is this AD problem in detail. If there is a way to maintain existing functionalities without trouble, a beta can be acceptable waiting for new feature.

[2016-09-20 14:47] willdean commented on #587
@Trapulo Do you have AD issues you know about with the current version (either 6 or 5.x)?  Would you be able to help debug them?

[2016-09-20 14:59] Trapulo commented on #587
I'm using 5.2.0 with AD and it works really well.
If I can help, I can do some test if it's not too complex.

[2016-09-20 15:04] willdean commented on #587
@Trapulo You can get the latest build from https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/artifacts - if you'd like to try that, take a backup of everything in you 5.2 install first.

Please open another issue if you have any problems.

[2016-09-20 20:09] Trapulo commented on #587
@willdean  tried to update to last build. Lost every repo details (users permissions, logos, and other details) but all seems ok. Tried a little sync and commit from Visual Studio and all seems ok. Is there some specific trouble may I search?

[2016-09-20 20:37] willdean opened #602 "AD Install loses repo settings in upgrade from 5.2 to 6.0 pre-release"
In #587 @Trapulo posted

@Trapulo, assuming you have a backup copy of your old 5.2 install, could you see if you have an "ADBackend" directory in app_data for both 5.2 and 6.0 installs, and if you can see any obvious difference between the files in the "Repos" subdirectory in both installs.

I don't think it should have lost all your repo settings on that upgrade.

[2016-09-20 20:38] willdean commented on #587
@Trapulo Could you look at case #602 please?

[2016-09-21 06:49] Trapulo commented on #602
Yes, I have ADBackend in both. Folder structure is same. Files seem same. The only difference is in \Users, where I found two file in the new, and just one (fine different guid-name) in the old one.

The old one contains data for an "Administrator" user with two domain members. The new one contains a different file for same two domain users. I think you changed something in user management and see

[2016-09-21 15:34] KY4U commented on #586
Acunetix Web Vulnerability Scanner v10.5

Vulnerability listed in my original post.

References:
[http://research.insecurelabs.org/jquery/test/](http://research.insecurelabs.org/jquery/test/)
[https://bugs.jquery.com/ticket/9521](https://bugs.jquery.com/ticket/9521l)
[https://bugs.jquery.com/ticket/11290](https://bugs.jquery.com/ticket/11290)
[https://bugs.jquery.com/ticket/2432](https://bugs.jque

[2016-09-23 10:42] shnigganoo commented on #59
hi, I see this has been closed but it's still broken in the latest release.  Any chance this will be fixed soon.  I am running version 5.2.0.0 and have the same issue as commented by KY4U on Aug 7, 2015.

Thanks

[2016-09-23 10:54] willdean commented on #59
I think you'll find it's fixed in 6.0 - you can get the latest pre-release version of that from the AppVeyor link on the front page (look in the AppVeyor Artifacts) .

Take a backup of you database before upgrading, because 6.0 does a big database mod.

[2016-09-25 20:04] RedX2501 commented on #587
@willdean Hi, I have taken a step back also mostly due to my current work load + I moved back from abroad so I got a life going on again. Plus I'm actually waiting for your feedback/testing on #580. If I know it's good we are almost done with the todo list for 6.0.

[2016-09-25 20:26] willdean commented on #602
@trapulo It looks like losing all your settings on an upgrade might be a duplicate of this issue: #580

I'm going to try and test this here, but if you're able to go back to your 5.2 installation, could you try upgrading from 5.2 to this version here: https://ci.appveyor.com/project/jakubgarfield/bonobo-git-server/build/437/artifacts and see if all your settings are preserved.  Thanks.

[2016-09-26 17:32] willdean opened #603 "AD backend should use Id rather than name for generating filename"
At the moment 'GetItemFilename' in 'ADBackendStore` uses item.Name to generate a filename.  This means that items will be lost if they're renamed.

Given that we're doing a comprehensive upgrade of the ADBackend data as part of the work in #580, we should change the GetFileName code to use Id rather than name.